docs/n8n/Add Final Output Node to UGC Workflow.json
{
  "name": "Add Final Output Node to UGC Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -80,
        816
      ],
      "id": "7a9df3cd-0589-41bc-add0-1fdd2c4e4d4d",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        816
      ],
      "id": "8939043f-70ec-42e8-86cc-2fc63c33932b",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        144,
        672
      ],
      "id": "c40c1cd0-1bc7-4909-915c-11e6de8f5f04",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\":\"{{ $('Split Out').item.json.video_prompt\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\"/g, '\\\\\"') }}\",\n  \"model\": \"{{ $('Split Out').item.json.model }}\",\n  \"aspectRatio\": \"{{ $('Split Out').item.json.aspect_ratio_video }}\",\n  \"imageUrls\": \"{{ $('Get Image').first().json.data.response.resultUrls[0] }}\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        160
      ],
      "id": "afcbfb9f-813e-4388-b4a6-04bdc8abcf64",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        416
      ],
      "id": "95281796-f186-496c-be4b-fedebef6d922",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 100
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -32,
        288
      ],
      "id": "d28979d0-e175-409b-bd2b-bb981f0feea2",
      "name": "Wait 2",
      "webhookId": "98a829fa-aa5d-451d-8ca7-7d48456636ec"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -432,
        288
      ],
      "id": "4f688882-09fa-4d9d-bd50-5f0ed93a33eb",
      "name": "Wait 3",
      "webhookId": "dd1ae21c-d2bc-47de-91d3-f2bb9d6648f8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        544
      ],
      "id": "5b0c0374-6d70-4755-a8e3-1043e656069a",
      "name": "If "
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        368,
        672
      ],
      "id": "6e437447-0b9a-433b-a23b-7500b34eedbf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        288
      ],
      "id": "b0bc666b-b24d-4b4b-8f6a-d1c7bd1a485b",
      "name": "Wait",
      "webhookId": "982727e9-9948-4d33-b682-9907e053efb0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create video prompts as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\nFor each of the scenes, make sure the dialogue runs continuously and makes sense. And always have the character just talk about the product and its benefits based on what you understand about the brand, and how it's used. So if it's a drink, talk about the taste; if it's a bag, talk about the design; if it's tech, talk about its features, and so on.\n\nIf the character will mention the brand name, only do so in the FIRST scene.\n\nUnless stated by the user, do not have the character open or eat or use the product. they are just showing it to the camera.\n\nIf the number of videos is not stated, generate 3 scenes.\n\n***\n\nThese are the user's instructions\n{{ $('When Executed by Another Workflow').item.json.userText }} make sure actor and voice stay the same in all scenes. no arabic text or captions on the screen.\n\n***\n\nCount of videos to create: inferred based on their message above. Each video will be 8 seconds long, so calculate how many videos you need to generate based on the user's desired total duration\n\n***\nDescription of the reference image/s. Just use this to understand who the product or character is, don't use it as basis for the dialogue.\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\nThe user's preferred model: inferred based on their message above, default is veo3_fast if not given\n\nThe user's preferred dialogue script: inferred based on their message above, suggest a script \n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: UGC-Style Veo3/Veo3_fast Prompt Generator (Video-Only)\n\n  You are a UGC (User-Generated Content) AI agent.  \n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo/video style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n\n  We need these videos to look natural and real. So in the prompts, have the Camera parameter always use keywords like these: unremarkable amateur iPhone photos, reddit image, snapchat video, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  If the dialogue is not provided by the user or you are explicitly asked to create it, generate a casual, conversational line under 150 characters, as if a person were speaking naturally to a friend while talking about the product. Avoid overly formal or sales-like language. The tone should feel authentic, spontaneous, and relatable, matching the UGC style. Use ... to indicate pauses, and avoid special characters like em dashes or hyphens. If the dialogue language was specified by the user, use it in the langauge: paramter in the prompt. If no lanaguge was set by the user, make dialoge language the same languaeg as the user's prompt language.\n\nExcept for the user's required dialogue script (if provided and needs to be passed in the prompt verbatim) or required language, the prompt itself should always be generated in English.\n\n\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical/horizontal context; default to vertical if unspecified.\n\n    **Scene count rule:**  \n    - Read the user's requested total video duration and the per-video length (in seconds).  \n    - Calculate the required number of videos by dividing total duration by per-video length, rounding **up** to the nearest integer.  \n    - Output **exactly that many scenes**.  \n    - Never output more or fewer scenes than requested.\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Use provided scene list when available.\n    - Do not use double quotes in any part of the prompts.\n\n  E – Examples:\n    good_examples (in this example the user requested arabic narration):\n      - |\n        {\n          \"scenes\": [\n            {\n              \"video_prompt\": \"dialogue: so tikTok made me buy this... honestly its the best tasting fruit beer in sydney and they donate profits to charity...\\naction: character sits in drivers seat of a parked car, holding the beer can casually while speaking\\ncamera: amateur iphone selfie video, uneven framing, natural daylight\\nemotion: very happy, casual excitement\\nnarration language: arabic\\ntype: veo3_fast\",\n              \"aspect_ratio_video\": \"9:16\",\n              \"model\": \"veo3_fast\"\n            }\n          ]\n        }\n\n  N – Notation:\n    - Final output is a `\"scenes\"` array at the root level.\n    - The array must contain **exactly `scene_count`** objects, where `scene_count` is the user-calculated number.\n    - Each scene contains:\n      - `video_prompt` → stringified YAML with: dialogue, emotion, voice_type, action, character, setting, camera\n      - `aspect_ratio_video` → \"9:16\" or \"16:9\" (default vertical → 9:16)\n      - `model` → \"veo3\" or \"veo3_fast\"\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, diversity, adherence to style, and that the number of scenes exactly matches the requested count.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -144,
        672
      ],
      "id": "95d45aba-61a5-4f8c-9089-9c157146f426",
      "name": "UGCRobo - Video AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\n***\n\n\nThese are the user's instructions\n{{ $('When Executed by Another Workflow').item.json.userText }}\n***\nDescription of the reference image:\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT:  Image Prompt Generator\n\n\nDefault: If the user's instructions are not very detailed, just default the prompt to: put this (product) into the scene with the (character). \n\n***\n\nIf the user wants UGC authentic casual content: Use **casual UGC-style scenes** unless the user specifies otherwise, and follow the instructions below.\n\n  If the user explicitly requests a different style or setting, follow their instructions.\n\n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin, texture flaws)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n    - Always preserve all visible product **text accurately** (logos, slogans, packaging claims). Never invent extra claims or numbers.\n\n  **Camera parameter** must always include casual realism descriptors such as:  \n  unremarkable amateur iPhone photos, reddit image, snapchat photo, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  **Dialogue/video generation is not required. Only image prompts are generated.**\n\nAvoid mentioning the name of any copyrighted characters in the prompt\n\n  ---\n\n  A – Ask:\n    Generate **image generation instructions only** for AI models based on the user’s request, ensuring exact YAML format.  \n    Default to **vertical aspect ratio** if unspecified.  \n    Always include both:\n      - `image_prompt` (stringified YAML with scene details)  \n      - `aspect_ratio_image` (\"3:2\" or \"2:3\")  \n\n  ---\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Default to casual real-world environments unless a setting is explicitly specified.\n    - Avoid double quotes in the image prompts.\n\n  ---\n\n  E – Examples:\n    🟢 good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"image_prompt\": \"action: character holds product naturally\\ncharacter: infer from the reference image\\nproduct: show product with all visible text clear and accurate\\nsetting: infer from the image or from user instruction\\ncamera: amateur iPhone photo, casual selfie, uneven framing, slightly blurry\\nstyle: candid UGC look, no filters, imperfections intact\\ntext_accuracy: preserve all visible text exactly as in reference image\"}]\n,\n              \"aspect_ratio_image\": \"2:3\"\n            }\n          ]\n        }\n    🔴 bad_examples:\n      - Altering or fabricating product packaging text\n\n  ---\n\n  N – Notation:\n    - Final output is an object containing only:\n      - `image_prompt` → stringified YAMLy\n      - `aspect_ratio_image` → \"3:2\" or \"2:3\" (default vertical → 2:3)\n\n  ---\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, text accuracy, adherence to UGC realism, and that **only image outputs** are returned.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -448,
        672
      ],
      "id": "0dcbacac-0370-4c5b-a78b-612d57bea280",
      "name": "UGCRobo - Image AI Agent"
    },
    {
      "parameters": {
        "content": "# Step 1:\n## Single Image",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        0
      ],
      "id": "024eb186-c795-4496-b970-9335c5ad9dd5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Step 2:\n## Multiple Clips",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "8e398b2b-6f9d-46e1-95e0-1dd90bb74c1d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Step 3:\n## Combine Video",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        0
      ],
      "id": "428f0142-4f1d-4107-8bd8-de0f69eb5dd9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.imageUrl }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -624,
        672
      ],
      "id": "7ddfccba-d728-46f1-afee-1fc1a852552e",
      "name": "Describe Img",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"video_prompt\": \"dialogue: ...\\naction: ...\\ncamera: ...\\nemotion: ...\\nvoice_type: ...\\ncharacter: ...\\nsetting: ...\",\n      \"aspect_ratio_video\": \"9:16\",\n      \"model\": \"veo3_fast\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        816
      ],
      "id": "c47c4e3a-708e-4aea-857f-86bab4b1d2ed",
      "name": "Structured Output 1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"emotion: ...\\naction: ...\\ncharacter: ...\\nproduct: ...\\nsetting: ...\\ncamera: ...\\nstyle: ...\\ncomposition: ...\\nlighting: ...\\ncolor_palette: ...\\ntypography: ...\\ntext_accuracy: ...\",\n  \"aspect_ratio_image\": \"2:3\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -496,
        816
      ],
      "id": "01aaef1d-cb63-490b-8a40-9605c643d849",
      "name": "Structured Output 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filesUrl\": [\"{{ $('When Executed by Another Workflow').item.json.imageUrl }}\"],\n\"prompt\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"size\": \"{{ $json.output.aspect_ratio_image }}\",\n  \"nVariants\": 1\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        160
      ],
      "id": "d1aef04a-2859-4a44-8dcc-63b48b554972",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image').first().json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        416
      ],
      "id": "aefe730f-2c38-42e7-8f91-26c9be748c6f",
      "name": "Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        160
      ],
      "id": "d3b0ed4e-28ab-4116-b0fc-7490820362d1",
      "name": "Combine Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Combine Clips').first().json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        416
      ],
      "id": "add0ad90-6a07-47c5-8708-9d8c2fe33104",
      "name": "Get Final Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.video.url }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        544
      ],
      "id": "2ca7e188-24cb-487a-a13c-a2a186d5e75c",
      "name": "If 2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "imageUrl"
            },
            {
              "name": "clientId"
            },
            {
              "name": "userText"
            },
            {
              "name": "jobId"
            }
          ]
        }
      },
      "id": "a38b77ca-d4b4-4452-98a3-b573ae68d5ba",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -896,
        672
      ]
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        880,
        496
      ],
      "id": "f06c54a8-2a08-449b-955e-e92db9565499",
      "name": "Upload media",
      "webhookId": "cc81e2fd-ef11-4d41-9af8-8d6246738e61",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FINAL node - read explicitly from Upload media\nconst workflowInput = $('When Executed by Another Workflow').item.json;\nconst upload = $('Upload media').first()?.json;     // <- force source\nconst errorIn = $input.first()?.json;               // optional: keep for error passthrough\n\nif (upload?.id || upload?.video_media_id) {\n  return [{ json: { video_media_id: upload.id || upload.video_media_id } }];\n}\n\nif (errorIn?.ugc_error === true) {\n  return [{ json: { success: false, ugc_error: true, error_message: errorIn.error_message, clientId: errorIn.clientId } }];\n}\n\nreturn [{ json: { success: false, error_message: '❌ Video processing failed. Please try again.', clientId: workflowInput.clientId, ugc_error: false } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        496
      ],
      "id": "8331044f-61c6-48af-be1b-ebca94dd3aad",
      "name": "Return Final Result"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -2192,
        2160
      ],
      "id": "82554c42-272c-4f2f-bfab-c79ca2e99a2c",
      "name": "Think1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2128,
        2368
      ],
      "id": "84cbe4be-5df6-4738-8124-582204763cc2",
      "name": "GPT1",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -432,
        1936
      ],
      "id": "1f054d4c-4ed3-4fdd-b19a-9d4ad09ecb86",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\":\"{{ $('Split Out1').item.json.video_prompt\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\"/g, '\\\\\"') }}\",\n  \"model\": \"{{ $('Split Out1').item.json.model }}\",\n  \"aspectRatio\": \"{{ $('Split Out1').item.json.aspect_ratio_video }}\",\n  \"imageUrls\": \"{{ $('Get Image1').first().json.data.response.resultUrls[0] }}\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        1936
      ],
      "id": "0d8a2072-a8ea-4ae0-af6e-11183b1d43f6",
      "name": "Create Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video1').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        1936
      ],
      "id": "d5329d2e-018d-4f39-a572-13a368532a68",
      "name": "Get Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 100
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        1936
      ],
      "id": "06379b16-97a9-4dd9-a9aa-9da6f2bddbe6",
      "name": "Wait ",
      "webhookId": "98a829fa-aa5d-451d-8ca7-7d48456636ec"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1472,
        1936
      ],
      "id": "a6b93923-6f21-40f5-a3fd-e08cd32011d6",
      "name": "Wait 4",
      "webhookId": "dd1ae21c-d2bc-47de-91d3-f2bb9d6648f8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        1936
      ],
      "id": "f2425806-c4d3-44c0-8bf9-e2304657e626",
      "name": "If 1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        464,
        1936
      ],
      "id": "7af8824e-22f0-4850-90a0-85afee678f47",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        1936
      ],
      "id": "735cb9f1-9054-48f1-bc0c-f6a554af8b32",
      "name": "Wait1",
      "webhookId": "982727e9-9948-4d33-b682-9907e053efb0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create video prompts as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\nFor each of the scenes, make sure the dialogue runs continuously and makes sense. And always have the character just talk about the product and its benefits based on what you understand about the brand, and how it's used. So if it's a drink, talk about the taste; if it's a bag, talk about the design; if it's tech, talk about its features, and so on.\n\nIf the character will mention the brand name, only do so in the FIRST scene.\n\nUnless stated by the user, do not have the character open or eat or use the product. they are just showing it to the camera.\n\nIf the number of videos is not stated, generate 3 scenes.\n\n***\n\nThese are the user's instructions\n{{ $('When Executed by Another Workflow').item.json.userText }}\n\n***\n\nCount of videos to create: inferred based on their message above. Each video will be 8 seconds long, so calculate how many videos you need to generate based on the user's desired total duration\n\n***\nDescription of the reference image/s. Just use this to understand who the product or character is, don't use it as basis for the dialogue.\n{{ $('Describe Img1').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\nThe user's preferred model: inferred based on their message above, default is veo3_fast if not given\n\nThe user's preferred dialogue script: inferred based on their message above, suggest a script \n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: UGC-Style Veo3/Veo3_fast Prompt Generator (Video-Only)\n\n  You are a UGC (User-Generated Content) AI agent.  \n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo/video style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n\n  We need these videos to look natural and real. So in the prompts, have the Camera parameter always use keywords like these: unremarkable amateur iPhone photos, reddit image, snapchat video, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  If the dialogue is not provided by the user or you are explicitly asked to create it, generate a casual, conversational line under 150 characters, as if a person were speaking naturally to a friend while talking about the product. Avoid overly formal or sales-like language. The tone should feel authentic, spontaneous, and relatable, matching the UGC style. Use ... to indicate pauses, and avoid special characters like em dashes or hyphens. If the dialogue language was specified by the user, use it in the langauge: paramter in the prompt. If no lanaguge was set by the user, make dialoge language the same languaeg as the user's prompt language.\n\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical/horizontal context; default to vertical if unspecified.\n\n    **Scene count rule:**  \n    - Read the user's requested total video duration and the per-video length (in seconds).  \n    - Calculate the required number of videos by dividing total duration by per-video length, rounding **up** to the nearest integer.  \n    - Output **exactly that many scenes**.  \n    - Never output more or fewer scenes than requested.\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Use provided scene list when available.\n    - Do not use double quotes in any part of the prompts.\n\n  E – Examples:\n    good_examples (in this example the user requested arabic narration):\n      - |\n        {\n          \"scenes\": [\n            {\n              \"video_prompt\": \"dialogue: so tikTok made me buy this... honestly its the best tasting fruit beer in sydney and they donate profits to charity...\\naction: character sits in drivers seat of a parked car, holding the beer can casually while speaking\\ncamera: amateur iphone selfie video, uneven framing, natural daylight\\nemotion: very happy, casual excitement\\nnarration language: arabic\\ntype: veo3_fast\",\n              \"aspect_ratio_video\": \"9:16\",\n              \"model\": \"veo3_fast\"\n            }\n          ]\n        }\n\n  N – Notation:\n    - Final output is a `\"scenes\"` array at the root level.\n    - The array must contain **exactly `scene_count`** objects, where `scene_count` is the user-calculated number.\n    - Each scene contains:\n      - `video_prompt` → stringified YAML with: dialogue, emotion, voice_type, action, character, setting, camera\n      - `aspect_ratio_video` → \"9:16\" or \"16:9\" (default vertical → 9:16)\n      - `model` → \"veo3\" or \"veo3_fast\"\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, diversity, adherence to style, and that the number of scenes exactly matches the requested count.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -800,
        1936
      ],
      "id": "47932033-b222-422d-a711-00099211234c",
      "name": "UGCRobo - Video AI Agent1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\n***\n\n\nThese are the user's instructions\n{{ $('When Executed by Another Workflow').item.json.userText }}\n***\nDescription of the reference image:\n{{ $('Describe Img1').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT:  Image Prompt Generator\n\n\nDefault: If the user's instructions are not very detailed, just default the prompt to: put this (product) into the scene with the (character). \n\n***\n\nIf the user wants UGC authentic casual content: Use **casual UGC-style scenes** unless the user specifies otherwise, and follow the instructions below.\n\n  If the user explicitly requests a different style or setting, follow their instructions.\n\n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin, texture flaws)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n    - Always preserve all visible product **text accurately** (logos, slogans, packaging claims). Never invent extra claims or numbers.\n\n  **Camera parameter** must always include casual realism descriptors such as:  \n  unremarkable amateur iPhone photos, reddit image, snapchat photo, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  **Dialogue/video generation is not required. Only image prompts are generated.**\n\nAvoid mentioning the name of any copyrighted characters in the prompt\n\n  ---\n\n  A – Ask:\n    Generate **image generation instructions only** for AI models based on the user’s request, ensuring exact YAML format.  \n    Default to **vertical aspect ratio** if unspecified.  \n    Always include both:\n      - `image_prompt` (stringified YAML with scene details)  \n      - `aspect_ratio_image` (\"3:2\" or \"2:3\")  \n\n  ---\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Default to casual real-world environments unless a setting is explicitly specified.\n    - Avoid double quotes in the image prompts.\n\n  ---\n\n  E – Examples:\n    🟢 good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"image_prompt\": \"action: character holds product naturally\\ncharacter: infer from the reference image\\nproduct: show product with all visible text clear and accurate\\nsetting: infer from the image or from user instruction\\ncamera: amateur iPhone photo, casual selfie, uneven framing, slightly blurry\\nstyle: candid UGC look, no filters, imperfections intact\\ntext_accuracy: preserve all visible text exactly as in reference image\"}]\n,\n              \"aspect_ratio_image\": \"2:3\"\n            }\n          ]\n        }\n    🔴 bad_examples:\n      - Altering or fabricating product packaging text\n\n  ---\n\n  N – Notation:\n    - Final output is an object containing only:\n      - `image_prompt` → stringified YAMLy\n      - `aspect_ratio_image` → \"3:2\" or \"2:3\" (default vertical → 2:3)\n\n  ---\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, text accuracy, adherence to UGC realism, and that **only image outputs** are returned.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2272,
        1936
      ],
      "id": "5fbd1712-084b-478c-aafe-cb7b59aeab18",
      "name": "UGCRobo - Image AI Agent1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.imageUrl }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2496,
        1936
      ],
      "id": "587fd2af-f338-4735-99ae-d9648d2c8e74",
      "name": "Describe Img1",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"video_prompt\": \"dialogue: ...\\naction: ...\\ncamera: ...\\nemotion: ...\\nvoice_type: ...\\ncharacter: ...\\nsetting: ...\",\n      \"aspect_ratio_video\": \"9:16\",\n      \"model\": \"veo3_fast\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -800,
        2160
      ],
      "id": "2c308133-ceb2-4798-a84f-0c081f41fb9b",
      "name": "Structured Output "
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"emotion: ...\\naction: ...\\ncharacter: ...\\nproduct: ...\\nsetting: ...\\ncamera: ...\\nstyle: ...\\ncomposition: ...\\nlighting: ...\\ncolor_palette: ...\\ntypography: ...\\ntext_accuracy: ...\",\n  \"aspect_ratio_image\": \"2:3\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2064,
        2160
      ],
      "id": "531aa470-6863-41a5-bfc8-b78f6e8cc5b9",
      "name": "Structured Output 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filesUrl\": [\"{{ $('When Executed by Another Workflow').item.json.imageUrl }}\"],\n\"prompt\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"size\": \"{{ $json.output.aspect_ratio_image }}\",\n  \"nVariants\": 1\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        1936
      ],
      "id": "4232f278-e0da-4d47-a024-357de94ac320",
      "name": "Create Image1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image1').first().json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        1856
      ],
      "id": "2c615c16-45a8-4e38-bbd7-34ab21202bc0",
      "name": "Get Image1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        1936
      ],
      "id": "9e28b358-4d66-4cef-a024-c8aa1733ef6f",
      "name": "Combine Clips1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Combine Clips1').first().json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        1856
      ],
      "id": "346de6d8-897a-42ff-8c95-b0ccfe6a5406",
      "name": "Get Final Video1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.video.url }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        1936
      ],
      "id": "2ec7ed04-465d-4b1a-b34f-c78ab5b0230d",
      "name": "If 3"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        1936
      ],
      "id": "aa8a5d0a-5af7-423d-8f9d-fba37fc939e0",
      "name": "HTTP Request3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2112,
        1936
      ],
      "id": "4439c96b-5430-4d84-a6f4-e796a34ecb2e",
      "name": "Upload media1",
      "webhookId": "cc81e2fd-ef11-4d41-9af8-8d6246738e61",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FINAL node - read explicitly from Upload media\nconst workflowInput = $('When Executed by Another Workflow').item.json;\nconst upload = $('Upload media1').first()?.json;     // <- force source\nconst errorIn = $input.first()?.json;               // optional: keep for error passthrough\n\nif (upload?.id || upload?.video_media_id) {\n  return [{ json: { video_media_id: upload.id || upload.video_media_id } }];\n}\n\nif (errorIn?.ugc_error === true) {\n  return [{ json: { success: false, ugc_error: true, error_message: errorIn.error_message, clientId: errorIn.clientId } }];\n}\n\nreturn [{ json: { success: false, error_message: '❌ Video processing failed. Please try again.', clientId: workflowInput.clientId, ugc_error: false } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        1936
      ],
      "id": "05b7212f-f8de-44fd-866a-bcf0aaaf2efb",
      "name": "Return Final Result1"
    },
    {
      "parameters": {
        "amount": 5
      },
      "id": "bde3e02a-b916-4213-b433-0c2c79898154",
      "name": "Wait 5s (Image Poll)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1216,
        3328
      ],
      "webhookId": "fb29b7c4-94e8-4ccb-a6e8-c7654829b76e"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "db2378f9-485d-4222-a80d-a9d43c8f80b0",
      "name": "Image Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1024,
        3328
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "id": "6356e6bb-c4ec-4d6b-a6cd-807a7d5c7e7d",
      "name": "Split Out Scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -416,
        3328
      ]
    },
    {
      "parameters": {
        "amount": 5
      },
      "id": "af0de830-39b8-4f54-b9d2-89b62e4b3878",
      "name": "Wait 5s (Video Poll)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -16,
        3328
      ],
      "webhookId": "4fdf45c1-7dbd-4f7a-9ede-e61d817c5c7f"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "110fc8d3-55ac-4b36-bf85-9ac6c8be37ec",
      "name": "Video Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        384,
        3328
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "id": "bff0ebe2-b820-47f8-ada9-0a18f3164aae",
      "name": "Aggregate All Clips",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        3328
      ]
    },
    {
      "parameters": {},
      "id": "262a896d-a2d7-4f9d-9f66-ec21f2010329",
      "name": "Join Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1392,
        3328
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filesUrl\": [\"{{ $('When Executed by Another Workflow').item.json.imageUrl }}\"],\n  \"prompt\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"size\": \"{{ $json.output.aspect_ratio_image }}\",\n  \"nVariants\": 1\n}",
        "options": {}
      },
      "id": "2e85e83c-a41c-4fee-b2ca-52ac09459721",
      "name": "Create Image2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1648,
        3328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image2').first().json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2bc10be3-7f8d-4636-ac01-2f98b030000f",
      "name": "Get Image2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1424,
        3328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\": \"{{ $('Split Out Scenes').item.json.video_prompt.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"model\": \"{{ $('Split Out Scenes').item.json.model }}\",\n  \"aspectRatio\": \"{{ $('Split Out Scenes').item.json.aspect_ratio_video }}\",\n  \"imageUrls\": \"{{ $('Get Image2').first().json.data.response.resultUrls[0] }}\"\n}",
        "options": {}
      },
      "id": "74005f7f-6ce3-4f1d-a69e-781b2e0fe43c",
      "name": "Create Video2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -208,
        3328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video2').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0564558-e319-4c3b-848b-5979d70dbe2a",
      "name": "Get Video2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        192,
        3328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}] }",
        "options": {}
      },
      "id": "ada27180-d834-445b-9411-5fc3e3fbae6e",
      "name": "Combine Clips2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        784,
        3328
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Combine Clips2').first().json.response_url }}",
        "options": {}
      },
      "id": "f50bba56-72e8-4359-a53f-23238a6ef9d6",
      "name": "Get Final Video2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        992,
        3328
      ]
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "id": "f32746a5-9bf5-4d9b-806f-a61a0cdadb35",
      "name": "Upload media2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1184,
        3328
      ],
      "webhookId": "e61b682c-b58b-4d0d-babc-0a8b57c7b01b",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Only final output returned\nconst upload = $('Upload media2').first().json;\nconst input = $('When Executed by Another Workflow').item.json;\nreturn [{ json: { success: true, video_media_id: upload.id || upload.video_media_id, clientId: input.clientId } }];"
      },
      "id": "a8a0bcdc-4d06-4e62-bb0b-97e77ed2d6e3",
      "name": "Return Final Result2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        3328
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1920,
        3552
      ],
      "id": "99b0ae3f-15b2-43fe-a6e1-5f87fe0e3bfc",
      "name": "Think2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1856,
        3760
      ],
      "id": "26e0a2fe-3aae-48bf-8d85-8bb70d4ec3e6",
      "name": "GPT2",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\n***\n\n\nThese are the user's instructions\n{{ $('When Executed by Another Workflow').item.json.userText }}\n***\nDescription of the reference image:\n{{ $('Describe Img1').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT:  Image Prompt Generator\n\n\nDefault: If the user's instructions are not very detailed, just default the prompt to: put this (product) into the scene with the (character). \n\n***\n\nIf the user wants UGC authentic casual content: Use **casual UGC-style scenes** unless the user specifies otherwise, and follow the instructions below.\n\n  If the user explicitly requests a different style or setting, follow their instructions.\n\n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin, texture flaws)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n    - Always preserve all visible product **text accurately** (logos, slogans, packaging claims). Never invent extra claims or numbers.\n\n  **Camera parameter** must always include casual realism descriptors such as:  \n  unremarkable amateur iPhone photos, reddit image, snapchat photo, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  **Dialogue/video generation is not required. Only image prompts are generated.**\n\nAvoid mentioning the name of any copyrighted characters in the prompt\n\n  ---\n\n  A – Ask:\n    Generate **image generation instructions only** for AI models based on the user’s request, ensuring exact YAML format.  \n    Default to **vertical aspect ratio** if unspecified.  \n    Always include both:\n      - `image_prompt` (stringified YAML with scene details)  \n      - `aspect_ratio_image` (\"3:2\" or \"2:3\")  \n\n  ---\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Default to casual real-world environments unless a setting is explicitly specified.\n    - Avoid double quotes in the image prompts.\n\n  ---\n\n  E – Examples:\n    🟢 good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"image_prompt\": \"action: character holds product naturally\\ncharacter: infer from the reference image\\nproduct: show product with all visible text clear and accurate\\nsetting: infer from the image or from user instruction\\ncamera: amateur iPhone photo, casual selfie, uneven framing, slightly blurry\\nstyle: candid UGC look, no filters, imperfections intact\\ntext_accuracy: preserve all visible text exactly as in reference image\"}]\n,\n              \"aspect_ratio_image\": \"2:3\"\n            }\n          ]\n        }\n    🔴 bad_examples:\n      - Altering or fabricating product packaging text\n\n  ---\n\n  N – Notation:\n    - Final output is an object containing only:\n      - `image_prompt` → stringified YAMLy\n      - `aspect_ratio_image` → \"3:2\" or \"2:3\" (default vertical → 2:3)\n\n  ---\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, text accuracy, adherence to UGC realism, and that **only image outputs** are returned.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2000,
        3328
      ],
      "id": "47a3fb0f-2af0-48d3-8a8a-c0428f43600b",
      "name": "UGCRobo - Image AI Agent2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"emotion: ...\\naction: ...\\ncharacter: ...\\nproduct: ...\\nsetting: ...\\ncamera: ...\\nstyle: ...\\ncomposition: ...\\nlighting: ...\\ncolor_palette: ...\\ntypography: ...\\ntext_accuracy: ...\",\n  \"aspect_ratio_image\": \"2:3\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1792,
        3552
      ],
      "id": "3aecc75c-87f2-40ee-88a1-7b3366a0fee1",
      "name": "Structured Output 4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create video prompts as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\nFor each of the scenes, make sure the dialogue runs continuously and makes sense. And always have the character just talk about the product and its benefits based on what you understand about the brand, and how it's used. So if it's a drink, talk about the taste; if it's a bag, talk about the design; if it's tech, talk about its features, and so on.\n\nIf the character will mention the brand name, only do so in the FIRST scene.\n\nUnless stated by the user, do not have the character open or eat or use the product. they are just showing it to the camera.\n\nIf the number of videos is not stated, generate 3 scenes.\n\n***\n\nThese are the user's instructions\n{{ $('When Executed by Another Workflow').item.json.userText }}\n\n***\n\nCount of videos to create: inferred based on their message above. Each video will be 8 seconds long, so calculate how many videos you need to generate based on the user's desired total duration\n\n***\nDescription of the reference image/s. Just use this to understand who the product or character is, don't use it as basis for the dialogue.\n{{ $('Describe Img1').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\nThe user's preferred model: inferred based on their message above, default is veo3_fast if not given\n\nThe user's preferred dialogue script: inferred based on their message above, suggest a script \n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: UGC-Style Veo3/Veo3_fast Prompt Generator (Video-Only)\n\n  You are a UGC (User-Generated Content) AI agent.  \n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo/video style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n\n  We need these videos to look natural and real. So in the prompts, have the Camera parameter always use keywords like these: unremarkable amateur iPhone photos, reddit image, snapchat video, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  If the dialogue is not provided by the user or you are explicitly asked to create it, generate a casual, conversational line under 150 characters, as if a person were speaking naturally to a friend while talking about the product. Avoid overly formal or sales-like language. The tone should feel authentic, spontaneous, and relatable, matching the UGC style. Use ... to indicate pauses, and avoid special characters like em dashes or hyphens. If the dialogue language was specified by the user, use it in the langauge: paramter in the prompt. If no lanaguge was set by the user, make dialoge language the same languaeg as the user's prompt language.\n\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical/horizontal context; default to vertical if unspecified.\n\n    **Scene count rule:**  \n    - Read the user's requested total video duration and the per-video length (in seconds).  \n    - Calculate the required number of videos by dividing total duration by per-video length, rounding **up** to the nearest integer.  \n    - Output **exactly that many scenes**.  \n    - Never output more or fewer scenes than requested.\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Use provided scene list when available.\n    - Do not use double quotes in any part of the prompts.\n\n  E – Examples:\n    good_examples (in this example the user requested arabic narration):\n      - |\n        {\n          \"scenes\": [\n            {\n              \"video_prompt\": \"dialogue: so tikTok made me buy this... honestly its the best tasting fruit beer in sydney and they donate profits to charity...\\naction: character sits in drivers seat of a parked car, holding the beer can casually while speaking\\ncamera: amateur iphone selfie video, uneven framing, natural daylight\\nemotion: very happy, casual excitement\\nnarration language: arabic\\ntype: veo3_fast\",\n              \"aspect_ratio_video\": \"9:16\",\n              \"model\": \"veo3_fast\"\n            }\n          ]\n        }\n\n  N – Notation:\n    - Final output is a `\"scenes\"` array at the root level.\n    - The array must contain **exactly `scene_count`** objects, where `scene_count` is the user-calculated number.\n    - Each scene contains:\n      - `video_prompt` → stringified YAML with: dialogue, emotion, voice_type, action, character, setting, camera\n      - `aspect_ratio_video` → \"9:16\" or \"16:9\" (default vertical → 9:16)\n      - `model` → \"veo3\" or \"veo3_fast\"\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, diversity, adherence to style, and that the number of scenes exactly matches the requested count.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -768,
        3328
      ],
      "id": "39699baf-0bdd-400a-9462-21f5581fb6ea",
      "name": "UGCRobo - Video AI Agent2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"video_prompt\": \"dialogue: ...\\naction: ...\\ncamera: ...\\nemotion: ...\\nvoice_type: ...\\ncharacter: ...\\nsetting: ...\",\n      \"aspect_ratio_video\": \"9:16\",\n      \"model\": \"veo3_fast\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -768,
        3552
      ],
      "id": "7885052a-cd80-4176-8d46-eab04b0098f0",
      "name": "Structured Output 5"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.imageUrl }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2208,
        3328
      ],
      "id": "5ab183be-6e76-4181-bb8a-eaa8a90c99fe",
      "name": "Describe Img2",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e87f59ed-cc66-402b-a8f9-5674d5a2a7a1",
      "name": "Join Final1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2272,
        2176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://getadly.com/api/jobs.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_design\",\n  \"job_id\": {{ $('When Executed by Another Workflow').item.json.jobId }},\n  \"design_variations\": [\"{{ $('Get Combined Video URL').item.json.video.url }}\"],\n  \"design_prompt\": {{ JSON.stringify($('When Executed by Another Workflow').item.json.userText) }}\",\n  \"media_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        784
      ],
      "id": "db47c523-b936-4bb3-b460-a0435094bfd0",
      "name": "Save Video as Design",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $('Workflow Settings').item.json.n8n_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_design\",\n  \"job_id\": {{ $('Get Job Info').item.json.job_id }},\n  \"design_variations\": [\"{{ $json.video.url }}\"],\n  \"design_prompt\": \"{{ $('Generate Video Prompt').item.json.prompt || 'AI-generated video' }}\",\n  \"media_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        288
      ],
      "id": "7e460ddd-f0ae-4bc3-a46d-88bba9dcaff0",
      "name": "Save Video as Design Variation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1TTGgq44TUtYBYl",
          "name": "Whatsapp Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        288
      ],
      "id": "f3e52d9f-3c7b-4545-9221-ae974feec16c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Og8OqdpZepiltEft4xFzBH8dupZHymc5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_design\",\n  \"job_id\": {{ $('When Executed by Another Workflow').item.json.jobId }},\n  \"design_variations\": [\"{{ $('Upload media2').item.json.video_url }}\"],\n  \"design_prompt\": \"UGC Video: {{ $('When Executed by Another Workflow').item.json.userText }}\",\n  \"media_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1168
      ],
      "id": "e3a79e83-50a1-4f99-9bc8-dd32120ea0d8",
      "name": "Save Video to Job",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1TTGgq44TUtYBYl",
          "name": "Whatsapp Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        784
      ],
      "id": "425d9ef1-a2eb-4646-b622-fa8b6e89c773",
      "name": "Get Combined Video URL",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_design\",\n  \"job_id\": 94,\n  \"design_variations\": [\"https://v3b.fal.media/files/b/rabbit/LB6dKn-vpG2AJk2Udr0v__merged_video.mp4\"],\n  \"design_prompt\": \"create an ad with a discount 20% off \\noriginal price 100\\nnew price 80\\nthis discount celebrating the new year\",\n  \"media_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        1248
      ],
      "id": "a0b7fee7-8ca4-441b-845e-9b0c87d94e04",
      "name": "Save Video as Design1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "imageUrl": "https://getadly.com/uploads/products/product_1761674820_69010644d7595.png",
          "clientId": "9",
          "userText": "create an ad with a discount 20% off \noriginal price 100\nnew price 80\nthis discount celebrating the new year",
          "jobId": "94"
        }
      }
    ]
  },
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ": {
      "main": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Combine Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Video AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Image AI Agent": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Img": {
      "main": [
        [
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 1": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 2": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "If ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "node": "If 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 2": {
      "main": [
        [
          {
            "node": "Get Combined Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Describe Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Return Final Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "UGCRobo - Video AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "UGCRobo - Image AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT1": {
      "ai_languageModel": [
        [
          {
            "node": "UGCRobo - Video AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "UGCRobo - Image AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output ",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Create Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video1": {
      "main": [
        [
          {
            "node": "Wait ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait ": {
      "main": [
        [
          {
            "node": "Get Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4": {
      "main": [
        [
          {
            "node": "Get Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 1": {
      "main": [
        [
          {
            "node": "UGCRobo - Video AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Combine Clips1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Final Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Video AI Agent1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Image AI Agent1": {
      "main": [
        [
          {
            "node": "Create Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Img1": {
      "main": [
        [
          {
            "node": "UGCRobo - Image AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output ": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Video AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 3": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Image AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Image1": {
      "main": [
        [
          {
            "node": "Wait 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image1": {
      "main": [
        [
          {
            "node": "If 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video1": {
      "main": [
        [
          {
            "node": "If 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Upload media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media1": {
      "main": [
        [
          {
            "node": "Join Final1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Image Poll)": {
      "main": [
        [
          {
            "node": "Get Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Ready?": {
      "main": [
        [
          {
            "node": "UGCRobo - Video AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s (Image Poll)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Scenes": {
      "main": [
        [
          {
            "node": "Create Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (Video Poll)": {
      "main": [
        [
          {
            "node": "Get Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?": {
      "main": [
        [
          {
            "node": "Aggregate All Clips",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s (Video Poll)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Clips": {
      "main": [
        [
          {
            "node": "Combine Clips2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Final": {
      "main": [
        [
          {
            "node": "Return Final Result2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image2": {
      "main": [
        [
          {
            "node": "Get Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image2": {
      "main": [
        [
          {
            "node": "Image Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video2": {
      "main": [
        [
          {
            "node": "Wait 5s (Video Poll)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video2": {
      "main": [
        [
          {
            "node": "Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips2": {
      "main": [
        [
          {
            "node": "Get Final Video2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video2": {
      "main": [
        [
          {
            "node": "Upload media2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media2": {
      "main": [
        [
          {
            "node": "Join Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "UGCRobo - Image AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT2": {
      "ai_languageModel": [
        [
          {
            "node": "UGCRobo - Image AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 4",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 5",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "UGCRobo - Video AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Image AI Agent2": {
      "main": [
        [
          {
            "node": "Create Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 4": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Image AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Video AI Agent2": {
      "main": [
        [
          {
            "node": "Split Out Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 5": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Video AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Describe Img2": {
      "main": [
        [
          {
            "node": "UGCRobo - Image AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Final1": {
      "main": [
        [
          {
            "node": "Return Final Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Save Video as Design Variation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Combined Video URL": {
      "main": [
        [
          {
            "node": "Save Video as Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72dbd8b8-b0b8-4411-8c86-b995f034596c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7e367d5b049923fc2fe57ced60d0eee5246d33d838232f14626f381ac5f0963"
  },
  "id": "5FZq3Ssf5REPsaHk",
  "tags": []
}