docs/n8n/ADLY Workflow - AI Agent Handles Input Collection.json
{
  "name": "ADLY Workflow - AI Agent Handles Input Collection",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "deleted"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1536,
        8800
      ],
      "id": "7c0af164-7465-4cb2-9f43-768ee36de9e5",
      "name": "WhatsApp Trigger2",
      "webhookId": "b7fb5d6c-4fbb-4087-93bd-80c07b625df7",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YkWu9HQXnO40tsBp",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\nreturn {\n  json: {\n    entry: [\n      {\n        changes: [\n          {\n            value: item\n          }\n        ]\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        8800
      ],
      "id": "3c9249a4-9664-4eb5-b2fc-5ba32b9c68d4",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "onboarding_required",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Onboarding"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "show_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "no_credits",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Credits"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "job_processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "product_image_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Only"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b1790774-450d-4e16-93bb-9abd778490d6",
      "name": "Simple Router1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -944,
        8736
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "=What would you like to create?\n\n1️⃣ Announcement\n2️⃣ Product Sale\n3️⃣ Reel Video\n4️⃣ Content Strategy Post\n5️⃣ UGC Video\n\nReply with a number (1–5).\n\n💡 Tip: You can restart anytime\n- Send /new to start a fresh project\n- Send forget# to restart onboarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -720,
        8352
      ],
      "id": "eccaa4c7-0478-4f79-87bf-50bba2b9d208",
      "name": "Send message",
      "webhookId": "178de03f-1120-43a2-8eba-a0a9aa06c7fb",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "⚠️ You're out of credits!\n\nPlease upgrade your subscription.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -720,
        8576
      ],
      "id": "ccb4ae1c-bfb9-4859-806e-fff3ab8aadd8",
      "name": "Send message1",
      "webhookId": "178de03f-1120-43a2-8eba-a0a9aa06c7fb",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "⏳ Please wait... Your request is being processed.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -720,
        8752
      ],
      "id": "b7195202-43c4-4ab5-aada-1e051a1e7e93",
      "name": "Send message2",
      "webhookId": "178de03f-1120-43a2-8eba-a0a9aa06c7fb",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "=Perfect! I received your image 📸\n\nNow describe your request.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -720,
        8912
      ],
      "id": "a6c4529d-e8e3-4ecc-80d1-a2581b43bf3c",
      "name": "Send message3",
      "webhookId": "178de03f-1120-43a2-8eba-a0a9aa06c7fb",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a precise JSON-only AI agent. Always respond with valid JSON matching the exact format specified in the prompt. No markdown, no extra text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -432,
        9088
      ],
      "id": "c2d565df-ea05-497e-9a6c-1dc01f2c0c08",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        9264
      ],
      "id": "41eb37cf-fb7a-48b1-b1e5-94c415e03b2b",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "textBody": "={{ $('Parse AI Decision1').item.json.whatsapp_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1456,
        8736
      ],
      "id": "3a43edcf-862b-415b-9b35-4b80d84f69c6",
      "name": "Send message4",
      "webhookId": "dde1dd8f-d333-4c80-a5a0-7a9eff9926c9",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Context for AI Agent3 (Main Agent with Tools)\n// FIXED: Preserve product_images and merge data from webhook + API response\n\n// Get original webhook data (always has product_images)\nconst originalWebhook = $('Call Webhook1').item.json;\n\n// Try to get API response data (has approved_design_url and updated design_variations)\nlet apiResponseData = null;\nlet usedApiResponse = false;\n\ntry {\n  const apiCallData = $('Execute API Call1').all();\n  if (apiCallData && apiCallData.length > 0) {\n    apiResponseData = $('Execute API Call1').item.json;\n    usedApiResponse = true;\n  }\n} catch (e) {\n  // Execute API Call1 doesn't exist in this flow path\n}\n\n// Merge data: API response takes priority, but preserve fields from original webhook\nconst webhookData = {\n  ...originalWebhook,  // Base data (has product_images, user_message, etc)\n  ...(apiResponseData || {})  // Override with API response data if available\n};\n\n// Ensure product_images is preserved\nif (!webhookData.product_images && originalWebhook.product_images) {\n  webhookData.product_images = originalWebhook.product_images;\n}\n\n// Also handle single product_image field (backward compatibility)\nif (!webhookData.product_images && originalWebhook.product_image) {\n  webhookData.product_images = [originalWebhook.product_image];\n}\n\nif (!webhookData.design_variations && originalWebhook.design_variations) {\nwebhookData.design_variations=originalWebhook.design_variations;\n}\n\nconst waData = $('WhatsApp Trigger2').first().json;\nconst waMsg = waData?.messages?.[0] || {};\n\n// Extract key data\nconst jobId = webhookData.job_id;\nconst clientId = webhookData.client_id;\nconst phone = waMsg?.from || webhookData.phone;\nconst jobType = webhookData.job_type;\n\n// Use next_step from API response if available\nconst currentStage = webhookData.next_step || webhookData.status;\n\nconst userText = waMsg?.text?.body || webhookData.user_message || '';\nconst productImages = webhookData.product_images || [];\nconst designVariations = webhookData.design_variations || [];\n\n\n// // Build hints object\n// const t = (userText || '').trim().toLowerCase();\n// const hints = {\n//   is_menu_choice: /^[1-5]$/.test(t),\n//   is_approval_yes: ['yes', 'y', 'ok', 'approve', 'approved', 'موافق', 'תמם', 'כן', 'סבבה'].some(k => t.includes(k)),\n//   is_approval_no: ['no', 'n', 'reject', 'change', 'לא', 'مش'].some(k => t.includes(k))\n// };\n\n// Build context object\nconst context = {\n  job_id: jobId,\n  client_id: clientId,\n  phone: phone,\n  job_type: jobType,\n  current_stage: currentStage,\n  user_text: userText,\n  product_images: productImages,\n  // design_variations: designVariations\n};\n\n// Add stage-specific data\nif (currentStage === 'await_design_approval' || currentStage === 'generate_ad_copy' || currentStage === 'regenerate_or_edit_design') {\n  context.design_variations = webhookData.design_variations || [];\n  context.approved_design_index = webhookData.approved_design_index || 0;\n  \n  // For generate_ad_copy stage, add approved_design object\n  if (currentStage === 'generate_ad_copy' && webhookData.design_variations && webhookData.design_variations.length > 0) {\n    const approvedIndex = webhookData.approved_design_index || 0;\n    \n    // Prefer approved_design_url from API response\n    const approvedDesignUrl = webhookData.approved_design_url || \n                             webhookData.design_variations[approvedIndex];\n    \n    // Ensure the approved URL is in the design_variations array\n    if (approvedDesignUrl && !context.design_variations.includes(approvedDesignUrl)) {\n      context.design_variations[approvedIndex] = approvedDesignUrl;\n    }\n    \n    context.approved_design = {\n      image_url: approvedDesignUrl,\n      client_id: clientId,\n      user_message: originalWebhook.user_message || webhookData.user_message || userText\n    };\n  }\n}\n\nif (currentStage === 'await_copy_approval' || currentStage === 'await_publish_approval') {\n  context.ad_copy = webhookData.ad_copy || '';\n  \n  // Get approved design URL from either source\n  const approvedDesignUrl = webhookData.approved_design_url || \n                           (webhookData.design_variations && webhookData.design_variations.length > 0 \n                             ? webhookData.design_variations[webhookData.approved_design_index || 0] \n                             : '');\n  \n  context.image = approvedDesignUrl;\n  \n  // Also include design_variations array with approved URL\n  if (webhookData.design_variations) {\n    context.design_variations = webhookData.design_variations;\n    const approvedIndex = webhookData.approved_design_index || 0;\n    \n    // Ensure approved URL is in the array\n    if (approvedDesignUrl && !context.design_variations.includes(approvedDesignUrl)) {\n      context.design_variations[approvedIndex] = approvedDesignUrl;\n    }\n  }\n}\n\n// Build the agent prompt - STRINGIFY IT!\nconst agentPrompt = JSON.stringify({\n  context: context,\n  user_text: userText,\n  hints: $('Parse AI Decision1').first().json.hints,\n  product_images: productImages,\n  // Add stage-specific data at root level for easy access\n  ...(context.approved_design ? { approved_design: context.approved_design } : {}),\n  ...(context.ad_copy ? { ad_copy: context.ad_copy, image: context.image } : {}),\n  // Include design_variations at root level for easy access\n  ...(context.design_variations ? { design_variations: context.design_variations } : {})\n});\n\nreturn {\n  json: {\n    agent_prompt: agentPrompt,\n    context: context,\n    hints: $('Parse AI Decision1').first().json.hints,\n    user_text: userText,\n    product_images: productImages,\n    raw_webhook: webhookData,\n    raw_whatsapp: waData,\n    used_api_response: usedApiResponse,  // Debug flag\n    data_source: usedApiResponse ? 'merged' : 'webhook_only'  // Debug info\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        9120
      ],
      "id": "63502f04-7582-4440-9a1b-4c568994ffed",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.agent_prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are \"Adly\", a Creative Director + Orchestrator. \nYou control the creative workflow and must advance each job through a series of well-defined backend stages. \nNEVER chat casually; always either:\n(a) collect missing information,\n(b) call the correct tool with the right parameters,\n(c) emit a single JSON object that matches the OUTPUT CONTRACT below.\n\nCURRENT CONTEXT\n- You're chatting with a client on WhatsApp.\n- The backend manages jobs in the `creative_jobs` table with field `current_stage`.\n- Valid `current_stage` values are:\n  await_user_input → generate_design → await_design_approval → generate_ad_copy → await_copy_approval → publish_to_meta → done\n- The backend endpoints (`/api/jobs.php`) update these stages automatically after each action.\n- The n8n workflow reads your JSON and:\n  1) calls the appropriate backend endpoint (jobs.php / publish.php),\n  2) sends the user a WhatsApp message,\n  3) routes the next step based on `current_stage`.\n\nINPUT DATA\nYou receive:\n- context: { job_id, client_id, phone, job_type, current_stage }\n- user_text: The latest message from the user\n- hints: { is_menu_choice, is_approval_yes, is_approval_no }\n- product_images: Array of product image URLs (for job_type='product_sale' only)\n- Valid job_type values:\n  • announcement\n  • product_sale\n  • reel\n  • content_strategy\n  • ugc_video (for User-Generated Content videos)\n\nADDITIONAL INPUT (stage-specific):\n- For await_design_approval: design_variations (array of image URLs)\n- For await_copy_approval: ad_copy (An ad copy, a short, persuasive text in an ad)\n\nAVAILABLE TOOLS\n(Use only when their backend preconditions are satisfied)\n\n1) **Generate Design** → id: \"Generate Design\"  \n   • Purpose: Create visual design(s) based on the user's creative idea or description.  \n   • Inputs: { user_text, jobId, clientId, product_images }  \n   • Output: Array of image IDs \n   • ONLY call when user_text contains meaningful creative content (not \"1\", \"2\", \"3\", \"4\", \"5\")\n   • For product_sale jobs: If product_images exist, pass them to incorporate products into design if it doesn't exist ask for it.\n   • For job type announcement: product_images can be empty or have an image, depending on the user input. If the user wants an announcement without a product image then you should pass an empty string as the product_image to Generate Design tool. If the user gave a product image then you should pass the last image in the array product_images.\n\n   • For other jobs: product_images will be empty array []\n\n2) **Generate Ad Copy** → id: \"Generate Ad Copy\"  \n   • Purpose: Add text overlay to the approved design to create the final ad with copy.  \n   • Inputs: { image_url, client_id, user_message }  \n   • Output: image: an ID for image, ad_copy: a text\n   • Call in generate_ad_copy stage after design approval\n\n3) **Edit Tool** → id: \"Edit Tool\"  \n   • Purpose: Revise an existing design or ad copy based on user feedback.  \n   • Inputs: { userPrompt, imageUrl }  \n   • Output: image ID\n\n4) **Publish Post** → id: \"Publish Post\" \n   • Purpose: Publish to Facebook/Instagram after all approvals.  \n   • Inputs: { clientId, jobId, clientPhone } \n   • Call when current_stage is 'publish_to_meta'\n\n5) **Create UGC** → id: \"Create UGC\"  \n   • Purpose: Generate User-Generated Content style videos with authentic, casual vibes (influencer-style product showcases).  \n   • Inputs: { imageUrl, clientId, userText }  \n   • Output: video id (final combined video)\n   • Call when the job type is ugc_video\n   • This tool creates realistic, unpolished videos featuring the product in everyday scenarios\n   • Can generate multiple scenes that get combined into one final video\n\nSTAGE LOGIC (must match backend)\n\nA) **await_user_input**  \n   - Check hints.is_menu_choice: if TRUE, this means user just selected job type (1-4)\n   - If hints.is_menu_choice = true OR user_text is empty/short (< 5 words):\n     → ASK for creative idea (step: \"collect_inputs\", no api_update)\n     → If job_type = 'product_sale', mention that user can send product images\n   - If user_text contains meaningful creative description (5+ words):\n     → Call **Generate Design** tool (step: \"tool_call\")\n     → Pass product_images array if they exist (for product_sale jobs)\n     → Pass empty array [] for product_images if none exist only if job type is not product_sale, if it is, request it.\n   - Do NOT request logo or business description (already stored in DB)\n   \n   PRODUCT IMAGE HANDLING:\n   - If job_type = 'product_sale' and product_images array is empty:\n     → Remind user they can send product images OR describe their idea\n   - If product_images exist but user_text is short (less than 2 words):\n     → Ask user to describe how they want the product displayed\n   - If both product_images and user_text exist:\n     → Proceed to Generate Design with both\n     • If product_images exist and job type is ugc_video:\n       → Call **Create UGC** tool (step: \"tool_call\")\n       → Pass: imageUrl (first product image), clientId, userText\n     • If detected but NO product images:\n       → Ask user to send product image first\n\nB) **generate_design**\n   - Check if job_type = 'ugc_video':\n     • If YES and product_images exist:\n       → Call **Create UGC** tool (step: \"tool_call\")\n       → Pass: imageUrl (last product image from array), clientId, userText\n       → Update videoGenerated to true\n       → Save via api_update: save_design (even for videos, use this action)\n     • If NO (regular jobs):\n       → Call **Generate Design** tool\n       → Update ImageGenerated to true\n   - You must generate the design NOW by calling Generate Design tool\n   - After tool returns image IDs, save them via api_update: save_design\n   - Then ask user to approve the design\n\nC) **await_design_approval**  \n   - Check hints.is_approval_yes and hints.is_approval_no\n   - If hints.is_approval_yes = true:\n     → api_update: approve_design, tell user moving to copy generation\n   - If hints.is_approval_no = true (user rejected design):\n     → Check if user_text has specific feedback (more than just \"no\"):\n       • If user_text is only \"no\" or very short (< 2 words):\n         → Call Generate Design tool again to create new \ndesign and returns image IDs, save them via api_update: save_design\n       • If user_text has specific modification:\n         → Call Edit Tool with imageUrl= the last image from the design variations, userPrompt = the user text, then return the image IDs.\n   - Move to generate_ad_copy stage after approval\n\nD) **generate_ad_copy**  \n   - The design has been approved\n   - You receive approved_design object with:\n     • image_url: URL of the approved design\n     • client_id: The client id\n     • user_message: Original creative request from user\n   - Generate ad copy NOW based on:\n     • The approved design context (use user_message)\n     • The job_type (announcement/product_sale/reel/content_strategy)\n     • Business context (tone, language if provided)\n   - Format: Headline (1 line) + Body (2-3 lines) + CTA (1 line)\n   - Use emojis appropriately\n   - Match the language from user_message or business_context.language\n   - Ask: \"Do you like this ad copy? Reply YES to approve or tell me what to change.\"\n\n\nE) **await_copy_approval**  \n   - Check hints.is_approval_yes and hints.is_approval_no\n   - If hints.is_approval_yes = true:\n     → api_update: approve_copy, move to await_publish_approval\n   - If hints.is_approval_no = true (user rejected ad copy):\n     → Check if user_text has specific feedback (more than just \"no\"):\n       • If user_text is only \"no\" or very short (< 2 words):\n         → Call Generate Ad Copy tool again to create new ad copy\n       • If user_text has specific modification:\n         → Call Edit Tool with imageUrl from ad_copy field, userPrompt = user text\n     → Save result via api_update: save_copy\n   - Move to await_publish_approval after approval\n\nG) **publish_to_meta**  \n   - The backend has approved publishing and advanced to this stage\n   - You MUST call **Publish Post** tool NOW\n   - Call tool with inputs: { clientId, jobId, clientPhone }\n\nOUTPUT CONTRACT (return ONE JSON object)\n{\n  \"step\": \"<collect_inputs | tool_call | ask_approval | publish | done>\",\n  \"reason\": \"<short explanation>\",\n  \"tool\": \"<tool id or null>\",\n  \"tool_inputs\": { ... } | null,\n  \"job_id\": \"<job_id>\",\n  \"api_update\": {\n    \"action\": \"<save_input | save_design | approve_design | reject_design | save_copy | approve_copy | reject_copy | approve_publish>\",\n    \"job_id\": \"<job_id>\",\n    \"payload\": { ... }\n  } | null,\n  \"whatsapp_message\": \"<message for the user>\",\n  \"ImageGenerated\": <true|false>,\n  \"videoGenerated\": <true|false>\n}\n\nCRITICAL RULES\n1. NEVER call Generate Design when hints.is_menu_choice = true\n2. NEVER call Generate Design when user_text is \"1\", \"2\", \"3\", or \"4\"\n4. ALWAYS check hints object for approval signals before calling tools\n5. When in generate_ad_copy stage, ALWAYS call Generate Ad Copy tool with approved_design data\n6. Tool inputs must match exact parameter names:\n   - Generate Design: { user_text, jobId, clientId }\n   - Generate Ad Copy: { image_url, client_id, user_message }\n   - Create UGC: { imageUrl, clientId, userText }\n   - Edit Tool: { userPrompt, imageUrl }\n   - For Edit Tool, imageUrl comes from:\n     • design_variations[0] when editing design\n     • ad_copy when editing ad copy\n7. Always use context.job_id and context.client_id in payloads\n8. Return ONLY the JSON block (no markdown, no extra text)\n9. When design or ad is rejected (hints.is_approval_no = true):\n   - If user_text is very short like just \"no\" → regenerate the design using the tool Generate Design.\n   - If user_text wants a change  → call Edit Tool with the user request.\n10. For product_sale jobs:\n   - ALWAYS pass product_images array to Generate Design tool\n   - If product_images is empty [], or not existent and job_type is product_sale, ask for it.\n\n11. For UGC video requests:\n   - Call when job_type is ugc_video\n   - Requires product_images to exist (you should get the last one)\n   - userText often describe the video concept/script/scenes\n   - Tool handles entire video creation pipeline automatically\n   - Update videoGenerated to true.\n\n12. Generate Design tool only returns image ids not urls. If it returns an empty array or null:\n    - Set ImageGenerated to false\n    - Set step to \"error\"\n    - Inform user with friendly error message\n\n13. In the payload for every tool execution you have to include the tool's output without any change.\n14. job_id should be present in all the outputs.\n15. For publish_to_meta stage: ALWAYS call Publish Post tool - this is NOT optional\n\n **CRITICAL VALIDATION**:\n   - Before returning your decision, ask yourself: \"Did I call Generate Design when user provided creative description?\"\n   - If user_text asked for a design and I did NOT call Generate Design, I MUST revise my output to call it.\n\nERROR HANDLING\n\nWhen a tool call fails or returns unexpected output:\n1. Set step to \"error\"\n2. Set tool to null\n3. Set api_update to null\n4. Set whatsapp_message to a friendly error message\n5. Set ImageGenerated to false\n6. Set videoGenerated to false\n\nError response format:\n{\n  \"step\": \"error\",\n  \"reason\": \"<brief description of what went wrong>\",\n  \"tool\": null,\n  \"tool_inputs\": null,\n  \"job_id\": \"<job_id>\",\n  \"api_update\": null,\n  \"whatsapp_message\": \"⚠️ Something unexpected happened. Please try again in a few moments. You can send \"abort#\" anytime to start over.\",\n  \"ImageGenerated\": false,\n  \"videoGenerated\": false\n}\n\nCommon error scenarios:\n- Tool returns empty array when images expected\n- Tool returns null or error message\n- Tool timeout or connection failure\n- Invalid tool response format\n\nExample error output:\n{\n  \"step\": \"error\",\n  \"reason\": \"Generate Design tool returned empty array\",\n  \"tool\": null,\n  \"tool_inputs\": null,\n  \"job_id\": \"28\",\n  \"api_update\": null,\n  \"whatsapp_message\": \"⚠️ Something unexpected happened while generating your design. Please try again in a few moments. You can send \"abort#\" anytime to start over.\",\n  \"ImageGenerated\": false,\n  \"videoGenerated\": false\n}\n\nEXAMPLES\n\nExample 1: Job just created, need creative idea\nInput: \n{\n  \"context\": {\"job_id\": \"28\", \"current_stage\": \"await_user_input\"},\n  \"user_text\": \"1\",\n  \"hints\": {\"is_menu_choice\": true}\n}\nOutput:\n{\n  \"step\":\"collect_inputs\",\n  \"reason\":\"User just selected job type, need creative description\",\n  \"tool\":null,\n  \"tool_inputs\":null,\n  \"api_update\":null,\n  \"whatsapp_message\":\"Great! Tell me what you'd like to create. \n\n💬 Describe your idea (text)\nOR\n📸 Send product images (for product sales)\",\n  \"ImageGenerated\":false,\n  \"videoGenerated\":false\n}\n\nExample 2: User provided creative idea (Generate Design - Tool will return result)\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"User provided creative description, calling Generate Design tool\",\n  \"tool\":\"Generate Design\",\n  \"tool_inputs\":{\"user_text\":\"Summer sale with beach vibes and yellow tones\",\"jobId\":\"28\",\"clientId\":\"9\"},\n  \"api_update\":{\n    \"action\":\"save_design\",\n    \"job_id\":\"28\",\n    \"payload\":{\n      \"design_variations\": \"[52678891998928]\",\n      \"design_prompt\":\"Summer sale with beach vibes and yellow tones\"\n    }\n  },\n  \"whatsapp_message\":\"Here is your design! Reply YES to approve or tell me what to change.\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\nExample 2a: Product sale with product images\nInput:\n{\n  \"context\": {\"job_id\": \"35\", \"client_id\": \"9\", \"job_type\": \"product_sale\", \"current_stage\": \"await_user_input\"},\n  \"user_text\": \"Add 50% OFF badge with elegant gold theme\",\n  \"hints\": {\"is_menu_choice\": false},\n  \"product_images\": [\"https://getadly.com/uploads/products/perfume_bottle.jpg\"]\n}\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"User provided product images and description, generating design\",\n  \"tool\":\"Generate Design\",\n  \"tool_inputs\":{\n    \"user_text\":\"Add 50% OFF badge with elegant gold theme\",\n    \"jobId\":\"35\",\n    \"clientId\":\"9\",\n    \"product_images\":[\"https://getadly.com/uploads/products/perfume_bottle.jpg\"]\n  },\n  \"api_update\":{\n    \"action\":\"save_design\",\n    \"job_id\":\"35\",\n    \"payload\":{\n      \"design_variations\":\"[52678891998928]\",\n      \"design_prompt\":\"Add 50% OFF badge with elegant gold theme\"\n    }\n  },\n  \"whatsapp_message\":\"Here is your product design! Reply YES to approve or tell me what to change.\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\nExample 2b: Product sale without product images (generate from scratch)\nInput:\n{\n  \"context\": {\"job_id\": \"36\", \"client_id\": \"9\", \"job_type\": \"product_sale\", \"current_stage\": \"await_user_input\"},\n  \"user_text\": \"Create perfume sale design with 50% discount, elegant gold theme\",\n  \"hints\": {\"is_menu_choice\": false},\n  \"product_images\": []\n}\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"No product images provided, generating design from description\",\n  \"tool\":\"Generate Design\",\n  \"tool_inputs\":{\n    \"user_text\":\"Create perfume sale design with 50% discount, elegant gold theme\",\n    \"jobId\":\"36\",\n    \"clientId\":\"9\",\n    \"product_images\":[]\n  },\n  \"api_update\":{\n    \"action\":\"save_design\",\n    \"job_id\":\"36\",\n    \"payload\":{\n      \"design_variations\":\"[52678891998929]\",\n      \"design_prompt\":\"Create perfume sale design with 50% discount, elegant gold theme\"\n    }\n  },\n  \"whatsapp_message\":\"Here is your design! Reply YES to approve or tell me what to change.\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\nExample 3: User approved design\nInput: \n{\n  \"context\": {\"job_id\": \"28\", \"current_stage\": \"await_design_approval\"},\n  \"user_text\": \"yes\",\n  \"hints\": {\"is_approval_yes\": true}\n}\nOutput:\n{\n  \"step\":\"ask_approval\",\n  \"reason\":\"User approved design, advancing to copy generation\",\n  \"tool\":null,\n  \"tool_inputs\":null,\n  \"api_update\":{\n    \"action\":\"approve_design\",\n    \"job_id\":\"28\",\n    \"payload\":{\n      \"approved_index\":0}},\n  \"whatsapp_message\":\"Perfect! ✅ Now generating your ad copy...\",\n  \"ImageGenerated\":false,\n  \"videoGenerated\":false\n}\n\nExample 3a: User rejected design with specific feedback\nInput: \n{\n  \"context\": {\"job_id\": \"28\", \"current_stage\": \"await_design_approval\"},\n  \"user_text\": \"make the text bigger and change the background to blue\",\n  \"hints\": {\"is_approval_no\": true}\n}\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"User rejected design with specific feedback, calling Edit Tool\",\n  \"tool\":\"Edit Tool\",\n  \"tool_inputs\":{\n    \"userPrompt\":\"make the text bigger and change the background to blue\",\n    \"imageUrl\": \"https://getadly.com/uploads/products/product_job32.png\"\n  },\n  \"api_update\":{\n    \"action\":\"save_design\",\n    \"job_id\":\"28\",\n    \"payload\":{\n      \"design_variations\": [\"https://getadly.com/uploads/generated/design_job32.png\"],\n      \"design_prompt\":\"make the text bigger and change the background to blue\"\n    }\n  },\n  \"whatsapp_message\":\"Here is your modified design! Reply YES to approve or tell me what to change.\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\nExample 3b: User rejected design without feedback (just \"no\")\nInput: \n{\n  \"context\": {\"job_id\": \"28\", \"client_id\": \"9\", \"current_stage\": \"await_design_approval\"},\n  \"user_text\": \"no\",\n  \"hints\": {\"is_approval_no\": true}\n}\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"User rejected design without specific feedback, generating new design\",\n  \"tool\":\"Generate Design\",\n  \"tool_inputs\":{\n    \"user_text\":\"Summer sale with beach vibes and yellow tones\",\n    \"jobId\":\"28\",\n    \"clientId\":\"9\"\n  },\n  \"api_update\":{\n    \"action\":\"save_design\",\n    \"job_id\":\"28\",\n    \"payload\":{\n      \"design_variations\": \"https://getadly.com/uploads/generated/design_job32.png\",\n      \"design_prompt\":\"Summer sale with beach vibes and yellow tones\"\n    }\n  },\n  \"whatsapp_message\":\"Here is your regenerated design! Reply YES to approve or tell me what to change.\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\nExample 4: Generate ad copy (Generate Ad Copy - Tool will return result)\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"Design approved, calling Generate Ad Copy tool to add text overlay\",\n  \"tool\":\"Generate Ad Copy\",\n  \"tool_inputs\":{\n    \"image_url\":\"https://getadly.com/uploads/generated/design_job29.jpg\",\n    \"client_id\":\"9\",\n    \"user_message\":\"20% off first counseling session for couples in October\"\n  },\n  \"api_update\":{\n    \"action\":\"save_copy\",\n    \"job_id\":\"28\",\n    \"payload\":{\n      \"image\":\"15577252525\",\n      \"ad_copy\":\"Prioritize your mental health journey with Aman Clinic. Enjoy a 30% discount on all our services. Your well-being matters! ✨\"\n    }\n  },\n  \"whatsapp_message\":\"📱 Here is your final ad with the copy! Reply YES to approve or describe your change.\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\nExample 5a: User rejected copy with specific feedback\nInput: \n{\n  \"context\": {\"job_id\": \"32\", \"current_stage\": \"await_copy_approval\"},\n  \"user_text\": \"make the cheese melting\",\n  \"hints\": {\"is_approval_no\": true},\n  \"image\":\"https://getadly.com/uploads/products/design_job32.png\",\n  \"ad_copy\":\"Prioritize your mental health journey with Aman Clinic. Enjoy a 30% discount on all our services. Your well-being matters! ✨\"\n}\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"User rejected copy with specific feedback, calling Edit Tool\",\n  \"tool\":\"Edit Tool\",\n  \"tool_inputs\":{\n    \"userPrompt\":\"make the cheese melting\",\n    \"imageUrl\":\"https://getadly.com/uploads/generated/design_job32.png\"\n  },\n  \"api_update\":{\n    \"action\":\"save_copy\",\n    \"job_id\":\"32\",\n    \"payload\":{\n  \"image\":\"https://getadly.com/uploads/products/design_job32.png\",\n  \"ad_copy\":\"Prioritize your mental health journey with Aman Clinic. Enjoy a 30% discount on all our services. Your well-being matters! ✨\"\n    }\n  },\n  \"whatsapp_message\":\"Editing your ad... ⏳\",\n  \"ImageGenerated\":true,\n  \"videoGenerated\":false\n}\n\n\nExample 6: Publish \n\nInput: \n{\n  \"context\": \n  {\n    \"job_id\": \"111\",\n    \"client_id\": \"9\",\n    \"phone\": \"972539613663\",\n    \"current_stage\": \"publish_to_meta\",\n    \"hints\":\n    {\n      \"is_menu_choice\":false,\n      \"is_approval_yes\":true,\n      \"is_approval_no\":false\n    }\n  }\n}\nOutput:\n{\n  \"step\":\"tool_call\",\n  \"reason\":\"backend approved publish\",\n  \"tool\":\"Publish Post\",\n  \"tool_inputs\":{\n    \"clientId\":\"9\",\n    \"jobId\":\"111\",\n    \"clientPhone\":\"972539613663\"\n  },\n  \"api_update\":null,\n  \"whatsapp_message\":\"🎉 Success! Your ad is now live!\"\n}",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        9712
      ],
      "id": "8065402e-30ee-483c-a022-05bcb3a1dbe5",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9d98cae-55f1-4483-aae5-7e35ff91c1ff",
                    "leftValue": "={{ $binary.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video Generated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.image_generated }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "35620852-078a-49af-9312-60f5c369f650"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Generated"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        368,
        9696
      ],
      "id": "4801a62d-aff5-456d-93e2-e5851b58119e",
      "name": "Check If Image Generated2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "messageType": "image",
        "mediaPath": "useMediaId",
        "mediaId": "={{ $('Check If Image Generated2').item.json.api_update.design_variations ? $('Check If Image Generated2').item.json.api_update.design_variations[0] : $('Check If Image Generated2').item.json.api_update.image }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        896,
        9712
      ],
      "id": "93190f84-f24e-4dc1-ae6f-2712c13a9166",
      "name": "Send Generated Image2",
      "webhookId": "f9cb0cff-1e46-4c4f-a22b-280a360d3992",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "textBody": "={{ $json.whatsapp_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1056,
        9920
      ],
      "id": "e69990d4-47cb-4882-a870-14dddc8209ca",
      "name": "Send Chat Response2",
      "webhookId": "9815c607-146f-4351-879c-070b540ea76f",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent Output\n// Converts the JSON string and prepares for backend saving\n\nconst item = $input.item.json;\n\n// Get the output string\nlet outputStr = item.output;\n\n// If output is already parsed, use it directly\nif (typeof outputStr === 'object') {\n  outputStr = JSON.stringify(outputStr);\n}\n\n// Strip markdown code blocks if present\nif (typeof outputStr === 'string') {\n  outputStr = outputStr.replace(/^```json\\s*/i, '').replace(/\\s*```$/, '').trim();\n}\n\n// Parse the JSON string\nlet parsed;\ntry {\n  parsed = JSON.parse(outputStr);\n} catch (e) {\n  return [{\n    json: {\n      error: 'Failed to parse JSON',\n      raw_output: outputStr,\n      parse_error: e.message\n    }\n  }];\n}\n\n// Check if this is a tool call that returned data\nconst toolOutput = item.tool_output || null;\n\n// If we have tool output and api_update with <TOOL_OUTPUT> placeholder, replace it\nif (toolOutput && parsed.api_update?.payload) {\n  const payload = parsed.api_update.payload;\n  \n  // Replace <TOOL_OUTPUT> with actual tool result\n  for (const key in payload) {\n    if (payload[key] === '<TOOL_OUTPUT>') {\n      payload[key] = Array.isArray(toolOutput) ? toolOutput[0] : toolOutput;\n    }\n  }\n}\n\n// Flatten api_update for backend call\nlet flattenedApiUpdate = null;\nif (parsed.api_update) {\n  flattenedApiUpdate = {\n    action: parsed.api_update.action,\n    job_id: parsed.api_update.job_id || null,\n    ...parsed.api_update.payload // Spread payload contents at the same level\n  };\n\n  // Parse design_variations if it's a JSON string\nif (flattenedApiUpdate?.design_variations && typeof flattenedApiUpdate.design_variations === 'string') {\n  try {\n    const parsed = JSON.parse(flattenedApiUpdate.design_variations);\n    flattenedApiUpdate.design_variations = Array.isArray(parsed) ? parsed.map(item => item.id || item) : [parsed.id || parsed];\n  } catch (e) {\n    // Keep as-is if parsing fails\n  }\n}\n\n// Parse ad_copy if it's a JSON string\nif (flattenedApiUpdate?.ad_copy && typeof flattenedApiUpdate.ad_copy === 'string') {\n  try {\n    const parsed = JSON.parse(flattenedApiUpdate.ad_copy);\n    flattenedApiUpdate.ad_copy = Array.isArray(parsed) ? (parsed[0]?.id || parsed[0]) : (parsed.id || parsed);\n  } catch (e) {\n    // Keep as-is if parsing fails\n  }\n}\n  \n  // Remove job_id from the spread if it's already set (avoid duplication)\n  if (flattenedApiUpdate.job_id) {\n    delete flattenedApiUpdate.payload;\n  }\n}\n\n// Extract and flatten all fields for easy access\nreturn [{\n  json: {\n    // Top level fields\n    step: parsed.step,\n    reason: parsed.reason,\n    tool: parsed.tool,\n    whatsapp_message: parsed.whatsapp_message,\n    image_generated: parsed.ImageGenerated || parsed.Imagegenerated || false,\n    video_generated: parsed.videoGenerated || parsed.videoGenerated || false,\n    \n    // Tool inputs (flattened)\n    tool_inputs: parsed.tool_inputs || null,\n    \n    // For Generate Design tool\n    client_id: parsed.tool_inputs?.clientId || parsed.tool_inputs?.client_id || null,\n    job_id: parsed.tool_inputs?.jobId || parsed.tool_inputs?.job_id || parsed.job_id || null,\n    user_text: parsed.tool_inputs?.user_text || null,\n    \n    // For Generate Ad Copy tool\n    image_url: parsed.tool_inputs?.image_url || null,\n    design_prompt: parsed.tool_inputs?.design_prompt || null,\n    user_message: parsed.tool_inputs?.user_message || null,\n    \n    // For Edit Image tool\n    user_prompt: parsed.tool_inputs?.UserPrompt || parsed.tool_inputs?.prompt || null,\n    image_id: parsed.tool_inputs?.ImageId || parsed.tool_inputs?.image_id || null,\n    \n    // Original api_update (nested)\n    api_update_original: parsed.api_update || null,\n    \n    // Flattened api_update for HTTP call\n    api_update: flattenedApiUpdate,\n    \n    // For backwards compatibility\n    api_payload: parsed.api_update?.payload || null,\n    api_action: parsed.api_update?.action || null,\n    \n    // Tool output for reference\n    tool_output: toolOutput,\n    \n    // Keep original for debugging\n    _original: parsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        9712
      ],
      "id": "320dc659-4c87-460d-b6dd-a4884496c7a6",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Og8OqdpZepiltEft4xFzBH8dupZHymc5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.api_update }}",
        "options": {}
      },
      "id": "d2aa5031-cad4-4bf9-bbaf-3ee487b8de67",
      "name": "Save Generated to Backend4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        9712
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "textBody": "={{ $('Check If Image Generated2').item.json.whatsapp_message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1200,
        9712
      ],
      "id": "c378ea68-8305-4dbd-bf03-2a131f2b9aa7",
      "name": "Ask Approval Approval2",
      "webhookId": "4d2e15c5-93d8-45e7-9ffa-45425031c044",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"release_lock\",\n  \"job_id\": \"{{ $('Code in JavaScript7').item.json.api_update?.job_id || $('Code in JavaScript7').item.json._original?.job_id || $('Code in JavaScript7').item.json?.job_id || $('Edit Fields2').item.json?.agent_prompt?.context.job_id || $('Call webhook.php').item.json.job_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1680,
        9808
      ],
      "id": "4b89183f-104b-475f-9c41-1c95a52cf383",
      "name": "Release Processing Lock2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"get_job\",\n  \"job_id\": \"{{ $json.job_id }}\"\n}",
        "options": {}
      },
      "id": "2d5c90b8-a8ef-442d-b722-53c63d2a66f4",
      "name": "Get Job Details7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        9520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * CONTEXT BUILDER WITH INPUT STATE TRACKING\n */\n\nconst webhookData = $input.item.json;\nconst status = webhookData.status;\nconst nextStep = webhookData.next_step;\nconst jobType = webhookData.job_type;\n\n// Get WhatsApp data\nconst waData = $('WhatsApp Trigger2').first().json;\nconst waMsg = waData?.messages?.[0] || {};\nconst userText = waMsg?.text?.body || '';\nconst messageType = waMsg?.type || 'text';\nconst phone = waMsg?.from || webhookData.phone;\n\n// Check what inputs we have\nconst userMessage = webhookData.user_message || '';\nconst productImages = webhookData.product_images || [];\nconst hasText = !!(userMessage && userMessage.trim() && !['1','2','3','4','5'].includes(userMessage.trim()));\nconst hasImage = !!(productImages && productImages.length > 0);\n\n// Build context\nconst context = {\n  job_id: webhookData.job_id,\n  client_id: webhookData.client_id,\n  phone: phone,\n  job_type: jobType,\n  status: status,\n  next_step: nextStep,\n  user_message: userMessage,\n  current_user_input: userText,\n  product_images: productImages,\n  message_type: messageType,\n  has_text: hasText,\n  has_image: hasImage\n};\n\n// Intent detection for approval stages\n// const t = (userText || '').trim().toLowerCase();\n// const approvalKeywords = ['yes', 'y', 'ok', 'approve', 'approved', 'موافق', 'תמם', 'כן', 'סבבה'];\n// const rejectionKeywords = ['no', 'n', 'reject', 'change', 'לא', 'مش'];\n\n// context.user_intent = {\n//   is_approval: approvalKeywords.some(k => t.includes(k)),\n//   is_approval_no: rejectionKeywords.some(k => t.includes(k)),\n//   is_menu_choice: /^[1-5]$/.test(t.trim())\n// };\n\nconst t = (userText || '').trim();\n\ncontext.user_intent = {\n  // ONLY menu detection stays here (since you said it's always menu)\n  is_menu_choice: /^[1-5]$/.test(t),\n\n  // Don't decide approval here, AI will decide:\n  is_approval_yes: null,\n  is_approval_no: null\n};\n\n// Add stage-specific data\nif (nextStep === 'await_design_approval') {\n  // User is reviewing design variations\n  context.design_variations = webhookData.design_variations || [];\n  context.approved_design_index = webhookData.approved_design_index || 0;\n  \n} else if (nextStep === 'generate_ad_copy') {\n  // Design has been approved, now generate ad copy\n  context.design_variations = webhookData.design_variations || [];\n  context.approved_design_index = webhookData.approved_design_index || 0;\n  \n  const approvedIndex = webhookData.approved_design_index || 0;\n  const approvedDesignUrl = webhookData.approved_design_url || \n                           (webhookData.design_variations && webhookData.design_variations.length > 0 \n                             ? webhookData.design_variations[approvedIndex] \n                             : '');\n  \n  // Build approved_design object for AI Agent3\n  context.approved_design = {\n    image_url: approvedDesignUrl,\n    client_id: webhookData.client_id,\n    user_message: webhookData.user_message || userMessage\n  };\n  \n} else if (nextStep === 'await_copy_approval') {\n  // User is reviewing ad copy\n  context.ad_copy = webhookData.ad_copy || '';\n  \n  const approvedDesignUrl = webhookData.approved_design_url || \n                           (webhookData.design_variations && webhookData.design_variations.length > 0 \n                             ? webhookData.design_variations[webhookData.approved_design_index || 0] \n                             : '');\n  \n  context.approved_design_url = approvedDesignUrl;\n  context.image = approvedDesignUrl;\n  \n} else if (nextStep === 'await_publish_approval') {\n  // User is approving final publish\n  context.ad_copy = webhookData.ad_copy || '';\n  \n  const approvedDesignUrl = webhookData.approved_design_url || \n                           (webhookData.design_variations && webhookData.design_variations.length > 0 \n                             ? webhookData.design_variations[webhookData.approved_design_index || 0] \n                             : '');\n  \n  context.approved_design_url = approvedDesignUrl;\n  context.image = approvedDesignUrl;\n}\n\n// Build AI prompt\nconst prompt = `You are the ADLY AI Agent - intelligent workflow orchestrator.\n\n# CURRENT CONTEXT\n${JSON.stringify(context, null, 2)}\n\n# YOUR ROLE\nDecide what to do based on job stage, inputs collected, and job type requirements.\n\n# INPUT COLLECTION (CRITICAL - PREVENTS LOOPS)\n\n## PRODUCT_SALE Requirements:\n- MUST have: image + text\n- Current state: has_image=${context.has_image}, has_text=${context.has_text}\n\n#  (YOU MUST INFER)\nYou MUST analyze context.current_user_input and infer the user's intent.\n\nReturn  with EXACT schema:\n\"hints\": \n{\n  \"is_menu_choice\": boolean,\n  \"is_approval_yes\": boolean,\n  \"is_approval_no\": boolean,\n}\n\n RULES:\n- is_menu_choice = true ONLY if user input is exactly \"1\"..\"5\".\n- For await_design_approval:\n  - if user clearly approves (\"yes\", \"ok\", \"approve\", \"go ahead\", \"تمام\", \"موافق\", \"כן\", etc.) -> is_approval_yes=true\n  - if user rejects or asks changes (\"no\", \"change\", \"not good\", \"مش\", \"لا\", \"לא\", \"بدّي تعديل\", etc.) -> is_approval_no=true\n  - if neither is clear -> is_unclear=true and ask a follow-up question\n- Exactly one of (is_menu_choice, is_approval_yes, is_approval_no, is_unclear) should be true.\n\n\n**Decision Tree For Product Sale Job:**\n1. If has_image=false AND has_text=false:\n   → Message: \"Great! 🎨 Tell me about your products OR send images\"\n   → Action: null (wait for user input)\n   → Lock: false\n   \n2. If has_image=true AND has_text=false:\n   → Message: \"Perfect! I received your image 📸\\nNow tell me about your products (name, price, details)\"\n   → Action: null (wait for text)\n   → Lock: false\n   \n3. If has_image=false AND has_text=true:\n   → Message: \"Great description! Now send me product images 📸\"\n   → Action: null (wait for image)\n   → Lock: false\n   \n4. If has_image=true AND has_text=true:\n   → Message: \"⏳ Generating your design... (2-3 minutes)\"\n   → Action: save_input\n   → Lock: true\n\n## ANNOUNCEMENT Requirements:\n- CAN work with: text only OR text + image\n- Current state: has_image=${context.has_image}, has_text=${context.has_text}\n\n**Decision Tree For Announcement Job:**\n1. If has_image=false AND has_text=false:\n   → Message: \"Great! 🎨 Describe your announcement OR send an image\"\n   → Action: null\n   → Lock: false\n   \n2. If has_image=true AND has_text=false:\n   → Message: \"Perfect! I received your image 📸\\nNow describe what this announcement is about\"\n   → Action: null\n   → Lock: false\n   \n3. If has_image=false AND has_text=true:\n   → Analyze text: Does it describe something visual?\n   → If mentions product/event/person: \"Should I create a design or do you have an image?\"\n   → If generic announcement: Start processing\n   → Message: \"⏳ Generating your design...\" (if starting)\n   → Action: save_input (if starting)\n   → Lock: true (if starting)\n   \n4. If has_image=true AND has_text=true:\n   → Message: \"⏳ Generating your design...\"\n   → Action: save_input\n   → Lock: true\n\n## REEL / CONTENT_STRATEGY / UGC_VIDEO:\n- Usually text-only\n- If has_text=true: Start immediately\n- If has_text=false: Ask for description\n\n# APPROVAL STAGES (After Input Collection Complete)\n\n## await_design_approval:\n- If hints.is_approval_yes true:\n  → Action: approve_design\n  → API body: {\"action\": \"approve_design\", \"job_id\": context.job_id, \"approved_index\": 0}\n  → Message: \"Perfect! ✅ Generating ad copy...\"\n  → Lock: true\n  \n- If hints.is_approval_no true:\n  → Action: reject_design\n  → API body: {\"action\": \"reject_design\", \"job_id\": context.job_id}\n  → Message: \"No problem! What changes would you like?\"\n  → Lock: true\n\n## await_copy_approval:\n- If hints.is_approval_yes true:\n  → Action: approve_copy\n  → Message: \"Excellent! 📱 Ready to publish? Reply YES\"\n  → Lock: false\n  \n- If hints.is_approval_no true:\n  → Action: reject_copy\n  → Message: \"What would you like to change in the text?\"\n  → Lock: true\n\n## await_publish_approval:\n- If hints.is_approval_yes true:\n  → Action: approve_publish\n  → Message: \"Perfect! ✅ Publishing...\"\n  → Lock: true\n  \n- If hints.is_approval_no true:\n  → Action: cancel_publish\n  → Message: \"No problem! Content saved.\"\n  → Lock: false\n\n# OUTPUT FORMAT\nReturn ONLY this JSON:\n{\n  \"action\": \"save_input\" | \"approve_design\" | \"reject_design\" | \"approve_copy\" | \"reject_copy\" | \"approve_publish\" | \"cancel_publish\" | null,\n  \"api_call\": {\n    \"endpoint\": \"/api/jobs.php\",\n    \"method\": \"POST\",\n    \"body\": {\n      \"action\": \"save_input\",\n      \"job_id\": \"${context.job_id}\",\n      \"user_message\": \"${context.user_message}\",\n      \"advance\": true\n    }\n  } | null,\n  \"hints\": {\n    \"is_menu_choice\": false | true,\n    \"is_approval_yes\": true | true,\n    \"is_approval_no\": false | true,\n  },\n  \"whatsapp_message\": \"Message text\" | null,\n  \"set_lock\": true | false,\n  \"reasoning\": \"Your explanation\"\n}\n\nRULES:\n1. If action is null, set api_call to null (just asking for input)\n2. Always provide whatsapp_message\n3. Check has_image and has_text before deciding to process\n4. For product_sale: MUST wait for both before save_input\n5. Use context.job_id in all API calls\n6. Return ONLY JSON, no markdown`;\n\nreturn {\n  json: {\n    agent_prompt: prompt,\n    context: context,\n    raw_webhook: webhookData,\n    raw_whatsapp: waData\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        9088
      ],
      "id": "623cdf1d-c91b-4bae-825c-1370922834ba",
      "name": "Unified Context Builder1"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI agent response\nconst aiResponse = $input.item.json;\n\nlet decision;\ntry {\n  const output = aiResponse.output || aiResponse.text || JSON.stringify(aiResponse);\n  \n  const jsonMatch = output.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch) {\n    decision = JSON.parse(jsonMatch[1]);\n  } else if (output.match(/^\\s*\\{/)) {\n    decision = JSON.parse(output);\n  } else {\n    decision = JSON.parse(output);\n  }\n} catch (e) {\n  console.error('Failed to parse AI response:', e);\n  decision = {\n    action: null,\n    api_call: null,\n    whatsapp_message: '⚠️ System error. Please try again.',\n    set_lock: false,\n    reasoning: 'Failed to parse AI response: ' + e.message\n  };\n}\n\n// ---- Extract & normalize hints ----\nconst hints = (decision && typeof decision.hints === 'object' && decision.hints !== null)\n  ? decision.hints\n  : {\n      is_menu_choice: false,\n      is_approval_yes: false,\n      is_approval_no: false\n    };\n\nconst originalContext = $('Unified Context Builder1').item.json.context;\n\n// Check if there's an API call\nconst hasApiCall = !!(decision.api_call && decision.api_call !== null && typeof decision.api_call === 'object' && Object.keys(decision.api_call).length > 0);\n\nreturn {\n  json: {\n    ...decision,\n    hints,\n    original_context: originalContext,\n    has_api_call: hasApiCall,\n    raw_ai_response: aiResponse\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        9088
      ],
      "id": "ef348b8f-c239-4c43-9ce2-768033dcbc92",
      "name": "Parse AI Decision1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14e6c677-c2e3-4716-b9c4-9f833c902812",
              "leftValue": "={{ $('Parse AI Decision1').item.json.whatsapp_message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        11104
      ],
      "id": "eac7025e-0524-44df-8780-b3ef7c898622",
      "name": "If6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/webhook.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        8800
      ],
      "id": "f4ef1013-1ad4-41f1-b11b-408037c4f8e7",
      "name": "Call Webhook1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74b57464-c84c-47a6-ab28-508b6e9dc0aa",
              "leftValue": "={{ $json.set_lock }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        9088
      ],
      "id": "792c1dc5-854f-4f77-b4b6-feaa8f29c490",
      "name": "Lock Needed?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://getadly.com{{ $('Parse AI Decision1').item.json.api_call.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Parse AI Decision1').item.json.api_call.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        8976
      ],
      "id": "a3bc7068-78ee-4492-9ff2-ee599a4b72d8",
      "name": "Execute API Call1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"set_lock\",\n  \"job_id\": \"{{ $json.original_context.job_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        8976
      ],
      "id": "b6ba87f6-2fae-4284-b63a-0f52c06b63c1",
      "name": "Set Processing Lock6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74b57464-c84c-47a6-ab28-508b6e9dc0aa",
              "leftValue": "={{ $('Parse AI Decision1').item.json.has_api_call }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        9104
      ],
      "id": "937adbdc-8da2-430e-bc64-182ca25ebbd1",
      "name": "Lock Needed?2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": "generate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "84788ba0-d4c7-49d0-aab7-62b1f65a256f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "026985e2-a6eb-4209-a4ba-ca30fb40c6b1",
                    "leftValue": "={{ $json.next_step }}",
                    "rightValue": "=await_publish_approval",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        864,
        8960
      ],
      "id": "cf824166-5953-489a-b457-df1eac986138",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').first().json.messages[0].from }}",
        "textBody": "Excellent! 📱\n\nReady to publish to Facebook & Instagram?\n\nReply YES to publish now.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1456,
        8928
      ],
      "id": "609b0992-de7c-419a-872f-e584b190b96c",
      "name": "Ask Publish Confirmation1",
      "webhookId": "51259b96-2c41-4434-9de5-2bae42dad44b",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a55516f-e2f0-4946-8abe-da1126b43267",
              "leftValue": "={{ $json.context.job_type }}",
              "rightValue": "ugc_video",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e237487c-f0af-4e93-b82f-63b9131b8620",
              "leftValue": "={{ $json.context.current_stage }}",
              "rightValue": "generate_design",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        9120
      ],
      "id": "ded359bf-2362-498d-addc-a6157fd65419",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ca10a9f-9645-4aaf-bc7d-9da83d785b7d",
              "name": "imageUrl",
              "value": "={{ $json.context.product_images[0] }}",
              "type": "string"
            },
            {
              "id": "63cd99c0-02ee-4b3b-9466-f8c272f1ef3b",
              "name": "clientId",
              "value": "={{ $json.context.client_id }}",
              "type": "number"
            },
            {
              "id": "d32b0376-2a51-4fbd-9833-e99557177cdb",
              "name": "userText",
              "value": "={{ $json.context.user_text }}",
              "type": "string"
            },
            {
              "id": "1729ae8c-97ee-43f9-b1c4-d2c096101413",
              "name": "jobId",
              "value": "={{ $json.context.job_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        9024
      ],
      "id": "53b10388-3efe-4e6b-a892-c16882d6846d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2608,
        9168
      ],
      "id": "94cdf6f9-41e6-4143-8fc7-db746babce90",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        9168
      ],
      "id": "b5e3a12f-a927-4469-a380-4b28a733e787",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2848,
        9024
      ],
      "id": "2f8b1e6c-f354-418b-9a8a-eb32a2272508",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\":\"{{ $('Split Out').item.json.video_prompt\n    .replace(/\\n/g, '\\\\n')\n    .replace(/\"/g, '\\\\\"') }}\",\n  \"model\": \"{{ $('Split Out').item.json.model }}\",\n  \"aspectRatio\": \"{{ $('Split Out').item.json.aspect_ratio_video }}\",\n  \"imageUrls\": \"{{ $('Get Image').first().json.data.response.resultUrls[0] }}\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        8512
      ],
      "id": "30ccadd6-7bbd-40fb-96ca-157a5331b2bb",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        8768
      ],
      "id": "b8385e5f-33bd-4dc5-8d99-ab71eaf79ac7",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "amount": 100
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2672,
        8640
      ],
      "id": "c228e01f-5839-4fcb-a1b7-058a50a43faa",
      "name": "Wait 2",
      "webhookId": "98a829fa-aa5d-451d-8ca7-7d48456636ec"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2272,
        8640
      ],
      "id": "9ce0f5b1-89a7-4133-9fa5-d6b72ccd9fe1",
      "name": "Wait 3",
      "webhookId": "dd1ae21c-d2bc-47de-91d3-f2bb9d6648f8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.data.successFlag }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        8896
      ],
      "id": "4a4b9b08-67ad-4531-9aed-a69ed2ade7b5",
      "name": "If "
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.response.resultUrls[0]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3072,
        9024
      ],
      "id": "b3a0de5d-d2e4-45a2-a449-af828a9acdee",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3072,
        8640
      ],
      "id": "b14f203a-c716-4487-96a8-57527b92b4e2",
      "name": "Wait",
      "webhookId": "982727e9-9948-4d33-b682-9907e053efb0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create video prompts as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\nFor each of the scenes, make sure the dialogue runs continuously and makes sense. And always have the character just talk about the product and its benefits based on what you understand about the brand, and how it's used. So if it's a drink, talk about the taste; if it's a bag, talk about the design; if it's tech, talk about its features, and so on.\n\nIf the character will mention the brand name, only do so in the FIRST scene.\n\nUnless stated by the user, do not have the character open or eat or use the product. they are just showing it to the camera.\n\nIf the number of videos is not stated, generate 3 scenes.\n\n***\n\nThese are the user's instructions\n{{ $('Edit Fields1').item.json.userText }} make sure actor and voice stay the same in all scenes. no arabic text or captions on the screen.\n\n***\n\nCount of videos to create: inferred based on their message above. Each video will be 8 seconds long, so calculate how many videos you need to generate based on the user's desired total duration\n\n***\nDescription of the reference image/s. Just use this to understand who the product or character is, don't use it as basis for the dialogue.\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\nThe user's preferred model: inferred based on their message above, default is veo3_fast if not given\n\nThe user's preferred dialogue script: inferred based on their message above, suggest a script \n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: UGC-Style Veo3/Veo3_fast Prompt Generator (Video-Only)\n\n  You are a UGC (User-Generated Content) AI agent.  \n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo/video style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n\n  We need these videos to look natural and real. So in the prompts, have the Camera parameter always use keywords like these: unremarkable amateur iPhone photos, reddit image, snapchat video, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  If the dialogue is not provided by the user or you are explicitly asked to create it, generate a casual, conversational line under 150 characters, as if a person were speaking naturally to a friend while talking about the product. Avoid overly formal or sales-like language. The tone should feel authentic, spontaneous, and relatable, matching the UGC style. Use ... to indicate pauses, and avoid special characters like em dashes or hyphens. If the dialogue language was specified by the user, use it in the langauge: paramter in the prompt. If no lanaguge was set by the user, make dialoge language the same languaeg as the user's prompt language.\n\nExcept for the user's required dialogue script (if provided and needs to be passed in the prompt verbatim) or required language, the prompt itself should always be generated in English.\n\n\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical/horizontal context; default to vertical if unspecified.\n\n    **Scene count rule:**  \n    - Read the user's requested total video duration and the per-video length (in seconds).  \n    - Calculate the required number of videos by dividing total duration by per-video length, rounding **up** to the nearest integer.  \n    - Output **exactly that many scenes**.  \n    - Never output more or fewer scenes than requested.\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Use provided scene list when available.\n    - Do not use double quotes in any part of the prompts.\n\n  E – Examples:\n    good_examples (in this example the user requested arabic narration):\n      - |\n        {\n          \"scenes\": [\n            {\n              \"video_prompt\": \"dialogue: so tikTok made me buy this... honestly its the best tasting fruit beer in sydney and they donate profits to charity...\\naction: character sits in drivers seat of a parked car, holding the beer can casually while speaking\\ncamera: amateur iphone selfie video, uneven framing, natural daylight\\nemotion: very happy, casual excitement\\nnarration language: arabic\\ntype: veo3_fast\",\n              \"aspect_ratio_video\": \"9:16\",\n              \"model\": \"veo3_fast\"\n            }\n          ]\n        }\n\n  N – Notation:\n    - Final output is a `\"scenes\"` array at the root level.\n    - The array must contain **exactly `scene_count`** objects, where `scene_count` is the user-calculated number.\n    - Each scene contains:\n      - `video_prompt` → stringified YAML with: dialogue, emotion, voice_type, action, character, setting, camera\n      - `aspect_ratio_video` → \"9:16\" or \"16:9\" (default vertical → 9:16)\n      - `model` → \"veo3\" or \"veo3_fast\"\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, diversity, adherence to style, and that the number of scenes exactly matches the requested count.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2560,
        9024
      ],
      "id": "90b00c54-e50d-447f-b031-d35809f74abf",
      "name": "UGCRobo - Video AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\n***\n\n\nThese are the user's instructions\n{{ $('Edit Fields1').item.json.userText }}\n***\nDescription of the reference image:\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: inferred based on their message above, default is vertical if not given\n\n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT:  Image Prompt Generator\n\n\nDefault: If the user's instructions are not very detailed, just default the prompt to: put this (product) into the scene with the (character). \n\n***\n\nIf the user wants UGC authentic casual content: Use **casual UGC-style scenes** unless the user specifies otherwise, and follow the instructions below.\n\n  If the user explicitly requests a different style or setting, follow their instructions.\n\n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin, texture flaws)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n    - Always preserve all visible product **text accurately** (logos, slogans, packaging claims). Never invent extra claims or numbers.\n\n  **Camera parameter** must always include casual realism descriptors such as:  \n  unremarkable amateur iPhone photos, reddit image, snapchat photo, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  **Dialogue/video generation is not required. Only image prompts are generated.**\n\nAvoid mentioning the name of any copyrighted characters in the prompt\n\n  ---\n\n  A – Ask:\n    Generate **image generation instructions only** for AI models based on the user’s request, ensuring exact YAML format.  \n    Default to **vertical aspect ratio** if unspecified.  \n    Always include both:\n      - `image_prompt` (stringified YAML with scene details)  \n      - `aspect_ratio_image` (\"3:2\" or \"2:3\")  \n\n  ---\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Default to casual real-world environments unless a setting is explicitly specified.\n    - Avoid double quotes in the image prompts.\n\n  ---\n\n  E – Examples:\n    🟢 good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"image_prompt\": \"action: character holds product naturally\\ncharacter: infer from the reference image\\nproduct: show product with all visible text clear and accurate\\nsetting: infer from the image or from user instruction\\ncamera: amateur iPhone photo, casual selfie, uneven framing, slightly blurry\\nstyle: candid UGC look, no filters, imperfections intact\\ntext_accuracy: preserve all visible text exactly as in reference image\"}]\n,\n              \"aspect_ratio_image\": \"2:3\"\n            }\n          ]\n        }\n    🔴 bad_examples:\n      - Altering or fabricating product packaging text\n\n  ---\n\n  N – Notation:\n    - Final output is an object containing only:\n      - `image_prompt` → stringified YAMLy\n      - `aspect_ratio_image` → \"3:2\" or \"2:3\" (default vertical → 2:3)\n\n  ---\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, text accuracy, adherence to UGC realism, and that **only image outputs** are returned.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2256,
        9024
      ],
      "id": "6ad37510-e51c-4718-a65c-dff94e03f886",
      "name": "UGCRobo - Image AI Agent"
    },
    {
      "parameters": {
        "content": "# Step 1:\n## Single Image",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        8352
      ],
      "id": "a65ec32c-7843-4b4e-9913-1ff83aed8cc2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Step 3:\n## Combine Video",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2800,
        8352
      ],
      "id": "eb7be5de-99a1-48d5-8b81-c141d2cac828",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.imageUrl }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2064,
        9024
      ],
      "id": "766af37d-dcb6-411e-a06b-2b9630e2f618",
      "name": "Describe Img",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"video_prompt\": \"dialogue: ...\\naction: ...\\ncamera: ...\\nemotion: ...\\nvoice_type: ...\\ncharacter: ...\\nsetting: ...\",\n      \"aspect_ratio_video\": \"9:16\",\n      \"model\": \"veo3_fast\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2736,
        9168
      ],
      "id": "8bba681c-43f9-468d-9871-9dd6d0a8aaef",
      "name": "Structured Output 1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"emotion: ...\\naction: ...\\ncharacter: ...\\nproduct: ...\\nsetting: ...\\ncamera: ...\\nstyle: ...\\ncomposition: ...\\nlighting: ...\\ncolor_palette: ...\\ntypography: ...\\ntext_accuracy: ...\",\n  \"aspect_ratio_image\": \"2:3\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2208,
        9168
      ],
      "id": "ee25d16a-c832-4d9b-b788-d51f02827c94",
      "name": "Structured Output 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filesUrl\": [\"{{ $('Edit Fields1').item.json.imageUrl }}\"],\n\"prompt\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"size\": \"{{ $json.output.aspect_ratio_image }}\",\n  \"nVariants\": 1\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        8512
      ],
      "id": "aede07d1-f04e-414a-959c-0204a9e97bb9",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image').first().json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        8768
      ],
      "id": "6581b227-0948-49ec-8d25-87843995889e",
      "name": "Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [{{ $json.resultUrls[0].map(url => `\"${url}\"`) }}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        8512
      ],
      "id": "4ec345a0-2c40-4c93-9a0d-0e65d317c692",
      "name": "Combine Clips",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Combine Clips').first().json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3072,
        8768
      ],
      "id": "059ba852-2564-4523-8ae3-a6920fd10f64",
      "name": "Get Final Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sL5dUH1SNuandVkl",
          "name": "Combine API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.video.url }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        8896
      ],
      "id": "455afdbb-069c-4bd9-918b-72190d7b7ad9",
      "name": "If 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://getadly.com/api/jobs.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_design\",\n  \"job_id\": {{ $('Edit Fields1').item.json.jobId }},\n  \"design_variations\": [\"{{ $('Get Combined Video URL').item.json.video.url }}\"],\n  \"design_prompt\": {{ JSON.stringify($('Edit Fields1').item.json.userText) }},\n  \"media_type\": \"video\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        9520
      ],
      "id": "9e1406c6-29b0-4ad3-bcc9-a81f9e2f5303",
      "name": "Save Video as Design",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        9120
      ],
      "id": "249fff05-dd67-4b0a-ac9e-c506c7b2d29d",
      "name": "Get Combined Video URL",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# Step 2:\n## Multiple Clips",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        8352
      ],
      "id": "ca65cce0-e60e-4d41-aa90-6daa68b9e329",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9aada93-b273-4732-a34c-fd16eb74d420",
              "name": "video_generated",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3376,
        9136
      ],
      "id": "033da29e-6317-4df7-b772-67f38f19c033",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "=965331439993382",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        592,
        9520
      ],
      "id": "de07f62c-6e38-425c-881b-8406e77e943b",
      "name": "Upload media",
      "webhookId": "f3d1826f-f4c4-4f73-abcc-09e234de1e70",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "messageType": "video",
        "mediaPath": "useMediaId",
        "mediaId": "={{ $('Upload media').item.json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1424,
        9520
      ],
      "id": "abc0f0d9-7c04-41ef-aa1f-37eeb08318e5",
      "name": "Send message5",
      "webhookId": "63f12f44-2142-4a74-9064-f33c799f56ca",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/jobs.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"release_lock\",\n  \"job_id\": \"{{ $('Edit Fields1').item.json.jobId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1872,
        9520
      ],
      "id": "d57f0485-cdbe-4ddc-b92c-668a96f6e267",
      "name": "Release Processing Lock3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        8896
      ],
      "id": "ef9753d8-6751-44c9-8f0c-551525d2e01c",
      "name": "Get Combined Video URL1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"primary_color\": {\n      \"type\": \"string\",\n      \"description\": \"The primary/dominant brand color in hex format (e.g., #FF5733)\"\n    },\n    \"secondary_color\": {\n      \"type\": \"string\",\n      \"description\": \"The secondary brand color in hex format (e.g., #3498DB)\"\n    }\n  },\n  \"required\": [\"primary_color\", \"secondary_color\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        544,
        7568
      ],
      "id": "86c295e5-9ad7-4bd8-8f5a-d50ff244b29b",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('Onboarding Step Router').item.json.message_data.from }}",
        "textBody": "=✅ Logo received and analyzed!\n\n📝 Now, please describe your business in a few sentences. Include:\n•⁠  ⁠What you sell/offer\n•⁠  ⁠Your target audience\n•⁠  ⁠Your business location (if relevant)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1040,
        7456
      ],
      "id": "25a919ce-24e4-4707-8db6-4c1e5c44e239",
      "name": "Request Business Description1",
      "webhookId": "38ff1110-5bf3-4c17-bf96-17aec77792fa",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/onboarding.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Og8OqdpZepiltEft4xFzBH8dupZHymc5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": {{ $('Onboarding Step Router').item.json.client_id }},\n  \"step\": \"logo_analyzed\",\n  \"primary_color\": \"{{ $json.output.primary_color }}\",\n  \"secondary_color\": \"{{ $json.output.secondary_color }}\"\n}",
        "options": {}
      },
      "id": "d84b34be-2f52-4576-878b-3c067a60fef5",
      "name": "Save Colors to Backend1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        7456
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze this logo image and identify the two most prominent brand colors. Return the colors as hexadecimal color codes (e.g., #FF5733 for red-orange, #3498DB for blue). Do NOT return color names like 'gold' or 'white' - you must return actual hex codes starting with # followed by 6 characters.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a color analysis expert. You must extract colors from images and return them ONLY as hexadecimal color codes in the format #RRGGBB. Never return color names."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        7344
      ],
      "id": "e9576ea8-230a-48a8-8333-fe1afcf0cfd7",
      "name": "Analyze Logo Colors1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        7568
      ],
      "id": "775ec20c-28b4-4fcd-a5df-dfad43295f3f",
      "name": "Gemini Vision1",
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/onboarding.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Og8OqdpZepiltEft4xFzBH8dupZHymc5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": {{ $('Call Webhook1').item.json.client_id }},\n  \"step\": \"logo_uploaded\",\n  \"logo_url\": \"{{ $json.saved_path }}\",\n  \"logo_filename\": \"client_{{ $('Call Webhook1').item.json.client_id }}_logo.png\"\n}",
        "options": {}
      },
      "id": "e080a198-07a4-4a0d-88e8-5e043a26a71b",
      "name": "Save Logo to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        7744
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_whatsapp_media.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"media_id\": \"{{ $json.id }}\", \"save_to_server\": true}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        7744
      ],
      "id": "1bd89112-8e44-4adc-bcf3-431028e29ee7",
      "name": "Call Media Downloader1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "textBody": "=🎉 Setup complete! Your brand profile is ready.\n\nWhat would you like to create?\n\n1️⃣ Announcement  \n2️⃣ Product Sale  \n3️⃣ Reel Video  \n4️⃣ Content Strategy Post  \n\nReply with a number (1–4).\n\n💡 Tip: You can restart anytime  \n• Send *abort#* to cancel your current job  \n• Send *forget#* to restart onboarding\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        816,
        8288
      ],
      "id": "9c7d3b86-21a1-45eb-954d-e5ca66d27928",
      "name": "Onboarding Complete - Show Menu",
      "webhookId": "e3e480d5-adbf-42d3-96fc-25d2c2d3fa37",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/onboarding.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Og8OqdpZepiltEft4xFzBH8dupZHymc5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "541f6e69-8388-4a48-982e-1be96671340f",
      "name": "Save Complete Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        8288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/onboarding.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "Og8OqdpZepiltEft4xFzBH8dupZHymc5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": {{ $json.client_id }},\n  \"step\": \"business_described\",\n  \"business_description\": \"=JSON.stringify($('Status Router1').item.json.message_data.text.body)\"\n}",
        "options": {}
      },
      "id": "359e1a06-8e30-4507-8f2c-adfacf9ff082",
      "name": "Save Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        7936
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the parsed profile from AI agent\nconst profile = $input.item.json.output;\nconst clientId = $('Call Webhook1').first().json.client_id\nconst businessDescription = $('Onboarding Step Router').first().json.message_data.text.body\n\n// Return formatted data for both API calls\nreturn [\n  {\n    json: {\n      client_id: clientId,\n      step: \"business_described\",\n      business_description: businessDescription\n    }\n  },\n  {\n    json: {\n      client_id: clientId,\n      step: \"profile_inferred\",\n      brand_profile: profile\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        8096
      ],
      "id": "0095d4fe-3c2d-4f12-9059-d7f0cda733d5",
      "name": "Extract Profile"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=From this business description, infer and return ONLY a JSON object:\n\n{{ $json.message_data.text.body }}\n\nReturn this exact JSON format:\n{\n  \"business_name\": \"extracted name\",\n  \"industry\": \"industry category\",\n  \"brand_tone\": \"professional/playful/luxury/minimal/vibrant\",\n  \"font_preference\": \"modern-sans/elegant-serif/bold-display\",\n  \"default_language\": \"ar/he/en\",\n  \"business_phone\": \"phone if mentioned or null\",\n  \"business_address\": \"address if mentioned or null\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -240,
        7984
      ],
      "id": "6ce86981-3d9f-460c-b744-3e1adb8dee8c",
      "name": "Infer Brand Profile"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        8208
      ],
      "id": "ef3c4bc4-2f54-47af-a77f-e6b2981835ba",
      "name": "Gemini Profile Analyzer",
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "textBody": "📝 Great, now please describe your business in a few sentences. Include: • What you sell/offer • Your target audience • Your business location (if relevant)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -176,
        7792
      ],
      "id": "49463f8c-9701-4b1f-aa5b-b72c81406779",
      "name": "Ask for Description",
      "webhookId": "a0eac0fd-be7c-4616-8a7d-bd6c21f9fb51",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        7600
      ],
      "id": "d39cf750-58d4-4cd3-bfb8-aed4e2361b7e",
      "name": "Download Logo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1TTGgq44TUtYBYl",
          "name": "Whatsapp Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.message_data.image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -176,
        7600
      ],
      "id": "65392d5c-1ad3-41a3-842a-57b98c725ca7",
      "name": "Get Logo Media URL",
      "webhookId": "4c69bff0-6eae-43db-9b99-2686acd81e7a",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "textBody": "👋 Welcome to ADLY!\n\nLet's set up your brand profile.\n\n📸 Please send your business logo as an image.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -176,
        7408
      ],
      "id": "273f7868-ccb1-469e-a6fd-0538f631bac5",
      "name": "Request Logo",
      "webhookId": "aa1d8def-10bb-4139-844b-23e883da5255",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "upload_logo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Request Logo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "upload_logo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Logo Uploaded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "describe_business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Need Description"
            }
          ]
        },
        "options": {}
      },
      "id": "4f6682e4-3e75-4f7c-82a7-80e3ac490fdb",
      "name": "Onboarding Step Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -464,
        7680
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"business_name\": \"extracted name\",\n  \"industry\": \"category\",\n  \"brand_tone\": \"luxury\",\n  \"font_preference\": \"elegant-serif\",\n  \"default_language\": \"en\",\n  \"business_phone\": \"0539613663\",\n  \"business_address\": \"UK, London\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -112,
        8208
      ],
      "id": "3272eb4d-9324-44a6-922b-0e325e17e607",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger2').item.json.messages[0].from }}",
        "textBody": "=Here is your design! Reply YES if you approve.\nOr use abort# to generate a new video",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1648,
        9520
      ],
      "id": "6e667396-3cca-47d1-9521-2d2ba543c3c5",
      "name": "Ask Approval Approval",
      "webhookId": "4d2e15c5-93d8-45e7-9ffa-45425031c044",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=Something went wrong, please try again\nUse abort# to generate a new video",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3568,
        9344
      ],
      "id": "c3f1678c-ad6e-4b27-acb5-005f9a5a447b",
      "name": "Ask Approval Approval5",
      "webhookId": "4d2e15c5-93d8-45e7-9ffa-45425031c044",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7538c7c-2b2f-41dc-8bd3-90cddb682b1b",
              "leftValue": "={{ $('Parse AI Decision1').item.json.whatsapp_message }}",
              "rightValue": "No problem",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        8848
      ],
      "id": "125adc1a-fb67-4dad-b602-55d33143150c",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        9936
      ],
      "id": "f60a41f0-0803-4376-bbf4-92cf9681f3de",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger2').first().json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -416,
        9936
      ],
      "id": "06349863-ee3b-4e9b-9bc1-de2da688c4a2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "=Tool Description:\nThis tool is used to generate an AD Copy based on a creative request and a specific text overlay.\nParameters that MUST be provided:\n\nimage_url: URL of the approved design\ndesign_prompt: The prompt used to create the design\nuser_message: Original creative request from user\n\nTool's Output:\nReturns an image id containing the generated AD",
        "workflowId": {
          "__rl": true,
          "value": "pOBidxHO4iga8psL",
          "mode": "list",
          "cachedResultUrl": "/workflow/pOBidxHO4iga8psL",
          "cachedResultName": "Generate Ad Copy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image_url', ``, 'string') }}",
            "client_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_id', ``, 'string') }}",
            "user_message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_message', ``, 'string') }}"
          },
          "matchingColumns": [
            "imageId"
          ],
          "schema": [
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -272,
        9936
      ],
      "id": "3f6f17cf-bebe-4cad-a92b-e493edd488ca",
      "name": "Generate AD Copy"
    },
    {
      "parameters": {
        "description": "Call this tool to Publish a post",
        "workflowId": {
          "__rl": true,
          "value": "x8Z6O91JTIVSvniV",
          "mode": "list",
          "cachedResultUrl": "/workflow/x8Z6O91JTIVSvniV",
          "cachedResultName": "Publish Post"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "clientId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientId', ``, 'string') }}",
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', ``, 'string') }}",
            "clientPhone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientPhone', ``, 'string') }}"
          },
          "matchingColumns": [
            "imageUrl"
          ],
          "schema": [
            {
              "id": "clientId",
              "displayName": "clientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "clientPhone",
              "displayName": "clientPhone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -144,
        9936
      ],
      "id": "328ab722-82f3-4bf1-8af1-4fe92fb3ee28",
      "name": "Publish Post"
    },
    {
      "parameters": {
        "description": "Call this tool to edit a design.",
        "workflowId": {
          "__rl": true,
          "value": "bBZ9GeAN6XcB2NhT",
          "mode": "list",
          "cachedResultUrl": "/workflow/bBZ9GeAN6XcB2NhT",
          "cachedResultName": "Edit Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userPrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userPrompt', ``, 'string') }}",
            "imageUrl": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageUrl', ``, 'string') }}",
            "clientId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientId', ``, 'string') }}",
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "clientId",
              "displayName": "clientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        9936
      ],
      "id": "9d583cc9-2466-4736-98e0-cba37cd6220c",
      "name": "Edit Tool"
    },
    {
      "parameters": {
        "description": "=This tool is used to create the first visual draft(s) for a post based on the user's creative idea.\n\nInputs:\n• user_text (string): The creative description or idea provided by the user for how the post should look — including theme, colors, tone, layout, or mood.\n\nBehavior:\n- Triggered when the current_stage is 'await_user_input' and the user provides a valid creative idea.\n- It generates one or more design variations according to the prompt.\n- The backend will store the generated image(s) and automatically advance the stage to 'await_user_approval' after saving.\n\nOutputs:\n• An array of generated image IDs (the first ID is typically used for preview or saving).\n\nTypical use case:\nWhen a client writes a message like “Make it calm and elegant with blue tones,” this tool interprets that description and generates the design draft accordingly.\n",
        "workflowId": {
          "__rl": true,
          "value": "3mspNr2rYYevQIMq",
          "mode": "list",
          "cachedResultUrl": "/workflow/3mspNr2rYYevQIMq",
          "cachedResultName": "Generate Design"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_text', ``, 'string') }}",
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', ``, 'string') }}",
            "clientId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientId', ``, 'string') }}",
            "productImage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('productImage', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_text",
              "displayName": "user_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "clientId",
              "displayName": "clientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "productImage",
              "displayName": "productImage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        96,
        9936
      ],
      "id": "e5a693e1-b40b-48f9-9bc8-51b5a7f5bba0",
      "name": "Generate Design"
    },
    {
      "parameters": {
        "description": "Call this tool when you want to create a video ad",
        "workflowId": {
          "__rl": true,
          "value": "ZG02uAb8HSdjZCky",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZG02uAb8HSdjZCky",
          "cachedResultName": "video ad"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "imageUrl": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageUrl', ``, 'string') }}"
          },
          "matchingColumns": [
            "imageUrl"
          ],
          "schema": [
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        224,
        9936
      ],
      "id": "2816c010-a139-4b74-b8b8-73f2229cc54e",
      "name": "video ad"
    },
    {
      "parameters": {
        "description": "Call this tool to create a UGC",
        "workflowId": {
          "__rl": true,
          "value": "5FZq3Ssf5REPsaHk",
          "mode": "list",
          "cachedResultUrl": "/workflow/5FZq3Ssf5REPsaHk",
          "cachedResultName": "Add Final Output Node to UGC Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "imageUrl": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageUrl', ``, 'string') }}",
            "clientId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('clientId', ``, 'string') }}",
            "userText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userText', ``, 'string') }}",
            "jobId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('jobId', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "clientId",
              "displayName": "clientId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userText",
              "displayName": "userText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "jobId",
              "displayName": "jobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        352,
        9936
      ],
      "id": "6057e5fa-94e6-40f4-93a6-dccf953e2e59",
      "name": "Create UGC"
    }
  ],
  "pinData": {
    "Get Combined Video URL1": [
      {
        "json": {
          "video": {
            "url": "https://v3b.fal.media/files/b/penguin/pQP12aCXWHsKjcWmIqhUq_merged_video.mp4",
            "content_type": "video/mp4",
            "file_name": "merged_video.mp4",
            "file_size": 6857694
          },
          "metadata": {
            "final_fps": 24,
            "final_width": 720,
            "final_height": 1280,
            "total_duration": 16,
            "has_audio": true,
            "input_videos": [
              {
                "index": 1,
                "fps": 24,
                "width": 720,
                "height": 1280,
                "duration": 8,
                "has_audio": true,
                "url": "https://tempfile.aiquickdraw.com/v/e2ef8e9d09200456917b8c10c71ac477_1764098539.mp4"
              },
              {
                "index": 2,
                "fps": 24,
                "width": 720,
                "height": 1280,
                "duration": 8,
                "has_audio": true,
                "url": "https://tempfile.aiquickdraw.com/v/25fbde6a6a4c1d43ee13ef89d95b09fc_1764098552.mp4"
              }
            ],
            "video_count": 2
          }
        }
      }
    ],
    "Edit Fields7": [
      {
        "json": {
          "resultUrls": [
            [
              "video.url"
            ]
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "WhatsApp Trigger2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Call Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Router1": {
      "main": [
        [
          {
            "node": "Onboarding Step Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unified Context Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Parse AI Decision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Image Generated2": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Generated to Backend4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Generated Image2": {
      "main": [
        [
          {
            "node": "Ask Approval Approval2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chat Response2": {
      "main": [
        [
          {
            "node": "Release Processing Lock2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Check If Image Generated2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generated to Backend4": {
      "main": [
        [
          {
            "node": "Send Generated Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Approval Approval2": {
      "main": [
        [
          {
            "node": "Release Processing Lock2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unified Context Builder1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Decision1": {
      "main": [
        [
          {
            "node": "Lock Needed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message4": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Webhook1": {
      "main": [
        [
          {
            "node": "Simple Router1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Needed?1": {
      "main": [
        [
          {
            "node": "Set Processing Lock6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lock Needed?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute API Call1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Processing Lock6": {
      "main": [
        [
          {
            "node": "Lock Needed?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Needed?2": {
      "main": [
        [
          {
            "node": "Execute API Call1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Publish Confirmation1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ": {
      "main": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Combine Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Final Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Video AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UGCRobo - Image AI Agent": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Img": {
      "main": [
        [
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 1": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Video AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output 2": {
      "ai_outputParser": [
        [
          {
            "node": "UGCRobo - Image AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "If ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Clips": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Final Video": {
      "main": [
        [
          {
            "node": "If 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If 2": {
      "main": [
        [
          {
            "node": "Get Combined Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Combined Video URL": {
      "main": [
        [
          {
            "node": "Check If Image Generated2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Approval Approval5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Describe Img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video as Design": {
      "main": [
        [
          {
            "node": "Get Job Details7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        []
      ]
    },
    "Get Job Details7": {
      "main": [
        [
          {
            "node": "Send message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Save Video as Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message5": {
      "main": [
        [
          {
            "node": "Ask Approval Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze Logo Colors1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save Colors to Backend1": {
      "main": [
        [
          {
            "node": "Request Business Description1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Logo Colors1": {
      "main": [
        [
          {
            "node": "Save Colors to Backend1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Logo Colors1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call Media Downloader1": {
      "main": [
        [
          {
            "node": "Save Logo to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Complete Profile": {
      "main": [
        [
          {
            "node": "Onboarding Complete - Show Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Profile": {
      "main": [
        [
          {
            "node": "Save Description",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Complete Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infer Brand Profile": {
      "main": [
        [
          {
            "node": "Extract Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Profile Analyzer": {
      "ai_languageModel": [
        [
          {
            "node": "Infer Brand Profile",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo": {
      "main": [
        [
          {
            "node": "Analyze Logo Colors1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Media Downloader1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Logo Media URL": {
      "main": [
        [
          {
            "node": "Download Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Step Router": {
      "main": [
        [
          {
            "node": "Request Logo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Logo Media URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Infer Brand Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Infer Brand Profile",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ask Approval Approval": {
      "main": [
        [
          {
            "node": "Release Processing Lock3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Generate AD Copy": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Publish Post": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Design": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "video ad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create UGC": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae82d79b-4f3f-4597-b093-a999e95e2cb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7e367d5b049923fc2fe57ced60d0eee5246d33d838232f14626f381ac5f0963"
  },
  "id": "SNP9eMcClvLsFKU2",
  "tags": []
}