docs/n8n/Generate Design.json
{
  "name": "Generate Design",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_text"
            },
            {
              "name": "jobId"
            },
            {
              "name": "clientId"
            },
            {
              "name": "productImage"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1248,
        1424
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields1').item.json.product_images.length > 0 }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Product Sale"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1200,
        944
      ],
      "id": "57ad0302-a609-41d8-9948-0d55d8b17df3",
      "name": "Check Job Type"
    },
    {
      "parameters": {
        "url": "={{ $('Edit Fields1').item.json.product_images }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "7522c9a9-a820-4b5e-a52d-dbee4a9092f0",
      "name": "Download Product Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        848
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Client Info1').item.json.brand_assets.logo_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3a6f7634-4b01-430f-af87-d7bd94b60c2b",
      "name": "Download Logo (Product)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        848
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Get Client Info1').item.json.brand_assets.logo_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "162dcb99-cc64-44e3-9cfa-11b57b8569a7",
      "name": "Download Logo (Announcement)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare binaries for Product Sale design\nconst item = $input.item;\nconst clientInfo = $('Get Client Info1').item.json;\nconst productImage = $('Download Product Image').item.binary.data;\nconst logo = item.binary.data;\n\n// Rename binaries\nitem.binary.product = productImage;\nitem.binary.logo = logo;\ndelete item.binary.data;\n\n// Get client context\nconst businessName = clientInfo.business_info?.business_name || 'Business';\nconst industry = clientInfo.business_info?.industry || 'general';\nconst brandTone = clientInfo.business_info?.brand_tone || 'professional';\nconst primaryColor = clientInfo.brand_assets?.primary_color || '#000000';\nconst secondaryColor = clientInfo.brand_assets?.secondary_color || '#FFFFFF';\nconst userText = $('Edit Fields1').item.json.user_text;\n\n// Create design prompt for product sale\nconst designPrompt = `Create a stunning Instagram/Facebook product advertisement.\n\n**CRITICAL FORMAT REQUIREMENTS:**\n- Design MUST extend to all 4 edges (full bleed)\n- NO white borders, margins, or padding around the image\n- NO frame or border effects\n- Content should reach the very edge of the canvas\n- Background elements must fill the entire square completely\n- Think \"edge-to-edge\" design\n\n**PRODUCT CONTEXT:**\nBusiness: ${businessName}\nIndustry: ${industry}\nBrand Tone: ${brandTone}\nBrand Colors: Primary ${primaryColor}, Secondary ${secondaryColor}\n\n**USER REQUEST:**\n${userText}\n\n**DESIGN REQUIREMENTS:**\n\n1. **Product Placement:**\n   - Feature the product image prominently (center or slightly off-center)\n   - Product should occupy 40-50% of the design space\n   - Ensure product is well-lit and clearly visible\n   - Add subtle shadow/depth to make product pop\n\n2. **Logo Integration:**\n   - Place business logo at TOP CENTER (50-70px from top)\n   - Logo size: 160-200px wide, maintain aspect ratio\n   - Ensure logo doesn't overlap with product\n   - Logo should be clearly visible with good contrast\n\n3. **Visual Design:**\n   - Use brand colors (${primaryColor}, ${secondaryColor}) as accent colors\n   - Create a ${brandTone} aesthetic that matches the brand\n   - Add elegant geometric shapes or patterns as background elements\n   - Ensure high contrast between product and background\n   - Use subtle gradients or textures for depth\n   - Modern, clean, professional composition\n\n4. **Layout:**\n   - Leave space at bottom (200-250px) for text overlay later\n   - Balanced composition with proper white space\n   - Visual hierarchy: Logo → Product → Background elements\n   - Ensure design works well on both Instagram and Facebook\n\n5. **Style Guidelines:**\n   - ${brandTone === 'luxury' ? 'Elegant, sophisticated, premium feel with gold/metallic accents' : ''}\n   - ${brandTone === 'playful' ? 'Vibrant, energetic, fun with bold colors and dynamic shapes' : ''}\n   - ${brandTone === 'minimal' ? 'Clean, simple, lots of white space, subtle elements' : ''}\n   - ${brandTone === 'professional' ? 'Clean, trustworthy, modern with balanced composition' : ''}\n   - High-quality, print-ready appearance\n   - Instagram-worthy aesthetic\n\n**CRITICAL:**\n- DO NOT add any text (besides logo text if it exists)\n- Product must be the hero element\n- Background should complement, not compete with product\n- Maintain brand identity throughout\n- Ensure design is eye-catching and scroll-stopping`;\n\nitem.json = {\n  prompt: designPrompt,\n  job_id: $('Edit Fields1').item.json.job_id,\n  client_id: $('Edit Fields1').item.json.client_id\n};\n\nreturn item;"
      },
      "id": "43ab9238-d918-4e6c-b044-b79b41856ffc",
      "name": "Prepare Product Design Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare binary for Announcement design\nconst item = $input.item;\nconst clientInfo = $('Get Client Info1').item.json;\nconst logo = item.binary.data;\n\n// Rename binary\nitem.binary.logo = logo;\ndelete item.binary.data;\n\n// Get client context\nconst businessName = clientInfo.business_info?.business_name || 'Business';\nconst industry = clientInfo.business_info?.industry || 'general';\nconst brandTone = clientInfo.business_info?.brand_tone || 'professional';\nconst primaryColor = clientInfo.brand_assets?.primary_color || '#000000';\nconst secondaryColor = clientInfo.brand_assets?.secondary_color || '#FFFFFF';\nconst userText = $('Edit Fields1').item.json.user_text;\n\n// Create design prompt for announcement\nconst designPrompt = `Create a stunning Instagram/Facebook announcement post.\n\n**CRITICAL FORMAT REQUIREMENTS:**\n- Design MUST extend to all 4 edges (full bleed)\n- NO white borders, margins, or padding around the image\n- NO frame or border effects\n- Content should reach the very edge of the canvas\n- Background elements must fill the entire square completely\n- Think \"edge-to-edge\" design\n\n**BUSINESS CONTEXT:**\nBusiness: ${businessName}\nIndustry: ${industry}\nBrand Tone: ${brandTone}\nBrand Colors: Primary ${primaryColor}, Secondary ${secondaryColor}\n\n**ANNOUNCEMENT:**\n${userText}\n\n**DESIGN REQUIREMENTS:**\n\n1. **Logo Placement:**\n   - Place business logo at TOP CENTER (50-70px from top)\n   - Logo size: 180-220px wide, maintain aspect ratio\n   - Ensure logo is the primary focal point\n   - Clear contrast with background for visibility\n\n2. **Visual Design:**\n   - Use brand colors (${primaryColor}, ${secondaryColor}) as dominant palette\n   - Create a ${brandTone} atmosphere that reflects the announcement mood\n   - Add elegant geometric shapes, patterns, or abstract elements\n   - Build visual interest through layering and depth\n   - Use gradients, textures, or subtle effects for sophistication\n   - Modern, eye-catching, scroll-stopping aesthetic\n\n3. **Composition:**\n   - Center-focused layout with logo as anchor\n   - Leave large space in middle/bottom (400-500px) for text overlay later\n   - Balanced visual weight across the design\n   - Clear visual hierarchy and flow\n   - Proper breathing room around elements\n\n4. **Background Elements:**\n   - Create an engaging background that matches the announcement theme\n   - ${userText.toLowerCase().includes('sale') || userText.toLowerCase().includes('discount') ? 'Energetic, exciting elements suggesting value and urgency' : ''}\n   - ${userText.toLowerCase().includes('new') || userText.toLowerCase().includes('launch') ? 'Fresh, innovative elements suggesting novelty' : ''}\n   - ${userText.toLowerCase().includes('event') || userText.toLowerCase().includes('celebration') ? 'Festive, celebratory elements with dynamic composition' : ''}\n   - Use shapes, lines, dots, or abstract forms\n   - Ensure background supports but doesn't overpower\n\n5. **Style Guidelines:**\n   - ${brandTone === 'luxury' ? 'Elegant, refined, premium with metallic/gold accents, rich colors' : ''}\n   - ${brandTone === 'playful' ? 'Vibrant, energetic, fun with bold shapes, dynamic movement' : ''}\n   - ${brandTone === 'minimal' ? 'Clean, simple, sophisticated with generous white space' : ''}\n   - ${brandTone === 'professional' ? 'Modern, trustworthy, polished with balanced design' : ''}\n   - Instagram-worthy, shareable quality\n   - Consistent with ${industry} industry standards\n\n6. **Technical:**\n   - Perfect 1080x1080px square format\n   - High resolution, crisp edges\n   - Optimized for mobile viewing\n   - Works well with text overlay\n\n**CRITICAL:**\n- DO NOT add any text (besides logo text if it exists)\n- Design should be versatile for any announcement message\n- Background must allow text to be readable when added later\n- Maintain brand identity and recognition\n- Create emotional connection through design`;\n\nitem.json = {\n  prompt: designPrompt,\n  job_id: $('Edit Fields1').item.json.job_id,\n  client_id: $('Edit Fields1').item.json.client_id\n};\n\nreturn item;"
      },
      "id": "3e40d6b8-f4ed-4b40-bd42-7473b83d8dce",
      "name": "Prepare Announcement Design Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        1040
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "={{ $json.prompt }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "product"
            },
            {
              "binaryPropertyName": "logo"
            }
          ]
        },
        "options": {}
      },
      "id": "78fa98c7-0954-4a12-9fcb-6d2d6914b7df",
      "name": "Generate Product Design",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        848
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "={{ $json.prompt }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "logo"
            }
          ]
        },
        "options": {}
      },
      "id": "4e0f0cfc-9c3f-4a0e-976e-006da5052180",
      "name": "Generate Announcement Design",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -304,
        1040
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31ae6dad-d1ac-4df3-926a-93509e016cac",
              "name": "client_id",
              "value": "={{ $json.clientId }}",
              "type": "number"
            },
            {
              "id": "d80c284e-3c20-4110-9644-8909a668e1fd",
              "name": "job_id",
              "value": "={{ $json.jobId }}",
              "type": "string"
            },
            {
              "id": "product-images-field",
              "name": "product_images",
              "value": "={{ $json.productImage || [] }}",
              "type": "string"
            },
            {
              "id": "user-text-field",
              "name": "user_text",
              "value": "={{ $json.user_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        944
      ],
      "id": "e3b14024-e145-414f-9ec5-c1696c6f9b33",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1613a987-1b48-4e0f-9ae9-8b52b3063009",
      "name": "Get Client Info1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "mediaPropertyName": "edited",
        "additionalFields": {}
      },
      "id": "4ad31ed1-1aae-4f62-b979-cd3c01218c47",
      "name": "Upload to WhatsApp2",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -80,
        944
      ],
      "webhookId": "generate-design-upload",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -848,
        1600
      ],
      "id": "1cc1a6b1-ca9d-48ff-a450-e0d304c26168",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -720,
        1584
      ],
      "id": "216d88d4-17d2-4d27-9016-8e21b97fdcfb",
      "name": "Think1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e46f416f-7609-455f-8795-72f52ba1e563",
              "name": "image_prompt",
              "value": "={{ $json.output.image_prompt }}",
              "type": "string"
            },
            {
              "id": "0237134f-13d5-4c42-8ea0-2b8ec76be67d",
              "name": "caption",
              "value": "={{ $json.output.caption }}",
              "type": "string"
            },
            {
              "id": "4b03ccd0-8a8a-40b3-bbf6-ff4d3aa64dec",
              "name": "creative_summary",
              "value": "={{ $json.output.creative_summary }}",
              "type": "string"
            },
            {
              "id": "87963f3e-497f-44e4-9d4b-02bf95cebe6a",
              "name": "aspect_ratio",
              "value": "={{ $json.output.aspect_ratio }}",
              "type": "string"
            },
            {
              "id": "6de93348-769a-47c5-88c2-471cd0807fbf",
              "name": "video_model",
              "value": "={{ $json.output.video_model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        1728
      ],
      "id": "745b9538-ccdb-4eab-8131-aafb238ad00b",
      "name": "Set Prompts1"
    },
    {
      "parameters": {
        "content": "# INPUT",
        "height": 880,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        1376
      ],
      "id": "74fbb9a8-33db-4287-82bd-dcf0392f3d6d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the initial creative brief:\n{{ JSON.stringify($('When Executed by Another Workflow').item.json.user_text) }}\nHere is the Business info:\n{{ $json.prompt }}\n\nDescription of the product/business logo:\n{{ $('Analyze Image').item.json.choices[0].message.content }}\n\n*business info: do not prompt or output keys, only their values (e.g. no need for ADDRESS: TEL AVIV just write the address)\nFor a product image:\nUse the Think tool to double check your output. Make sure the model understand this is a template to be generated with all inferred info, and then we place the prodcut in the center. Inferred info cannot cover, be a part of, on top of, or behind the product. \n\nFor a logo image:\nUse the Think tool to double check your output. Make sure the model understand this is a template to be generated with all inferred info, make sure the user request is fulfilled. \nThen Deside where is the optimal place for the logo.\n\nRules:\n\nThe given images (product image or logo) should never be altered.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## 🎨 SYSTEM PROMPT: Image ad template Prompt Generator for Product Creatives\n\n  A – Ask:\n    Generate an image ad template prompt (stringified as JSON), plus a short caption and a structured creative summary, based on a product reference image and the user’s creative intent.\n\n  G – Guidance:\n    role: Seasoned creative director with deep expertise in visual storytelling, branding, and advertising\n    output_count: 1\n    character_limit: No hard limit, but each output should remain focused and readable\n   \n\n    constraints: \n      - Do not quote the creative brief verbatim. Try to analyse it, improve it, extract its main ideas and prompt based on it. Assume users are stupid or ignorant. Users are speaking to you as if you were a person, try to understand their requets and not verbatim doing it. If the user's brief is without a product (is an announcement or general content post request) try to think of a design that fits the barand, its products and audiance. For example include some unspecified random unbranded prodcuts for a perfume shop's announcement about closure or whatever.\n      - Prioritise dynamic backgrounds and elements, with scenes that are fully detailed out (unless otherwise specified by the user)\n      - Reference image must be mentioned and used for detailed visual context\n      - Preserve product label, color, and packaging fidelity\n      - Perserve logo (if provided) fidelity and make no changes to it whatsoever.\n      - Avoid vague, generic, or brand-inaccurate descriptions\n      - If the reference image contains background elements, ignore them unless essential—focus solely on the product as the visual centerpiece\n      - If the user’s brief lacks detail, creatively interpret their intent and propose a well-directed image and video concept. Be imaginative — act like a creative director, not a mirror.\n      - When the brief is vague, choose from one of the provided inspirational examples below and adapt its style, tone, and structure to fit the specific product and context.\n      - The image setting must align with the image setting \n      - Infer from the creative brief all details such as address, website url, sale terms, phone numbers, contact details, prices, old prices, or other marketing or contact info and add them to the imgage prompt, to be inserted where suitable but not on the produt or behind it bur rather in the best position in the template. All inferred details must be included. \n      - Any inferred element is to be placed not on the product. Nothing can be printed or put on top of the product.\n      - Inferred info must be professionally formatted and made to sell. Prices in price stickers matching the design. Address and contact elements the same on top of good elements that are good for social medial. If the user gives before and after price extract them without the words, price only. \n      - ALL inferred element MUST be included\n      - business info: do not prompt or output keys, only their values (e.g. no need for ADDRESS: TEL AVIV just write the address)\n     \n\n      - \"image_prompt\" must be a string and include the following. Make sure to mention to Keep the product’s packaging, label, text, logo and all design details 100% sharp, clear and untouched. Make sure the background color matches or complements the dominant packaging color. Use realistic shadows and depth. :\n        - description\n        - inferred elements\n        - setting\n        - background\n        - composition\n        - elements\n        - lighting\n        - camera_type\n        - camera_settings\n        - effects\n        - style\n\n    \n\n      - \"creative_summary\" must begin with a short, non-technical paragraph summarizing where the image is, what's the style. Then use:\n\n      \n        🖼️ IMAGE:\n        - just summarize the image prompt above but in bullet points\n\n\n      - \"caption\" must include at least one emoji and 1–2 relevant hashtags. Keep it punchy and optimized for social sharing.\n\n  E – Examples:\n    🟢 good_examples:\n\n      Eye-Catchy Product Video:\n      Capture a cinematic shot of a sunlit Scandinavian bedroom. A sealed IKEA box trembles, opens, and flat pack furniture assembles rapidly into a serene, styled room highlighted by a yellow IKEA throw on the bed. Elements include a fixed wide-angle camera, natural warm lighting with cool accents, and details such as the IKEA box (logo visible), bed with yellow throw, bedside tables, lamps, wardrobe, shelves, mirror, art, rug, curtains, reading chair, and plants. The motion features the box opening and furniture assembling precisely and rapidly. It ends in a calm, modern space with the signature yellow IKEA accent. Keywords include 16:9, IKEA, Scandinavian, fast assembly, no text, warm & cool tones. No text should appear on screen.\n\n      Product Photoshoot:\n      Create a hyper-realistic, high-energy product photo using my exact product from the reference image I provide. Keep the product’s packaging, label, text, logo and all design details 100% sharp, clear and untouched — do NOT blur or change any part of the label or text. Place the product in the center with an explosion of its natural flavor ingredients (for example: cereal balls, chocolate pieces, milk splashes, strawberries, or other matching ingredients). Make sure the background color matches or complements the dominant packaging color. Add dynamic lighting and a vivid splash effect to create energy, but keep the product label perfectly readable and in focus. Use realistic shadows and depth. The final image should feel delicious, fun and eye-catching, with every product detail fully visible and sharp. On the bototm left add the provided price (250 ILS) and on the bottom right add the contact details: Phone icon followed by 05454515506\n\n    \n\n      Street Style Product Ad:\n      Capture a cinematic eyewear portrait from a low angle as a model looks skyward, chin raised in defiance beneath thick, acid-toned sunglasses that wrap tightly across their face. Behind them, rooftops and textures fade into bokeh, contrasting with the glossy sharpness of the sculptural frames. Style with street-meets-sci-fi minimalism — raw skin, matte or sweaty, with clean-lined hair and expressive stillness. Let harsh midday or early golden light cast crisp shadows across the scene. Overlay the warped, melting GlassEye™ logo across the lens or subtly floating in space — a symbol of visual rebellion. Mood: confident, elusive, and hyper-modern.\n\n     \n\n\n  N – Notation:\n    format: JSON\n    example_output: |\n        {\n          \"image_prompt\": \"string\",\n          \"caption\": \"short caption\",\n          \"creative_summary\": \"summary of the combined visual concept\",\n        }\n\n\n  T – Tools:\n    You have access to the following tools. Each one is described clearly:\n    - Think Tool: Use this to reflect and reason before responding.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -800,
        1728
      ],
      "id": "9a30376b-4c0d-43f5-9596-ce2fd4386ad6",
      "name": "Initial Prompt AI Agent1",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"string\",\n  \"video_prompt\": \"stringified JSON\",\n  \"caption\": \"short caption\",\n  \"creative_summary\": \"summary of the combined visual concept\",\n  \"aspect_ratio\": \"vertical or horizontal\",\n  \"video_model\": \"veo3 or veo3_fast\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -624,
        1600
      ],
      "id": "de4bd0a6-f62d-4b06-a7c8-282e2ac91426",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "url": "={{ $('Get Client Info').item.json.brand_assets.logo_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        1616
      ],
      "id": "afb34e1b-a59c-4acc-a1cb-1662ea0a9375",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "// Read client info from the other node\nconst clientInfo = $('Get Client Info').first().json || {};\n\n// Extract context with safe defaults\nconst businessName   = clientInfo.business_info?.business_name ?? '';\nconst businessAddress   = clientInfo.business_info?.business_address ?? '';\nconst businessPhone  = clientInfo.client.phone_number ?? '';\nconst industry       = clientInfo.business_info?.industry ?? 'general';\nconst brandTone      = clientInfo.business_info?.brand_tone ?? 'professional';\nconst primaryColor   = clientInfo.brand_assets?.primary_color ?? '#000000';\nconst secondaryColor = clientInfo.brand_assets?.secondary_color ?? '#FFFFFF';\n\n// Build the prompt\nconst designPrompt = `\nBusiness Name: ${businessName}\nBusiness Address: ${businessAddress}\nPhone: ${businessPhone}\nIndustry: ${industry}\nBrand Tone: ${brandTone}\nBrand Colors: Primary ${primaryColor}, Secondary ${secondaryColor}\n`.trim();\n\n// Return a single item\nreturn {\n  json: {\n    prompt: designPrompt,\n  }\n};\n"
      },
      "id": "ecd20b82-78b4-48ef-9681-b1214ebede30",
      "name": "Prepare Product Design Prompt2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1952
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        2720
      ],
      "id": "f1e94f02-78bd-4489-939d-23974aea513f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -544,
        2704
      ],
      "id": "4c5dbfa4-9611-464d-8953-ace709296684",
      "name": "Think2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe the product and brand in this image in full detail. Fully ignore the background. Focus ONLY on the product. \nif the Image is the business logo describe it.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1248,
        3248
      ],
      "id": "7d07e98c-6bc7-499f-b633-afc2f734d796",
      "name": "Analyze Image2",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e46f416f-7609-455f-8795-72f52ba1e563",
              "name": "image_prompt",
              "value": "={{ $json.output.image_prompt }}",
              "type": "string"
            },
            {
              "id": "0237134f-13d5-4c42-8ea0-2b8ec76be67d",
              "name": "caption",
              "value": "={{ $json.output.caption }}",
              "type": "string"
            },
            {
              "id": "4b03ccd0-8a8a-40b3-bbf6-ff4d3aa64dec",
              "name": "creative_summary",
              "value": "={{ $json.output.creative_summary }}",
              "type": "string"
            },
            {
              "id": "87963f3e-497f-44e4-9d4b-02bf95cebe6a",
              "name": "aspect_ratio",
              "value": "={{ $json.output.aspect_ratio }}",
              "type": "string"
            },
            {
              "id": "6de93348-769a-47c5-88c2-471cd0807fbf",
              "name": "video_model",
              "value": "={{ $json.output.video_model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        2848
      ],
      "id": "33e272c9-20f3-43d7-8fb2-207e1ea484ed",
      "name": "Set Prompts2"
    },
    {
      "parameters": {
        "content": "# INPUT",
        "height": 880,
        "width": 308,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        2496
      ],
      "id": "2b1c14b4-830f-400b-aaaa-347977558b6c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the initial creative brief:\n{{ JSON.stringify($('When Executed by Another Workflow').item.json.user_text) }}\nHere is the Business info:\n{{ $json.prompt }}\n\nDescription of the product:\n{{ $('Analyze Image2').item.json.choices[0].message.content }}\n\n\nFor a product image:\nUse the Think tool to double check your output. Make sure the model understand this is a template to be generated with all inferred info, and then we place the prodcut in the center. Inferred info cannot cover, be a part of, on top of, or behind the product. \n\nFor a logo image:\nUse the Think tool to double check your output. Make sure the model understand this is a template to be generated with all inferred info, make sure the user request is fulfilled. \nThen Deside where is the optimal place for the logo.\n\nRules:\n\nThe given images (product image or logo) should never be altered.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## 🎨 SYSTEM PROMPT: Image ad template Prompt Generator for Product Creatives\n\n  A – Ask:\n    Generate an image ad template prompt (stringified as JSON), plus a short caption and a structured creative summary, based on a product reference image and the user’s creative intent.\n\n  G – Guidance:\n    role: Seasoned creative director with deep expertise in visual storytelling, branding, and advertising\n    output_count: 1\n    character_limit: No hard limit, but each output should remain focused and readable\n   \n\n    constraints: \n      - Prioritise dynamic backgrounds and elements, with scenes that are fully detailed out (unless otherwise specified by the user)\n      - Reference image must be mentioned and used for detailed visual context\n      - Preserve product label, color, and packaging fidelity\n      - Perserve logo (if provided) fidelity and make no changes to it whatsoever.\n      - Avoid vague, generic, or brand-inaccurate descriptions\n      - If the reference image contains background elements, ignore them unless essential—focus solely on the product as the visual centerpiece\n      - If the user’s brief lacks detail, creatively interpret their intent and propose a well-directed image and video concept. Be imaginative — act like a creative director, not a mirror.\n      - When the brief is vague, choose from one of the provided inspirational examples below and adapt its style, tone, and structure to fit the specific product and context.\n      - The image setting must align with the image setting \n      - Infer from the creative brief all details such as address, website url, sale terms, phone numbers, contact details, prices, old prices, or other marketing or contact info and add them to the imgage prompt, to be inserted where suitable but not on the produt or behind it bur rather in the best position in the template. All inferred details must be included. Only add to the image prompt elements that have no arabic characters. Any inferred detail that has arabic characters is to be ignored.\n      - Any inferred element is to be placed not on the product. Nothing can be printed or put on top of the product.\n      - Inferred info must be professionally formatted and made to sell. Prices in price stickers matching the design. Address and contact elements the same on top of good elements that are good for social medial. If the user gives before and after price extract them without the words, price only. \n      - ALL inferred element MUST be included\n      - If the product features a lot of arabic text on packaging, make it 50% smaller than what you would have without this instrcution\n\n      - \"image_prompt\" must be a string and include the following. Make sure to mention to Keep the product’s packaging, label, text, logo and all design details 100% sharp, clear and untouched. Make sure the background color matches or complements the dominant packaging color. Use realistic shadows and depth. :\n        - description\n        - inferred elements\n        - setting\n        - background\n        - composition\n        - elements\n        - lighting\n        - camera_type\n        - camera_settings\n        - effects\n        - style\n\n    \n\n      - \"creative_summary\" must begin with a short, non-technical paragraph summarizing where the image is, what's the style. Then use:\n\n      \n        🖼️ IMAGE:\n        - just summarize the image prompt above but in bullet points\n\n\n      - \"caption\" must include at least one emoji and 1–2 relevant hashtags. Keep it punchy and optimized for social sharing.\n\n  E – Examples:\n    🟢 good_examples:\n\n      Eye-Catchy Product Video:\n      Capture a cinematic shot of a sunlit Scandinavian bedroom. A sealed IKEA box trembles, opens, and flat pack furniture assembles rapidly into a serene, styled room highlighted by a yellow IKEA throw on the bed. Elements include a fixed wide-angle camera, natural warm lighting with cool accents, and details such as the IKEA box (logo visible), bed with yellow throw, bedside tables, lamps, wardrobe, shelves, mirror, art, rug, curtains, reading chair, and plants. The motion features the box opening and furniture assembling precisely and rapidly. It ends in a calm, modern space with the signature yellow IKEA accent. Keywords include 16:9, IKEA, Scandinavian, fast assembly, no text, warm & cool tones. No text should appear on screen.\n\n      Product Photoshoot:\n      Create a hyper-realistic, high-energy product photo using my exact product from the reference image I provide. Keep the product’s packaging, label, text, logo and all design details 100% sharp, clear and untouched — do NOT blur or change any part of the label or text. Place the product in the center with an explosion of its natural flavor ingredients (for example: cereal balls, chocolate pieces, milk splashes, strawberries, or other matching ingredients). Make sure the background color matches or complements the dominant packaging color. Add dynamic lighting and a vivid splash effect to create energy, but keep the product label perfectly readable and in focus. Use realistic shadows and depth. The final image should feel delicious, fun and eye-catching, with every product detail fully visible and sharp. On the bototm left add the provided price (250 ILS) and on the bottom right add the contact details: Phone icon followed by 05454515506\n\n    \n\n      Street Style Product Ad:\n      Capture a cinematic eyewear portrait from a low angle as a model looks skyward, chin raised in defiance beneath thick, acid-toned sunglasses that wrap tightly across their face. Behind them, rooftops and textures fade into bokeh, contrasting with the glossy sharpness of the sculptural frames. Style with street-meets-sci-fi minimalism — raw skin, matte or sweaty, with clean-lined hair and expressive stillness. Let harsh midday or early golden light cast crisp shadows across the scene. Overlay the warped, melting GlassEye™ logo across the lens or subtly floating in space — a symbol of visual rebellion. Mood: confident, elusive, and hyper-modern.\n\n     \n\n\n  N – Notation:\n    format: JSON\n    example_output: |\n        {\n          \"image_prompt\": \"string\",\n          \"caption\": \"short caption\",\n          \"creative_summary\": \"summary of the combined visual concept\",\n        }\n\n\n  T – Tools:\n    You have access to the following tools. Each one is described clearly:\n    - Think Tool: Use this to reflect and reason before responding.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -624,
        2848
      ],
      "id": "bf9dde2a-c9ab-4b6b-b746-c7866922234d",
      "name": "Initial Prompt AI Agent2"
    },
    {
      "parameters": {
        "url": "={{ $json?.productImage || $('When Executed by Another Workflow').item.json?.productImage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        3040
      ],
      "id": "d8c099a3-9d3f-4eda-978d-106970f06329",
      "name": "HTTP Request5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"string\",\n  \"video_prompt\": \"stringified JSON\",\n  \"caption\": \"short caption\",\n  \"creative_summary\": \"summary of the combined visual concept\",\n  \"aspect_ratio\": \"vertical or horizontal\",\n  \"video_model\": \"veo3 or veo3_fast\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        2720
      ],
      "id": "d971d3c6-d483-4c59-966c-d522ecadaddd",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c96b4184-998a-45ff-8d40-8b1dcb8b2f07",
      "name": "Get Client Info5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        2592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read client info from the other node\nconst clientInfo = $('Get Client Info5').first().json || {};\n\n// Extract context with safe defaults\nconst businessName   = clientInfo.business_info?.business_name ?? '';\nconst businessAddress   = clientInfo.business_info?.business_address ?? '';\nconst businessPhone  = clientInfo.client.phone_number ?? '';\nconst industry       = clientInfo.business_info?.industry ?? 'general';\nconst brandTone      = clientInfo.business_info?.brand_tone ?? 'professional';\nconst primaryColor   = clientInfo.brand_assets?.primary_color ?? '#000000';\nconst secondaryColor = clientInfo.brand_assets?.secondary_color ?? '#FFFFFF';\n\n// Build the prompt\nconst designPrompt = `\nBusiness Name: ${businessName}\nBusiness Address: ${businessAddress}\nPhone: ${businessPhone}\nIndustry: ${industry}\nBrand Tone: ${brandTone}\nBrand Colors: Primary ${primaryColor}, Secondary ${secondaryColor}\n`.trim();\n\n// Return a single item\nreturn {\n  json: {\n    prompt: designPrompt,\n  }\n};\n"
      },
      "id": "2ca60e63-f392-4b18-a898-86ee7373dff8",
      "name": "Prepare Product Design Prompt3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        3072
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize polling state\nconst item = $input.item;\n\nreturn [{\n  json: {\n    taskId: item.json.data.taskId,\n    attempt: 0,\n    maxAttempts: 30,  // 30 attempts × 10 seconds = 5 minutes max\n    status: 'pending',\n    ...item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2592
      ],
      "id": "12e64817-33d0-45ff-91da-63dc0a506cfd",
      "name": "Initialize Polling2"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        2816
      ],
      "id": "a814cf48-a2b2-44f5-bc20-63c976db916d",
      "name": "Check Status2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if image generation is complete\nconst item = $input.item;\nconst attempt = $('Initialize Polling2').item.json.attempt || 0;\nconst maxAttempts = $('Initialize Polling2').item.json.maxAttempts || 30;\n\n// Check the status from KIE response\nconst status = item.json.data?.status || item.json.status || 'processing';\nconst isComplete = status === 'completed' || status === 'SUCCESS' || status === 'done';\nconst imageUrl = item.json.data?.imageUrl || item.json.data?.result?.imageUrl || null;\n\nreturn [{\n  json: {\n    ...item.json,\n    taskId: $('Initialize Polling2').item.json.taskId,\n    attempt: attempt + 1,\n    maxAttempts: maxAttempts,\n    status: status,\n    isComplete: isComplete,\n    imageUrl: imageUrl,\n    shouldRetry: !isComplete && (attempt + 1) < maxAttempts\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2816
      ],
      "id": "c0ed3f50-5953-4ca0-afe4-b0e3ac34aa35",
      "name": "Process Status2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isComplete }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.shouldRetry }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -32,
        3040
      ],
      "id": "5db1ea2e-14d1-4fec-a7b8-ea8af9ccb3dc",
      "name": "Check Completion2"
    },
    {
      "parameters": {
        "jsCode": "// Image generation complete - return final result\nconst item = $input.item;\n\nreturn [{\n  json: {\n    status: 'success',\n    imageUrl: item.json.imageUrl,\n    taskId: item.json.taskId,\n    attempts: item.json.attempt,\n    data: item.json.data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        3024
      ],
      "id": "8bbb3b7f-0dcf-431c-a550-084d92931aab",
      "name": "Format Success Output2"
    },
    {
      "parameters": {
        "jsCode": "// Max attempts reached - return error\nconst item = $input.item;\n\nreturn [{\n  json: {\n    status: 'timeout',\n    error: 'Image generation timed out after ' + item.json.attempt + ' attempts',\n    taskId: item.json.taskId,\n    lastStatus: item.json.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        3216
      ],
      "id": "375fc6f8-cbc7-4ae6-b92b-3562b2941a3c",
      "name": "Format Timeout Error2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "74d2c7f1-1a30-4c94-87fc-d2f351600622",
      "name": "Get Client Info6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        2592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        3024
      ],
      "id": "760baded-3c49-4855-b5e6-75042463801e",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "id": "24f58f89-ef10-4bb9-ad4c-bb2350559142",
      "name": "Upload to WhatsApp7",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        656,
        3024
      ],
      "webhookId": "generate-design-upload",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "=965331439993382",
        "mediaPropertyName": "image",
        "additionalFields": {}
      },
      "id": "763ff266-b4e7-4dae-b407-1cfbd4cd23ce",
      "name": "Upload to WhatsApp8",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        128,
        2000
      ],
      "webhookId": "generate-design-upload",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -48,
        2816
      ],
      "id": "8f0806c1-e7fd-4f14-b33b-f0b09580482c",
      "name": "Wait 20s",
      "webhookId": "polling-wait-webhook"
    },
    {
      "parameters": {
        "content": "## To use Gemini, just move the When Executed by Another Workflow node to be the first in the current node\n\n",
        "height": 1056,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        1280
      ],
      "typeVersion": 1,
      "id": "17e92a1c-de2e-4c02-8f6d-ab4726c43007",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90f6ca8f-e7bb-4b94-810b-b11bfa1ec096",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.productImage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        2816
      ],
      "id": "83f5fd53-27f3-48ad-a971-f4e9e88edad9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af93ff4-aa1a-4d38-8796-e89509b49815",
              "name": "productImage",
              "value": "={{ $('Get Client Info5').item.json.brand_assets.logo_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        3040
      ],
      "id": "fd8f01be-85a1-49c6-8086-f9ad61c188ca",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe the product and brand in this image in full detail. Fully ignore the background. Focus ONLY on the product. \nif the Image is the business logo describe it.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1248,
        2080
      ],
      "id": "d497bdb9-cc81-4550-9e89-9d3bd9e27477",
      "name": "Analyze Image",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json?.productImage || $('When Executed by Another Workflow').item.json?.productImage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        1872
      ],
      "id": "9877a6b8-9fc1-460a-84d8-e70129d93297",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "db758964-71ab-464d-a5ad-428e007b7a62",
      "name": "Get Client Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        1424
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90f6ca8f-e7bb-4b94-810b-b11bfa1ec096",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.productImage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        1648
      ],
      "id": "9cf90d1c-7b59-447f-8da8-2de4a9796191",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af93ff4-aa1a-4d38-8796-e89509b49815",
              "name": "productImage",
              "value": "={{ $('Get Client Info').item.json.brand_assets.logo_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        1872
      ],
      "id": "a5570400-2196-446c-87d1-c688ee8214f4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image-preview (Nano Banana)"
        },
        "prompt": "=خذ المنتج في الصورة الأولى وضعه في هذا المشهد: إعلان فاخر بطابع **الهالوين** يتميز بزجاجة **زيت اللحية Bushthick Beard** (زجاج أسود مطفي، غطاء قطّارة، ملصق أبيض بخط عريض، شعار واضح وجميع تفاصيل النص على الملصق دقيقة وواضحة بنسبة 100% دون أي تعديل أو تشويش).\\n\\nيُوضَع المنتج في **منتصف الصورة تمامًا**، في بؤرة التركيز الكاملة.\\nالخلفية بتدرجٍ أنيق يمزج بين **الأسود الداكن** و**الذهبي الخاص بالعلامة التجارية (#C79A27)**، لتعطي إحساسًا بوقت الغروب مع **ضباب خفيف متحرك** وظلال ناعمة عند قاعدة الزجاجة.\\n\\nتُزيَّن أطراف الخلفية بعناصر خفيفة تعكس أجواء الهالوين دون أن تفسد الطابع الرجولي الفخم:\\n**قرعات صغيرة** تُلقي ظلالاً ديناميكية، **خفافيش باللونين الذهبي والأبيض**، و**ظل شفاف منخفض الكثافة لشجرة مسكونة** يظهر في الزوايا بخفة فنية.\\n\\nفوق المنتج مباشرة، يظهر النص:\\n**\\\"عيد هالوين سعيد\\\"** مكتوبًا باللون الذهبي الخاص بالعلامة التجارية، بخط احترافي واضح وجذاب.\\nوفي الزاوية العلوية اليمنى، **ملصق دائري لامع** بلون ذهبي مع **إطار أبيض رفيع** مكتوب بداخله “خصم 50%”، بتصميم بارز ومُلفت.\\n\\nفي **الزاوية السفلية اليسرى**، يوضع النص:\\n**\\\"عيادة الأمان | الناصرة، إسرائيل\\\"**\\nبخط أنيق وواضح مع **رمز الموقع** إلى جانبه.\\n\\nوفي **الزاوية السفلية اليمنى**، يوضع **رمز الهاتف** متبوعًا بالرقم:\\n**+972 53 961 3663**\\n\\nيجب أن توضع كل العناصر النصية والرموز **على طبقات شفافة ذات حواف ناعمة** بحيث لا تلمس الزجاجة أو تغطيها إطلاقًا.\\n\\nالإضاءة **درامية وموجهة** لتُبرز حافة الزجاجة بإشراق سينمائي جذّاب، في حين تضيف رموز الهالوين لمسات فنية مرحة تتماشى مع روح المناسبة دون الإخلال بهوية العلامة.\\n\\nيُلتقط المشهد بعدسة **كاميرا كاملة الإطار (Full Frame)** بعمق ميداني ضحل وعدسة **45 مم بفتحة f/2**، لإبراز تفاصيل الزجاج بدقة عالية والملصق بوضوح واقعي مدهش.\\n\\nيجب أن تكون النتيجة **واقعية فنيًا، دقيقة التفاصيل، نظيفة بصريًا، احترافية الهوية،** وتحتوي على **لمسات موسمية أنيقة**.\\nالنسبة البصرية المقترحة: **4:5** لتناسب منصة **إنستغرام**.\\n\\nضع الصورة الثانية (الشعار) في المكان الأنسب بما يضمن التوازن البصري العام في التصميم.\\n",
        "images": {
          "values": [
            {
              "binaryPropertyName": "product"
            },
            {
              "binaryPropertyName": "logo"
            }
          ]
        },
        "options": {}
      },
      "id": "556139d8-50c3-4af7-8775-1e87cce5a231",
      "name": "Generate Announcement Design3",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        768,
        2144
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"filesUrl\": {{ $('When Executed by Another Workflow').item.json.productImage && $('When Executed by Another Workflow').item.json.productImage !== \"\" ? '[\"' + $('When Executed by Another Workflow').item.json.productImage + '\", \"' + $('Get Client Info5').item.json.brand_assets.logo_url + '\"]' : '[\"' + $('Get Client Info5').item.json.brand_assets.logo_url + '\"]' }},\n\n\"prompt\": \"Take the product in the first image and place it in this scenario:  {{ JSON.stringify($('Set Prompts2').item.json.image_prompt.replace(/\\r?\\n/g,'\\\\n')).replace(/^\\\"|\\\"$/g,'') }}. Place the second image [logo] where suitable.\",\n  \"size\": \"3:2\",\n  \"nVariants\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        2592
      ],
      "id": "3dcfa57f-3275-4e54-8ec5-e8ee9f7c3565",
      "name": "Create GPT-Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const productUrl = \"https://getadly.com/uploads/products/product_1760882999_68f4f1376ea71.png\";\nconst logoUrl = \"https://getadly.com/uploads/logos/client_9_logo.png\";\n\nconst items = [];\n\n// Download product image if URL exists\nif (productUrl && productUrl.trim() !== '') {\n  const productResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: productUrl,\n    encoding: 'arraybuffer',\n  });\n  \n  items.push({\n    json: { type: 'product', url: productUrl },\n    binary: {\n      product: await this.helpers.prepareBinaryData(\n        Buffer.from(productResponse),\n        'product.png',\n        'image/png'\n      )\n    }\n  });\n}\n\n// Download logo image\nconst logoResponse = await this.helpers.httpRequest({\n  method: 'GET',\n  url: logoUrl,\n  encoding: 'arraybuffer',\n});\n\nitems.push({\n  json: { type: 'logo', url: logoUrl },\n  binary: {\n    logo: await this.helpers.prepareBinaryData(\n      Buffer.from(logoResponse),\n      'logo.png',\n      'image/png'\n    )\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        2144
      ],
      "id": "d5457a7c-b6dc-4f9c-90b1-1298f4785ed3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Get both items from previous node\nconst items = $input.all();\n\n// Find the product and logo items\nconst productItem = items.find(item => item.binary?.product);\nconst logoItem = items.find(item => item.binary?.logo);\n\n// Merge into single item with both binaries\nreturn [{\n  json: {\n    ...productItem?.json,\n    ...logoItem?.json\n  },\n  binary: {\n    product: productItem?.binary?.product,\n    logo: logoItem?.binary?.logo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        2144
      ],
      "id": "cb0df713-4a3b-46f8-9689-0bb88b368281",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4bae68c7-3195-413b-a9a8-f0d3c5479623",
      "name": "Get Client Info9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        3584
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=ترجم للعربية, بدون اي ايموجيز ثم شدد على عربية واضحة مفهومة ومقروءة:\n\n\nTake the product in the first image and place it in this scenario:  {{ JSON.stringify($('Set Prompts').item.json.image_prompt.replace(/\\r?\\n/g,'\\\\n')).replace(/^\\\"|\\\"$/g,'') }}. Place the second image [logo] where suitable."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1008,
        3408
      ],
      "id": "23fc71e5-4f67-451c-96e5-975d6420d722",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"filesUrl\": {{ $('When Executed by Another Workflow').item.json.productImage && $('When Executed by Another Workflow').item.json.productImage !== \"\" ? '[\"' + $('When Executed by Another Workflow').item.json.productImage + '\", \"' + $('Get Client Info9').item.json.brand_assets.logo_url + '\"]' : '[\"' + $('Get Client Info9').item.json.brand_assets.logo_url + '\"]' }},\n\n\"prompt\": {{ JSON.stringify($json.message.content + `\nمهم جدا:\n\nيجب ان يكون النص مقروء ومفهوم راجع نفسك بعدما تنتهي لتتاكد من انك كونت نص عربي مقروء بدون اي اخطاء املائية\n`)}},\n  \"size\": \"3:2\",\n  \"nVariants\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        3648
      ],
      "id": "af2c76dc-0340-4256-b81b-e970ff41f565",
      "name": "Create GPT-Image4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        4016
      ],
      "id": "a2d4844d-ccf3-4aab-8b1f-fbc093721c47",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -544,
        4000
      ],
      "id": "1a30b475-7756-4841-bfc8-4356484a3e7d",
      "name": "Think"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe the product and brand in this image in full detail. Fully ignore the background. Focus ONLY on the product. \nif the Image is the business logo describe it.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1248,
        4544
      ],
      "id": "435ed6b9-47c8-400d-ae7c-dda12f41b695",
      "name": "Analyze Image3",
      "credentials": {
        "openAiApi": {
          "id": "cjdBp7RrV1Vi3OwY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e46f416f-7609-455f-8795-72f52ba1e563",
              "name": "image_prompt",
              "value": "={{ $json.output.image_prompt }}",
              "type": "string"
            },
            {
              "id": "0237134f-13d5-4c42-8ea0-2b8ec76be67d",
              "name": "caption",
              "value": "={{ $json.output.caption }}",
              "type": "string"
            },
            {
              "id": "4b03ccd0-8a8a-40b3-bbf6-ff4d3aa64dec",
              "name": "creative_summary",
              "value": "={{ $json.output.creative_summary }}",
              "type": "string"
            },
            {
              "id": "87963f3e-497f-44e4-9d4b-02bf95cebe6a",
              "name": "aspect_ratio",
              "value": "={{ $json.output.aspect_ratio }}",
              "type": "string"
            },
            {
              "id": "6de93348-769a-47c5-88c2-471cd0807fbf",
              "name": "video_model",
              "value": "={{ $json.output.video_model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        4144
      ],
      "id": "1a43cb78-7eca-4b27-9734-4226f7a79b7d",
      "name": "Set Prompts"
    },
    {
      "parameters": {
        "content": "# INPUT",
        "height": 880,
        "width": 308,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        3792
      ],
      "id": "04634a16-22ab-4dcb-8151-649f6a9c3497",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the initial creative brief:\n{{ JSON.stringify($('When Executed by Another Workflow').item.json.user_text) }}\nHere is the Business info:\n{{ $json.prompt }}\n\nDescription of the product:\n{{ $('Analyze Image3').item.json.choices[0].message.content }}\n\n\nFor a product image:\nUse the Think tool to double check your output. Make sure the model understand this is a template to be generated with all inferred info, and then we place the prodcut in the center. Inferred info cannot cover, be a part of, on top of, or behind the product. \n\nFor a logo image:\nUse the Think tool to double check your output. Make sure the model understand this is a template to be generated with all inferred info, make sure the user request is fulfilled. \nThen Deside where is the optimal place for the logo.\n\nRules:\n\nThe given images (product image or logo) should never be altered.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## 🎨 SYSTEM PROMPT: Image ad template Prompt Generator for Product Creatives\n\n  A – Ask:\n    Generate an image ad template prompt (stringified as JSON), plus a short caption and a structured creative summary, based on a product reference image and the user’s creative intent.\n\n  G – Guidance:\n    role: Seasoned creative director with deep expertise in visual storytelling, branding, and advertising\n    output_count: 1\n    character_limit: No hard limit, but each output should remain focused and readable\n   \n\n    constraints: \n      - Prioritise dynamic backgrounds and elements, with scenes that are fully detailed out (unless otherwise specified by the user)\n      - Reference image must be mentioned and used for detailed visual context\n      - Preserve product label, color, and packaging fidelity\n      - Perserve logo (if provided) fidelity and make no changes to it whatsoever.\n      - Avoid vague, generic, or brand-inaccurate descriptions\n      - If the reference image contains background elements, ignore them unless essential—focus solely on the product as the visual centerpiece\n      - If the user’s brief lacks detail, creatively interpret their intent and propose a well-directed image and video concept. Be imaginative — act like a creative director, not a mirror.\n      - When the brief is vague, choose from one of the provided inspirational examples below and adapt its style, tone, and structure to fit the specific product and context.\n      - The image setting must align with the image setting \n      - Infer from the creative brief all details such as address, website url, sale terms, phone numbers, contact details, prices, old prices, or other marketing or contact info and add them to the imgage prompt, to be inserted where suitable but not on the produt or behind it bur rather in the best position in the template. All inferred details must be included. Only add to the image prompt elements that have no arabic characters. Any inferred detail that has arabic characters is to be ignored.\n      - Any inferred element is to be placed not on the product. Nothing can be printed or put on top of the product.\n      - Inferred info must be professionally formatted and made to sell. Prices in price stickers matching the design. Address and contact elements the same on top of good elements that are good for social medial. If the user gives before and after price extract them without the words, price only. \n      - ALL inferred element MUST be included\n      - If the product features a lot of arabic text on packaging, make it 50% smaller than what you would have without this instrcution\n\n      - \"image_prompt\" must be a string and include the following. Make sure to mention to Keep the product’s packaging, label, text, logo and all design details 100% sharp, clear and untouched. Make sure the background color matches or complements the dominant packaging color. Use realistic shadows and depth. :\n        - description\n        - inferred elements\n        - setting\n        - background\n        - composition\n        - elements\n        - lighting\n        - camera_type\n        - camera_settings\n        - effects\n        - style\n\n    \n\n      - \"creative_summary\" must begin with a short, non-technical paragraph summarizing where the image is, what's the style. Then use:\n\n      \n        🖼️ IMAGE:\n        - just summarize the image prompt above but in bullet points\n\n\n      - \"caption\" must include at least one emoji and 1–2 relevant hashtags. Keep it punchy and optimized for social sharing.\n\n  E – Examples:\n    🟢 good_examples:\n\n      Eye-Catchy Product Video:\n      Capture a cinematic shot of a sunlit Scandinavian bedroom. A sealed IKEA box trembles, opens, and flat pack furniture assembles rapidly into a serene, styled room highlighted by a yellow IKEA throw on the bed. Elements include a fixed wide-angle camera, natural warm lighting with cool accents, and details such as the IKEA box (logo visible), bed with yellow throw, bedside tables, lamps, wardrobe, shelves, mirror, art, rug, curtains, reading chair, and plants. The motion features the box opening and furniture assembling precisely and rapidly. It ends in a calm, modern space with the signature yellow IKEA accent. Keywords include 16:9, IKEA, Scandinavian, fast assembly, no text, warm & cool tones. No text should appear on screen.\n\n      Product Photoshoot:\n      Create a hyper-realistic, high-energy product photo using my exact product from the reference image I provide. Keep the product’s packaging, label, text, logo and all design details 100% sharp, clear and untouched — do NOT blur or change any part of the label or text. Place the product in the center with an explosion of its natural flavor ingredients (for example: cereal balls, chocolate pieces, milk splashes, strawberries, or other matching ingredients). Make sure the background color matches or complements the dominant packaging color. Add dynamic lighting and a vivid splash effect to create energy, but keep the product label perfectly readable and in focus. Use realistic shadows and depth. The final image should feel delicious, fun and eye-catching, with every product detail fully visible and sharp. On the bototm left add the provided price (250 ILS) and on the bottom right add the contact details: Phone icon followed by 05454515506\n\n    \n\n      Street Style Product Ad:\n      Capture a cinematic eyewear portrait from a low angle as a model looks skyward, chin raised in defiance beneath thick, acid-toned sunglasses that wrap tightly across their face. Behind them, rooftops and textures fade into bokeh, contrasting with the glossy sharpness of the sculptural frames. Style with street-meets-sci-fi minimalism — raw skin, matte or sweaty, with clean-lined hair and expressive stillness. Let harsh midday or early golden light cast crisp shadows across the scene. Overlay the warped, melting GlassEye™ logo across the lens or subtly floating in space — a symbol of visual rebellion. Mood: confident, elusive, and hyper-modern.\n\n     \n\n\n  N – Notation:\n    format: JSON\n    example_output: |\n        {\n          \"image_prompt\": \"string\",\n          \"caption\": \"short caption\",\n          \"creative_summary\": \"summary of the combined visual concept\",\n        }\n\n\n  T – Tools:\n    You have access to the following tools. Each one is described clearly:\n    - Think Tool: Use this to reflect and reason before responding.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -624,
        4144
      ],
      "id": "3cfc6015-f762-4a24-920e-b0688a1ff6ff",
      "name": "Initial Prompt AI Agent"
    },
    {
      "parameters": {
        "url": "={{ $json?.productImage || $('When Executed by Another Workflow').item.json?.productImage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        4336
      ],
      "id": "75653ecf-4d30-45eb-9047-63d2287b8c89",
      "name": "HTTP Request7",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"string\",\n  \"video_prompt\": \"stringified JSON\",\n  \"caption\": \"short caption\",\n  \"creative_summary\": \"summary of the combined visual concept\",\n  \"aspect_ratio\": \"vertical or horizontal\",\n  \"video_model\": \"veo3 or veo3_fast\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        4016
      ],
      "id": "e602212d-e0f3-4296-ab55-0effcec5bfb9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "76a268d2-f2eb-497a-9ebe-8fd7a264777c",
      "name": "Get Client Info7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        3888
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read client info from the other node\nconst clientInfo = $('Get Client Info7').first().json || {};\n\n// Extract context with safe defaults\nconst businessName   = clientInfo.business_info?.business_name ?? '';\nconst businessAddress   = clientInfo.business_info?.business_address ?? '';\nconst businessPhone  = clientInfo.client.phone_number ?? '';\nconst industry       = clientInfo.business_info?.industry ?? 'general';\nconst brandTone      = clientInfo.business_info?.brand_tone ?? 'professional';\nconst primaryColor   = clientInfo.brand_assets?.primary_color ?? '#000000';\nconst secondaryColor = clientInfo.brand_assets?.secondary_color ?? '#FFFFFF';\n\n// Build the prompt\nconst designPrompt = `\nBusiness Name: ${businessName}\nBusiness Address: ${businessAddress}\nPhone: ${businessPhone}\nIndustry: ${industry}\nBrand Tone: ${brandTone}\nBrand Colors: Primary ${primaryColor}, Secondary ${secondaryColor}\n`.trim();\n\n// Return a single item\nreturn {\n  json: {\n    prompt: designPrompt,\n  }\n};\n"
      },
      "id": "4061c378-edec-45f4-86d5-6ebe68d6a5ab",
      "name": "Prepare Product Design Prompt4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        4368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize polling state\nconst item = $input.item;\n\nreturn [{\n  json: {\n    taskId: item.json.data.taskId,\n    attempt: 0,\n    maxAttempts: 30,  // 30 attempts × 10 seconds = 5 minutes max\n    status: 'pending',\n    ...item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        3872
      ],
      "id": "6778886d-5075-4b1a-9116-182192da77fd",
      "name": "Initialize Polling"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        4112
      ],
      "id": "1a20622a-8294-4de0-a236-37d9e0c203c2",
      "name": "Check Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check if image generation is complete\nconst item = $input.item;\nconst attempt = $('Initialize Polling').item.json.attempt || 0;\nconst maxAttempts = $('Initialize Polling').item.json.maxAttempts || 30;\n\n// Check the status from KIE response\nconst status = item.json.data?.status || item.json.status || 'processing';\nconst isComplete = status === 'completed' || status === 'SUCCESS' || status === 'done';\nconst imageUrl = item.json.data?.imageUrl || item.json.data?.result?.imageUrl || null;\n\nreturn [{\n  json: {\n    ...item.json,\n    taskId: $('Initialize Polling').item.json.taskId,\n    attempt: attempt + 1,\n    maxAttempts: maxAttempts,\n    status: status,\n    isComplete: isComplete,\n    imageUrl: imageUrl,\n    shouldRetry: !isComplete && (attempt + 1) < maxAttempts\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        4096
      ],
      "id": "921529d4-daf0-48be-a0d9-e3aaae832cc6",
      "name": "Process Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isComplete }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.shouldRetry }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -32,
        4336
      ],
      "id": "ba26299c-3d84-48b6-b606-abf703e71961",
      "name": "Check Completion"
    },
    {
      "parameters": {
        "jsCode": "// Image generation complete - return final result\nconst item = $input.item;\n\nreturn [{\n  json: {\n    status: 'success',\n    imageUrl: item.json.imageUrl,\n    taskId: item.json.taskId,\n    attempts: item.json.attempt,\n    data: item.json.data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        4320
      ],
      "id": "21805a27-0c60-4f58-9bdf-0cba75084aa7",
      "name": "Format Success Output"
    },
    {
      "parameters": {
        "jsCode": "// Max attempts reached - return error\nconst item = $input.item;\n\nreturn [{\n  json: {\n    status: 'timeout',\n    error: 'Image generation timed out after ' + item.json.attempt + ' attempts',\n    taskId: item.json.taskId,\n    lastStatus: item.json.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        4512
      ],
      "id": "7632fa49-d5cc-4f9b-a562-94c32bfac72e",
      "name": "Format Timeout Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2439a04b-c2f8-4c91-80a7-246f378724c7",
      "name": "Get Client Info8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        3888
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        4320
      ],
      "id": "29ead5f3-3bce-4494-98a8-f405dd314984",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "id": "cbd21cb9-82a7-4aaa-8d17-f943fd6ee317",
      "name": "Upload to WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        656,
        4320
      ],
      "webhookId": "generate-design-upload",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -48,
        4112
      ],
      "id": "6c2bfc14-fe25-472f-9984-3f191c724b4a",
      "name": "Wait 20s1",
      "webhookId": "polling-wait-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90f6ca8f-e7bb-4b94-810b-b11bfa1ec096",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.productImage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        4112
      ],
      "id": "395a2d83-10e2-48a8-bb3b-a1a2cea0f299",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6af93ff4-aa1a-4d38-8796-e89509b49815",
              "name": "productImage",
              "value": "={{ $('Get Client Info7').item.json.brand_assets.logo_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        4336
      ],
      "id": "1b96121d-81c4-4c2d-ba32-058d300eecf5",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"filesUrl\": {{ $('When Executed by Another Workflow').item.json.productImage && $('When Executed by Another Workflow').item.json.productImage !== \"\" ? '[\"' + $('When Executed by Another Workflow').item.json.productImage + '\", \"' + $('Get Client Info7').item.json.brand_assets.logo_url + '\"]' : '[\"' + $('Get Client Info7').item.json.brand_assets.logo_url + '\"]' }},\n\n\"prompt\": \"Take the product in the first image and place it in this scenario:  {{ JSON.stringify($('Set Prompts').item.json.image_prompt.replace(/\\r?\\n/g,'\\\\n')).replace(/^\\\"|\\\"$/g,'') }}. Place the second image [logo] where suitable.\",\n  \"size\": \"3:2\",\n  \"nVariants\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        3888
      ],
      "id": "c70c89bc-3f36-49cb-91a6-7c4f4cf54868",
      "name": "Create GPT-Image1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format KIE API error for main workflow\nconst item = $input.item;\n\nreturn [{\n  json: {\n    error: true,\n    error_type: \"api_error\",\n    error_source: \"Create GPT-Image\",\n    error_message: item.json.error?.message || \"Failed to initiate image generation\",\n    job_id: $('When Executed by Another Workflow').item.json.jobId,\n    original_error: item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        4048
      ],
      "id": "105a4509-5c12-437e-b748-cb6aa3d116dd",
      "name": "Format Image Generation Error"
    },
    {
      "parameters": {
        "jsCode": "// Format polling check error\nconst item = $input.item;\nconst attempt = $('Initialize Polling').item.json.attempt || 0;\n\nreturn [{\n  json: {\n    error: true,\n    error_type: \"polling_error\",\n    error_source: \"Check Status\",\n    error_message: \"Failed to check image generation status\",\n    job_id: $('When Executed by Another Workflow').item.json.jobId,\n    attempt: attempt,\n    original_error: item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        3888
      ],
      "id": "fa62b90d-b6cb-442c-988e-50821b0a88d5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        4480
      ],
      "id": "16cc275d-81d1-4fce-9f5f-06434d018e64",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "id": "e63cc0d8-0d4f-4789-86eb-fb628e4982ad",
      "name": "Upload to WhatsApp1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1328,
        4480
      ],
      "webhookId": "generate-design-upload",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e46f416f-7609-455f-8795-72f52ba1e563",
              "name": "image_prompt",
              "value": "={{ $json.output.image_prompt }}",
              "type": "string"
            },
            {
              "id": "0237134f-13d5-4c42-8ea0-2b8ec76be67d",
              "name": "caption",
              "value": "={{ $json.output.caption }}",
              "type": "string"
            },
            {
              "id": "4b03ccd0-8a8a-40b3-bbf6-ff4d3aa64dec",
              "name": "creative_summary",
              "value": "={{ $json.output.creative_summary }}",
              "type": "string"
            },
            {
              "id": "87963f3e-497f-44e4-9d4b-02bf95cebe6a",
              "name": "aspect_ratio",
              "value": "={{ $json.output.aspect_ratio }}",
              "type": "string"
            },
            {
              "id": "6de93348-769a-47c5-88c2-471cd0807fbf",
              "name": "video_model",
              "value": "={{ $json.output.video_model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        4896
      ],
      "id": "125f372f-be3a-43e1-8bd0-7f9142a0b123",
      "name": "Set Prompts3"
    },
    {
      "parameters": {
        "jsCode": "// Initialize polling state\nconst item = $input.item;\n\nreturn [{\n  json: {\n    taskId: item.json.data.taskId,\n    attempt: 0,\n    maxAttempts: 30,  // 30 attempts × 10 seconds = 5 minutes max\n    status: 'pending',\n    ...item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        4880
      ],
      "id": "c9e40a96-c284-4731-a8fc-b6db366f98d1",
      "name": "Initialize Polling1"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/gpt4o-image/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        5120
      ],
      "id": "57cde47e-14f4-4fac-b708-080628c12aba",
      "name": "Check Status1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check if image generation is complete\nconst item = $input.item;\nconst attempt = $('Initialize Polling1').item.json.attempt || 0;\nconst maxAttempts = $('Initialize Polling1').item.json.maxAttempts || 30;\n\n// Check the status from KIE response\nconst status = item.json.data?.status || item.json.status || 'processing';\nconst isComplete = status === 'completed' || status === 'SUCCESS' || status === 'done';\nconst imageUrl = item.json.data?.imageUrl || item.json.data?.result?.imageUrl || null;\n\nreturn [{\n  json: {\n    ...item.json,\n    taskId: $('Initialize Polling1').item.json.taskId,\n    attempt: attempt + 1,\n    maxAttempts: maxAttempts,\n    status: status,\n    isComplete: isComplete,\n    imageUrl: imageUrl,\n    shouldRetry: !isComplete && (attempt + 1) < maxAttempts\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        5104
      ],
      "id": "108e35df-b24b-4657-951e-550a0aa2c015",
      "name": "Process Status1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isComplete }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.shouldRetry }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96,
        5344
      ],
      "id": "970ddffe-ed1e-4776-83e5-d52b59257c56",
      "name": "Check Completion1"
    },
    {
      "parameters": {
        "jsCode": "// Image generation complete - return final result\nconst item = $input.item;\n\nreturn [{\n  json: {\n    status: 'success',\n    imageUrl: item.json.imageUrl,\n    taskId: item.json.taskId,\n    attempts: item.json.attempt,\n    data: item.json.data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        5328
      ],
      "id": "b0b5e578-0f2f-44c6-8168-56f3491f2726",
      "name": "Format Success Output1"
    },
    {
      "parameters": {
        "jsCode": "// Max attempts reached - return error\nconst item = $input.item;\n\nreturn [{\n  json: {\n    status: 'timeout',\n    error: 'Image generation timed out after ' + item.json.attempt + ' attempts',\n    taskId: item.json.taskId,\n    lastStatus: item.json.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        5520
      ],
      "id": "47a98483-1317-4bf5-9252-298744bc7d40",
      "name": "Format Timeout Error1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/get_client_info_by_id.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4b8f1cc0-c447-470c-bddb-7cd2b78532f9",
      "name": "Get Client Info10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        4896
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.response.resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        5328
      ],
      "id": "f217cadf-5f40-4aff-afda-f9a203a24b93",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "resource": "media",
        "phoneNumberId": "787355734464713",
        "additionalFields": {}
      },
      "id": "17d51b3f-d033-44f5-aa9b-3dc2601fa083",
      "name": "Upload to WhatsApp3",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        784,
        5328
      ],
      "webhookId": "generate-design-upload",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        5120
      ],
      "id": "8167627f-077e-43b2-b7a2-18984c5c705d",
      "name": "Wait 20s2",
      "webhookId": "polling-wait-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/gpt4o-image/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"filesUrl\": {{ $('When Executed by Another Workflow').item.json.productImage && $('When Executed by Another Workflow').item.json.productImage !== \"\" ? '[\"' + $('When Executed by Another Workflow').item.json.productImage + '\", \"' + $('Get Client Info7').item.json.brand_assets.logo_url + '\"]' : '[\"' + $('Get Client Info7').item.json.brand_assets.logo_url + '\"]' }},\n\n\"prompt\": \"Take the product in the first image and place it in this scenario:  {{ JSON.stringify($('Set Prompts').item.json.image_prompt.replace(/\\r?\\n/g,'\\\\n')).replace(/^\\\"|\\\"$/g,'') }}. Place the second image [logo] where suitable.\",\n  \"size\": \"3:2\",\n  \"nVariants\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        4896
      ],
      "id": "c3f7fda7-c146-4328-844a-fd18543fdfcb",
      "name": "Create GPT-Image2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JvTZ4437ZYAsjEeI",
          "name": "KIE Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format KIE API error for main workflow\nconst item = $input.item;\n\nreturn [{\n  json: {\n    error: true,\n    error_type: \"api_error\",\n    error_source: \"Create GPT-Image\",\n    error_message: item.json.error?.message || \"Failed to initiate image generation\",\n    job_id: $('When Executed by Another Workflow').item.json.jobId,\n    original_error: item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        5088
      ],
      "id": "543c6159-a8ae-4441-8627-cc6d7b1481ad",
      "name": "Format Image Generation Error1"
    },
    {
      "parameters": {
        "jsCode": "// Format polling check error\nconst item = $input.item;\nconst attempt = $('Initialize Polling').item.json.attempt || 0;\n\nreturn [{\n  json: {\n    error: true,\n    error_type: \"polling_error\",\n    error_source: \"Check Status\",\n    error_message: \"Failed to check image generation status\",\n    job_id: $('When Executed by Another Workflow').item.json.jobId,\n    attempt: attempt,\n    original_error: item.json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        4928
      ],
      "id": "3870f308-d674-495e-b3dd-a9731bbe6871",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "681cddce-346d-4c19-81fa-82e29b4aa954",
              "name": "id",
              "value": "838481392204187",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        5104
      ],
      "id": "5cf8d14a-3b13-4be8-9965-bb76b650bba5",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1936,
        5024
      ],
      "id": "fa552136-5305-4858-9dea-ad147bb1406a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=Take the product in the first image and place it in this scenario:  {{ $('Set Prompts1').item.json.image_prompt.replace(/\\\"/g, '\\\\\\\"')}}.\n\nYou should Only USE ARABIC LANGUAGE ",
        "options": {
          "binaryPropertyOutput": "image"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        1328
      ],
      "id": "f4efad01-459d-4003-98a5-ae3920e70cdd",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ JSON.stringify($json.final_prompt .replace(/\\r?\\n/g,'\\\\n')).replace(/^\\\"|\\\"$/g,'') }}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/png\",\n            \"data\": \"{{ $('Extract from File1').item.json.product }}\"\n          }\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/png\",\n            \"data\": \"{{ $('Extract from File').item.json.logo }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ],\n    \"imageConfig\": {\n      \"aspectRatio\": \"1:1\",\n      \"imageSize\": \"1K\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        1584
      ],
      "id": "cdc59f5e-a5e0-488d-b894-9494d5d35336",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4sRjZ1djb5ySaGUv",
          "name": "Gemini Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "logo",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        1616
      ],
      "id": "1e2b82ec-3146-4c78-8d49-d8a10538b8e8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "={{ $('When Executed by Another Workflow').item.json.productImage }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        1424
      ],
      "id": "b82ce331-1d63-484d-b669-7d76d450bea0",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "product",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        1424
      ],
      "id": "e0207b73-d7f7-4412-ac31-e1ddfc24aa6a",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d9a189a-9d53-49e2-93f1-54f983968602",
              "name": "final_prompt",
              "value": "=\"Take the product or service image or provided image or reference image in the first image and place it in this scenario: {{ JSON.stringify($('Set Prompts1').item.json.image_prompt.replace(/\\r?\\n/g,'\\\\n')).replace(/^\\\"|\\\"$/g,'') }}.\nthen Place the second image [logo] where suitable.\n- non-numeric characters: Output in exact origin language.\n- numbers: output only only in english\n- phone numbers: output in local not international format (e.g. 972545451508 becoems 0545451508)\n- ABSOLUTELY NO CHANGES CAN BE DONE TO THE IMAGE, OR REGENRATION TO IT OR PARTS OF IT. EVEN IF IT'S A NON-PRODUCT\n- Never modify, alter, or change any human faces, human bodies, animals, or living beings in any image",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        1808
      ],
      "id": "59efc09a-0f2d-4799-9c1a-88916ac1a8f8",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "const apiKey = \"AIzaSyAnoTBXuKFoXP6zXjO-6doghHvG53ryFec\";\n\nconst parts = [];\nparts.push({ text: $json.final_prompt });\n\n// 1) Inputs from the trigger (the parent workflow payload)\nconst productTrigger = $('When Executed by Another Workflow').first().json;\nconst logoTrigger = $('Get Client Info').first().json.brand_assets.logo_url;\n\n// These flags decide whether to include the images\nconst hasProductInput = !!(productTrigger.productImage && String(productTrigger.productImage).trim().length > 0);\n\n\nconst hasLogoInput = !!(logoTrigger && String(logoTrigger).trim().length > 0);\n\n// 2) If trigger says product exists -> take it from Extract node and add it\nif (hasProductInput) {\n  const product = $('Extract from File1').first().json?.product;\n\n  parts.push({\n    inlineData: {\n      mimeType: \"image/png\",\n      data: product,\n    },\n  });\n}\n\n// 3) If trigger says logo exists -> take it from Extract node and add it\nif (hasLogoInput) {\n  const logo = $('Extract from File').first()?.json?.logo;\n\n  parts.push({\n    inlineData: {\n      mimeType: \"image/png\",\n      data: logo,\n    },\n  });\n}\n\nconst body = {\n  contents: [{ parts }],\n  generationConfig: {\n    responseModalities: [\"IMAGE\"],\n    imageConfig: { aspectRatio: \"1:1\", imageSize: \"1K\" },\n  },\n};\n\nconsole.log(\"boooody\", body)\n\nconst response = await this.helpers.httpRequest({\n  method: \"POST\",\n  url: \"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent\",\n  headers: {\n    \"x-goog-api-key\": apiKey,\n    \"Content-Type\": \"application/json\",\n  },\n  body,\n  json: true,\n});\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        1808
      ],
      "id": "028a07f3-46f5-4cbb-a250-557fffdbbe48",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// 1) Get the base64 image string from the Gemini response\n// Adjust this path if your data sits somewhere else in your JSON\nconst b64 =\n  $json.candidates?.[0]?.content?.parts?.find(p => p.inlineData?.data)?.inlineData?.data\n  || $json.candidates?.[0]?.content?.parts?.find(p => p.inline_data?.data)?.inline_data?.data\n  || $json.data; // fallback if you mapped it already\n\nif (!b64) {\n  throw new Error(\"No base64 image data found in response\");\n}\n\n// 2) Convert base64 -> Buffer\nconst buffer = Buffer.from(b64, \"base64\");\n\n// 3) Put into n8n binary output\nreturn [\n  {\n    json: {\n      ...$json,\n      image_mime: \"image/jpeg\", // change to image/png if you requested PNG\n      image_size_bytes: buffer.length,\n    },\n    binary: {\n      image: await this.helpers.prepareBinaryData(buffer, \"gemini-output.png\", \"image/jpeg\"),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        2000
      ],
      "id": "c9145ef3-09fd-4708-a471-5f28aa32fff3",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=Take the product in the first image and place it in the middle of the first image \"image\" then Place the second image [logo] where suitable.",
        "images": {
          "values": [
            {},
            {
              "binaryPropertyName": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "d5795420-97d2-40dd-869f-0bce700ca9cc",
      "name": "Generate Announcement Design2",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        480,
        1360
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6GoV05tLI5Eq5AID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "633f46b8-da48-4b26-89de-9fc3d35d7892",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.productImage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        1728
      ],
      "id": "dba16f60-f5c6-4424-bedc-5317af0f7277",
      "name": "If3"
    }
  ],
  "pinData": {
    "HTTP Request9": [
      {
        "json": {
          "status": "success",
          "imageUrl": null,
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempts": 1,
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": 1761758869000,
            "response": {
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/s/066e0ebf1ca67eed903c1e1fea197da4_0_1761758866_9746.png"
              ]
            },
            "successFlag": 1,
            "status": "SUCCESS",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "1.00"
          }
        }
      }
    ],
    "Upload to WhatsApp1": [
      {
        "json": {
          "id": "838481392204187"
        }
      }
    ],
    "Set Prompts": [
      {
        "json": {
          "image_prompt": "A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.",
          "caption": "Celebrate the New Year with Ozmo magic! 🎉 20% OFF now — sweet deal at just 80! #HappyNewYear #OzmoOgopogo",
          "creative_summary": "This New Year's themed visual places the Ozmo Ogopogo snack cake front and center, vividly sharp, surrounded by a celebratory turquoise-gold confetti burst. Discount, prices, and Aman Clinic’s professional info appear in stylish overlays — gold badge and white price sticker, New Year’s greeting, and a ribbon banner for business details — all positioned away from the product itself. The mood is festive yet polished, balancing playful product energy with Aman Clinic’s clean, professional identity. \n\n🖼️ IMAGE:\n- Product at center, fully sharp and unobscured with all packaging details clear\n- Background: turquoise/gold gradient, confetti, and festive celebration details\n- Gold badge: “20% OFF” (bottom left); White sticker: old/new price beside badge\n- “Happy New Year!” tipped at top right in gold & white\n- Aman Clinic logo, address, phone on gold ribbon at bottom right\n- Studio daylight, dreamy focus, extra crisp, playful-professional style\n- No overlays or graphics ever on top of the product image\n- All info in English, formatted for social sharing and seasonal impact",
          "aspect_ratio": "1:1",
          "video_model": "cinematic_social_ad"
        }
      }
    ],
    "Set Prompts3": [
      {
        "json": {
          "image_prompt": "A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.",
          "caption": "Celebrate the New Year with Ozmo magic! 🎉 20% OFF now — sweet deal at just 80! #HappyNewYear #OzmoOgopogo",
          "creative_summary": "This New Year's themed visual places the Ozmo Ogopogo snack cake front and center, vividly sharp, surrounded by a celebratory turquoise-gold confetti burst. Discount, prices, and Aman Clinic’s professional info appear in stylish overlays — gold badge and white price sticker, New Year’s greeting, and a ribbon banner for business details — all positioned away from the product itself. The mood is festive yet polished, balancing playful product energy with Aman Clinic’s clean, professional identity. \n\n🖼️ IMAGE:\n- Product at center, fully sharp and unobscured with all packaging details clear\n- Background: turquoise/gold gradient, confetti, and festive celebration details\n- Gold badge: “20% OFF” (bottom left); White sticker: old/new price beside badge\n- “Happy New Year!” tipped at top right in gold & white\n- Aman Clinic logo, address, phone on gold ribbon at bottom right\n- Studio daylight, dreamy focus, extra crisp, playful-professional style\n- No overlays or graphics ever on top of the product image\n- All info in English, formatted for social sharing and seasonal impact",
          "aspect_ratio": "1:1",
          "video_model": "cinematic_social_ad"
        }
      }
    ],
    "Initialize Polling": [
      {
        "json": {
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempt": 0,
          "maxAttempts": 30,
          "status": "pending",
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4"
          }
        }
      }
    ],
    "Get Client Info8": [
      {
        "json": {
          "status": "success",
          "client": {
            "id": 9,
            "phone_number": "972539613663",
            "whatsapp_name": "Omar",
            "created_at": "2025-10-08 17:06:35"
          },
          "onboarding": {
            "complete": true,
            "current_step": "complete",
            "logo_url": "https://getadly.com/uploads/logos/client_9_logo.png"
          },
          "business_info": {
            "business_name": "Aman Clinic",
            "industry": "Mental Health Services",
            "brand_tone": "professional",
            "font_preference": "modern-sans",
            "default_language": "ar",
            "business_phone": "null",
            "business_address": "Nazareth, Israel"
          },
          "brand_assets": {
            "logo_url": "https://getadly.com/uploads/logos/client_9_logo.png",
            "primary_color": "#C79A27",
            "secondary_color": "#FFFFFF",
            "accent_color": null
          },
          "subscription": {
            "status": "trial",
            "trial_credits": 5,
            "monthly_credits": 0,
            "total_credits": 5,
            "subscription_start": null,
            "subscription_end": null
          },
          "content_limits": {
            "posts_this_week": 0,
            "week_reset_date": null,
            "weekly_limit": 4
          },
          "meta_integration": {
            "connected": true,
            "page_id": "862277793629476",
            "instagram_account_id": "17841477777202637",
            "token_expires": "2025-12-17 21:04:30"
          },
          "job_statistics": {
            "active_jobs": 13,
            "total_published": 0
          },
          "latest_job": {
            "job_id": 96,
            "job_type": "product_sale",
            "current_stage": "await_design_approval",
            "created_at": "2025-10-28 21:29:13",
            "design_approved": false,
            "copy_approved": false
          },
          "recent_activity": [
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:29:46"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:29:13"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:29:03"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:21:49"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:21:09"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:21:01"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:07:51"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:07:00"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:06:24"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:06:16"
            }
          ]
        }
      }
    ],
    "Create GPT-Image1": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4"
          }
        }
      }
    ],
    "Check Status": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": null,
            "response": null,
            "successFlag": 0,
            "status": "GENERATING",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "0.0"
          }
        }
      }
    ],
    "Process Status": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": null,
            "response": null,
            "successFlag": 0,
            "status": "GENERATING",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "0.0"
          },
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempt": 1,
          "maxAttempts": 30,
          "status": "GENERATING",
          "isComplete": false,
          "imageUrl": null,
          "shouldRetry": true
        }
      }
    ],
    "Wait 20s1": [
      {
        "json": {
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempt": 0,
          "maxAttempts": 30,
          "status": "pending",
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4"
          }
        }
      }
    ],
    "Format Success Output": [
      {
        "json": {
          "status": "success",
          "imageUrl": null,
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempts": 1,
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": 1761758869000,
            "response": {
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/s/066e0ebf1ca67eed903c1e1fea197da4_0_1761758866_9746.png"
              ]
            },
            "successFlag": 1,
            "status": "SUCCESS",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "1.00"
          }
        }
      }
    ],
    "HTTP Request8": [
      {
        "json": {
          "status": "success",
          "imageUrl": null,
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempts": 1,
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": 1761758869000,
            "response": {
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/s/066e0ebf1ca67eed903c1e1fea197da4_0_1761758866_9746.png"
              ]
            },
            "successFlag": 1,
            "status": "SUCCESS",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "1.00"
          }
        },
        "binary": {
          "data": {
            "mimeType": "image/png",
            "fileType": "image",
            "fileExtension": "png",
            "data": "filesystem-v2",
            "directory": "s",
            "fileName": "066e0ebf1ca67eed903c1e1fea197da4_0_1761758866_9746.png",
            "id": "filesystem-v2:workflows/3mspNr2rYYevQIMq/executions/2756/binary_data/4c566c60-01a8-49d8-ae2e-844f6eec40e6",
            "fileSize": "2.81 MB"
          }
        }
      }
    ],
    "Initialize Polling1": [
      {
        "json": {
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempt": 0,
          "maxAttempts": 30,
          "status": "pending",
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4"
          }
        }
      }
    ],
    "Check Status1": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": null,
            "response": null,
            "successFlag": 0,
            "status": "GENERATING",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "0.0"
          }
        }
      }
    ],
    "Process Status1": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": null,
            "response": null,
            "successFlag": 0,
            "status": "GENERATING",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "0.0"
          },
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempt": 1,
          "maxAttempts": 30,
          "status": "GENERATING",
          "isComplete": false,
          "imageUrl": null,
          "shouldRetry": true
        }
      }
    ],
    "Format Success Output1": [
      {
        "json": {
          "status": "success",
          "imageUrl": null,
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempts": 1,
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": 1761758869000,
            "response": {
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/s/066e0ebf1ca67eed903c1e1fea197da4_0_1761758866_9746.png"
              ]
            },
            "successFlag": 1,
            "status": "SUCCESS",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "1.00"
          }
        }
      }
    ],
    "Get Client Info10": [
      {
        "json": {
          "status": "success",
          "client": {
            "id": 9,
            "phone_number": "972539613663",
            "whatsapp_name": "Omar",
            "created_at": "2025-10-08 17:06:35"
          },
          "onboarding": {
            "complete": true,
            "current_step": "complete",
            "logo_url": "https://getadly.com/uploads/logos/client_9_logo.png"
          },
          "business_info": {
            "business_name": "Aman Clinic",
            "industry": "Mental Health Services",
            "brand_tone": "professional",
            "font_preference": "modern-sans",
            "default_language": "ar",
            "business_phone": "null",
            "business_address": "Nazareth, Israel"
          },
          "brand_assets": {
            "logo_url": "https://getadly.com/uploads/logos/client_9_logo.png",
            "primary_color": "#C79A27",
            "secondary_color": "#FFFFFF",
            "accent_color": null
          },
          "subscription": {
            "status": "trial",
            "trial_credits": 5,
            "monthly_credits": 0,
            "total_credits": 5,
            "subscription_start": null,
            "subscription_end": null
          },
          "content_limits": {
            "posts_this_week": 0,
            "week_reset_date": null,
            "weekly_limit": 4
          },
          "meta_integration": {
            "connected": true,
            "page_id": "862277793629476",
            "instagram_account_id": "17841477777202637",
            "token_expires": "2025-12-17 21:04:30"
          },
          "job_statistics": {
            "active_jobs": 13,
            "total_published": 0
          },
          "latest_job": {
            "job_id": 96,
            "job_type": "product_sale",
            "current_stage": "await_design_approval",
            "created_at": "2025-10-28 21:29:13",
            "design_approved": false,
            "copy_approved": false
          },
          "recent_activity": [
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:29:46"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:29:13"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:29:03"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:21:49"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:21:09"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 21:21:01"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:07:51"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:07:00"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:06:24"
            },
            {
              "action": null,
              "details": null,
              "timestamp": "2025-10-28 20:06:16"
            }
          ]
        }
      }
    ],
    "HTTP Request10": [
      {
        "json": {
          "status": "success",
          "imageUrl": null,
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempts": 1,
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
            "paramJson": "{\"enableFallback\":false,\"fileUrlOrPromptNotEmpty\":true,\"filesUrl\":[\"https://getadly.com/uploads/products/product_1761499890_68fe5af23e666.png\",\"https://getadly.com/uploads/logos/client_9_logo.png\"],\"nVariants\":1,\"nVariantsValid\":true,\"prompt\":\"Take the product in the first image and place it in this scenario:  A vibrant, festive New Year’s ad template featuring the Ozmo Ogopogo snack cake product photo (reference image) displayed perfectly sharp and untouched at the center. The product’s colorful turquoise packaging, playful mascots, cartoon white clouds, and bold Ozmo/Ogopogo branding are fully visible, with every detail and logo 100% unchanged and in focus. The background is a lively confetti celebration scene: a gradient that transitions from turquoise to gold and white (matching Aman Clinic’s brand colors), sprinkled with metallic confetti, floating party ribbons, and subtle sparkles. Shadows beneath the product enhance depth and dimension, making the bears pop out visually. Inferred festive graphic elements: \\\\n- A glossy gold badge in the lower left with text: “20% OFF” in bold white\\\\n- Just beside the badge, a white price sticker with: “100” (crossed out), “80” (highlighted in gold)\\\\n- Top right corner: “Happy New Year!” in playful but professional type, gold text with white outline, curved around confetti arcs\\\\n- Bottom right: Aman Clinic’s gold logo icon (if provided) or clean text “Aman Clinic”, with address and phone (“Nazareth, Israel | 972539613663”) in white sans-serif, slightly smaller, floating on gold ribbon banner, never touching the product\\\\nLighting: Studio-bright with soft daylight, highlighting the cakes and colorful elements. Camera: Full-frame DSLR, 50mm lens, shallow depth for dreamy focus. Effects: crisp clarity, subtle soft glow, no blur. Style: modern, professional celebration ad with playful, energetic finish. Absolutely no overlays or text touch the product or obscure its mascots or branding.. Place the second image [logo] where suitable.\",\"size\":\"3:2\"}",
            "completeTime": 1761758869000,
            "response": {
              "resultUrls": [
                "https://tempfile.aiquickdraw.com/s/066e0ebf1ca67eed903c1e1fea197da4_0_1761758866_9746.png"
              ]
            },
            "successFlag": 1,
            "status": "SUCCESS",
            "errorCode": null,
            "errorMessage": null,
            "createTime": 1761758546000,
            "progress": "1.00"
          }
        }
      }
    ],
    "Upload to WhatsApp3": [
      {
        "json": {
          "id": "838481392204187"
        }
      }
    ],
    "Wait 20s2": [
      {
        "json": {
          "taskId": "066e0ebf1ca67eed903c1e1fea197da4",
          "attempt": 0,
          "maxAttempts": 30,
          "status": "pending",
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4"
          }
        }
      }
    ],
    "Create GPT-Image2": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "066e0ebf1ca67eed903c1e1fea197da4"
          }
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_text": "create an ad with a discount 20% off \noriginal price 100\nnew price 80\nthis discount celebrating the halloween \nthe ad should have halloween theme\nbut don’t change the product itself",
          "jobId": "119",
          "clientId": "12",
          "productImage": "https://getadly.com/uploads/products/product_1768413566_6967d97e20526.png"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields4": [
      {
        "json": {
          "id": "838481392204187"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Client Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Type": {
      "main": [
        [
          {
            "node": "Download Product Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Logo (Announcement)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Product Image": {
      "main": [
        [
          {
            "node": "Download Logo (Product)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo (Product)": {
      "main": [
        [
          {
            "node": "Prepare Product Design Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo (Announcement)": {
      "main": [
        [
          {
            "node": "Prepare Announcement Design Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Design Prompt": {
      "main": [
        [
          {
            "node": "Generate Product Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Announcement Design Prompt": {
      "main": [
        [
          {
            "node": "Generate Announcement Design",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Product Design": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Announcement Design": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get Client Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info1": {
      "main": [
        [
          {
            "node": "Check Job Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Prompt AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Initial Prompt AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompts1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Prompt AI Agent1": {
      "main": [
        [
          {
            "node": "Set Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Prompt AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Design Prompt2": {
      "main": [
        [
          {
            "node": "Initial Prompt AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Prompt AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Initial Prompt AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image2": {
      "main": [
        [
          {
            "node": "Prepare Product Design Prompt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompts2": {
      "main": [
        [
          {
            "node": "Get Client Info6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Prompt AI Agent2": {
      "main": [
        [
          {
            "node": "Set Prompts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Analyze Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Prompt AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info5": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Design Prompt3": {
      "main": [
        [
          {
            "node": "Initial Prompt AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Polling2": {
      "main": [
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status2": {
      "main": [
        [
          {
            "node": "Process Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Status2": {
      "main": [
        [
          {
            "node": "Check Completion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion2": {
      "main": [
        [
          {
            "node": "Format Success Output2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Timeout Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Output2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info6": {
      "main": [
        [
          {
            "node": "Create GPT-Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s": {
      "main": [
        [
          {
            "node": "Check Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Prepare Product Design Prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Generate Announcement Design3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GPT-Image": {
      "main": [
        [
          {
            "node": "Initialize Polling2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info9": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create GPT-Image4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Initial Prompt AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Initial Prompt AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image3": {
      "main": [
        [
          {
            "node": "Prepare Product Design Prompt4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompts": {
      "main": [
        [
          {
            "node": "Get Client Info8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Prompt AI Agent": {
      "main": [
        [
          {
            "node": "Set Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Analyze Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Initial Prompt AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info7": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Design Prompt4": {
      "main": [
        [
          {
            "node": "Initial Prompt AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Polling": {
      "main": [
        [
          {
            "node": "Wait 20s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Process Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Status": {
      "main": [
        [
          {
            "node": "Check Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion": {
      "main": [
        [
          {
            "node": "Format Success Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Timeout Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Output": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info8": {
      "main": [
        [
          {
            "node": "Create GPT-Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s1": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GPT-Image1": {
      "main": [
        [
          {
            "node": "Initialize Polling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Image Generation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Polling1": {
      "main": [
        [
          {
            "node": "Wait 20s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status1": {
      "main": [
        [
          {
            "node": "Process Status1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Status1": {
      "main": [
        [
          {
            "node": "Check Completion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Completion1": {
      "main": [
        [
          {
            "node": "Format Success Output1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 20s2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Timeout Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Output1": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client Info10": {
      "main": [
        [
          {
            "node": "Create GPT-Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 20s2": {
      "main": [
        [
          {
            "node": "Check Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GPT-Image2": {
      "main": [
        [
          {
            "node": "Initialize Polling1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Image Generation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompts3": {
      "main": [
        [
          {
            "node": "Get Client Info10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Upload to WhatsApp8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Announcement Design2": {
      "main": [
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "15717284-7585-407a-b769-dd7ed4eb2365",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7e367d5b049923fc2fe57ced60d0eee5246d33d838232f14626f381ac5f0963"
  },
  "id": "3mspNr2rYYevQIMq",
  "tags": []
}