docs/n8n/Publish Post.json
{
  "name": "Publish Post",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "clientId"
            },
            {
              "name": "jobId"
            },
            {
              "name": "clientPhone"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2240,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://getadly.com/api/meta_oauth.php?client_id={{ $json.clientId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2016,
        288
      ],
      "id": "3f88a21f-1dad-4d17-8420-eb03e4cb6541",
      "name": "Check Meta Auth Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "auth-check",
                    "leftValue": "={{ $json.connected }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "not-expired",
                    "leftValue": "={{ $json.expires_soon }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Authorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "not-auth",
                    "leftValue": "={{ $json.connected }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Not Authorized"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1792,
        272
      ],
      "id": "4d6fd8e6-e0fb-4136-af07-0ad83ebf3100",
      "name": "Is Authorized?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "auth-url",
              "name": "authUrl",
              "value": "=https://getadly.com/api/meta_oauth_complete.php?action=start&client_id={{ $('When Executed by Another Workflow').item.json.clientId }}",
              "type": "string"
            },
            {
              "id": "client-phone",
              "name": "clientPhone",
              "value": "={{ $('When Executed by Another Workflow').item.json.clientPhone }}",
              "type": "string"
            },
            {
              "id": "job-id",
              "name": "jobId",
              "value": "={{ $('When Executed by Another Workflow').item.json.jobId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        208
      ],
      "id": "e008cdc5-e062-4d74-b964-38fa7a2a2e0e",
      "name": "Prepare Auth Message"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.clientPhone }}",
        "textBody": "=🔐 **Authorization Required**\n\nTo publish to Facebook & Instagram, please authorize Adly:\n\n👉 {{ $json.authUrl }}\n\nAfter authorization, I'll publish your ad automatically! ✅",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1344,
        208
      ],
      "id": "c9451112-d7f5-4b8d-9483-e91fcaa97be6",
      "name": "Send Auth Link",
      "webhookId": "f4c9c21b-ed3d-4a99-9085-dcf1c95fc12d",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1120,
        208
      ],
      "id": "eba2e577-0557-4922-ac3b-8131177db5c9",
      "name": "Wait for Authorization",
      "webhookId": "meta-auth-wait"
    },
    {
      "parameters": {
        "url": "=https://getadly.com/api/meta_oauth.php?client_id={{ $('When Executed by Another Workflow').item.json.clientId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        208
      ],
      "id": "ce2ec9de-0184-46a3-9d5e-db96c8e5f1a6",
      "name": "Recheck Auth Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "now-auth",
                    "leftValue": "={{ $json.connected }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Now Authorized"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -672,
        208
      ],
      "id": "aced441f-fd85-4edc-94dc-2fef642ac91b",
      "name": "Auth Complete?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://getadly.com/api/publish.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"job_id\": {{ $('When Executed by Another Workflow').item.json.jobId }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -80
      ],
      "id": "f5c2f8fc-6684-4204-84a6-bc7173b6c73b",
      "name": "Publish to Meta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YCgJKAnpFInsQ5y4",
          "name": "Adly Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "pub-success",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "published",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "pub-partial",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "partial_failure",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Partial Success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        0
      ],
      "id": "435cbd4a-92a6-4986-aa9a-1e3aa2e1916b",
      "name": "Check Publish Result"
    },
    {
      "parameters": {
        "jsCode": "// Format success message with post URLs\nconst results = $input.item.json.results || {};\nconst fbResult = results.facebook || {};\nconst igResult = results.instagram || {};\n\nlet message = '🎉 **Published Successfully!**\\n\\n';\n\nif (fbResult.success) {\n  const fbUrl = `https://facebook.com/${fbResult.post_id}`;\n  message += `✅ Facebook: ${fbUrl}\\n`;\n}\n\nif (igResult.success) {\n  const instUrl = igResult.permalink || 'Published to Instagram';\n  message += `✅ Instagram: ${instUrl}\\n`;\n}\n\nmessage += '\\nYour ad is now live! 🚀';\n\nconst facebookUrl = fbResult.post_id ? `https://facebook.com/${fbResult.post_id}` : '';\nconst instagramUrl = igResult.permalink || '';\n\nreturn [{\n  json: {\n    message: message,\n    clientPhone: $('When Executed by Another Workflow').item.json.clientPhone,\n    facebook_url: facebookUrl,\n    instagram_url: instagramUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -80
      ],
      "id": "40159d35-6cc1-42c8-b6f4-ee2dafcee0e3",
      "name": "Format Success Message"
    },
    {
      "parameters": {
        "jsCode": "// Format partial success message\nconst results = $input.item.json.results || {};\nconst fbResult = results.facebook || {};\nconst igResult = results.instagram || {};\n\nlet message = '⚠️ **Partial Success**\\n\\n';\n\nif (fbResult.success) {\n  const fbUrl = `https://facebook.com/${fbResult.post_id}`;\n  message += `✅ Facebook: ${fbUrl}\\n`;\n} else {\n  message += `❌ Facebook: ${fbResult.error || 'Failed'}\\n`;\n}\n\nif (igResult.success) {\n  const instUrl = igResult.permalink || 'Published to Instagram';\n  message += `✅ Instagram: ${instUrl}\\n`;\n} else {\n  message += `❌ Instagram: ${igResult.error || 'Failed'}\\n`;\n}\n\nconst facebookUrl = fbResult.post_id ? `https://facebook.com/${fbResult.post_id}` : '';\nconst instagramUrl = igResult.permalink || '';\n\nreturn [{\n  json: {\n    message: message,\n    clientPhone: $('When Executed by Another Workflow').item.json.clientPhone,\n    facebook_url: facebookUrl,\n    instagram_url: instagramUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        112
      ],
      "id": "53351c3f-8693-42ed-aaf6-bb419b49672b",
      "name": "Format Partial Message"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $json.clientPhone }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        224,
        -80
      ],
      "id": "60c30840-6ab4-4603-bcb3-6d32ed432967",
      "name": "Send Success Message",
      "webhookId": "3a8dfe14-628d-4643-9449-1330587cc208",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('When Executed by Another Workflow').item.json.clientPhone }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        208,
        112
      ],
      "id": "6100e6ca-e8c2-47e0-9cf7-70442a298775",
      "name": "Send Partial Message",
      "webhookId": "ce884e4d-31cb-43ed-be17-6c1371b2ac85",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('When Executed by Another Workflow').item.json.clientPhone }}",
        "textBody": "❌ Publishing failed. Please try again or contact support.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "73dba1f5-0295-4cfc-984d-bff21c846a44",
      "name": "Send Failure Message",
      "webhookId": "42b9029d-cc63-4955-9cf0-05af65655ad7",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('When Executed by Another Workflow').item.json.clientPhone }}",
        "textBody": "⏰ Authorization timeout. Please try again and complete the authorization within 30 seconds.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -448,
        240
      ],
      "id": "e52faa57-fe66-426c-802c-5ffa25fbf915",
      "name": "Send Timeout Message",
      "webhookId": "89f8855f-1e59-47d7-b216-13c3c09b848b",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=965331439993382",
        "recipientPhoneNumber": "={{ $('When Executed by Another Workflow').item.json.clientPhone }}",
        "textBody": "⏰ Authorization timeout. Please try again and complete the authorization within 30 seconds.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1568,
        400
      ],
      "id": "15045f71-f10c-4bd5-a860-9a9ce23645ef",
      "name": "Send Timeout Message1",
      "webhookId": "89f8855f-1e59-47d7-b216-13c3c09b848b",
      "credentials": {
        "whatsAppApi": {
          "id": "eefrABRFJOQa66PK",
          "name": "WhatsApp account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "clientId": "12",
          "jobId": "174",
          "clientPhone": "972539613663"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Meta Auth Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Meta Auth Status": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Publish to Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Auth Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Timeout Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Auth Message": {
      "main": [
        [
          {
            "node": "Send Auth Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auth Link": {
      "main": [
        [
          {
            "node": "Wait for Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Authorization": {
      "main": [
        [
          {
            "node": "Recheck Auth Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recheck Auth Status": {
      "main": [
        [
          {
            "node": "Auth Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Complete?": {
      "main": [
        [
          {
            "node": "Publish to Meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Timeout Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Meta": {
      "main": [
        [
          {
            "node": "Check Publish Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Auth Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publish Result": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Partial Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Failure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          {
            "node": "Send Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Partial Message": {
      "main": [
        [
          {
            "node": "Send Partial Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4146430-2884-418a-9ac7-eb5e6cd4b307",
  "meta": {
    "instanceId": "a7e367d5b049923fc2fe57ced60d0eee5246d33d838232f14626f381ac5f0963"
  },
  "id": "x8Z6O91JTIVSvniV",
  "tags": []
}